{:type :info, :f :start, :process :nemesis, :time 10162094700, :index 2144}
{:type :info, :f :start, :process :nemesis, :time 10301160500, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 2157}
{:type :info, :f :stop, :process :nemesis, :time 20301836000, :index 4086}
{:type :info, :f :stop, :process :nemesis, :time 20551050600, :value :network-healed, :index 4121}
{:type :info, :f :start, :process :nemesis, :time 30551586100, :index 6117}
{:type :info, :f :start, :process :nemesis, :time 32579652600, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 6560}
{:type :info, :f :stop, :process :nemesis, :time 42579994400, :index 8411}
{:type :info, :f :stop, :process :nemesis, :time 42736554700, :value :network-healed, :index 8431}
{:type :info, :f :start, :process :nemesis, :time 52736796900, :index 10321}
{:type :info, :f :start, :process :nemesis, :time 52851410900, :value [:isolated {"n2" #{"n5" "n4" "n3"}, "n1" #{"n5" "n4" "n3"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}, "n3" #{"n2" "n1"}}], :index 10340}
{:type :info, :f :stop, :process :nemesis, :time 62851662300, :index 12351}
{:type :info, :f :stop, :process :nemesis, :time 63169804500, :value :network-healed, :index 12403}
{:type :info, :f :start, :process :nemesis, :time 73170095300, :index 14339}
{:type :info, :f :start, :process :nemesis, :time 73326813700, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 14352}
{:type :info, :f :stop, :process :nemesis, :time 83327474400, :index 16384}
{:type :info, :f :stop, :process :nemesis, :time 83493609600, :value :network-healed, :index 16403}
{:type :info, :f :start, :process :nemesis, :time 93494135200, :index 18520}
{:type :info, :f :start, :process :nemesis, :time 93611475500, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 18546}
{:type :invoke, :f :write, :value 0, :process 9894, :time 99763768000, :index 19817}
{:type :invoke, :f :write, :value 4, :process 9917, :time 99767897200, :index 19819}
{:type :info, :f :write, :value 4, :process 9917, :time 99772480200, :error "indeterminate: Connection refused (Connection refused)", :index 19820}
{:type :info, :f :write, :value 0, :process 9894, :time 99775665900, :error "indeterminate: Connection refused (Connection refused)", :index 19821}
{:type :invoke, :f :read, :value nil, :process 9855, :time 99797514100, :index 19822}
{:type :info, :f :read, :value nil, :process 9855, :time 99802371700, :error "indeterminate: Connection refused (Connection refused)", :index 19823}
{:type :invoke, :f :cas, :value [3 3], :process 9903, :time 99805759100, :index 19824}
{:type :info, :f :cas, :value [3 3], :process 9903, :time 99810836300, :error "indeterminate: Connection refused (Connection refused)", :index 19825}
{:type :invoke, :f :cas, :value [4 2], :process 9899, :time 99815415900, :index 19826}
{:type :invoke, :f :write, :value 0, :process 9941, :time 99820173500, :index 19827}
{:type :info, :f :cas, :value [4 2], :process 9899, :time 99824805400, :error "indeterminate: Connection refused (Connection refused)", :index 19828}
{:type :info, :f :write, :value 0, :process 9941, :time 99825902000, :error "indeterminate: Connection refused (Connection refused)", :index 19829}
{:type :invoke, :f :cas, :value [1 0], :process 9860, :time 99830086500, :index 19830}
{:type :invoke, :f :read, :value nil, :process 9922, :time 99835168500, :index 19831}
{:type :info, :f :cas, :value [1 0], :process 9860, :time 99839601800, :error "indeterminate: Connection refused (Connection refused)", :index 19832}
{:type :info, :f :read, :value nil, :process 9922, :time 99839947200, :error "indeterminate: Connection refused (Connection refused)", :index 19833}
{:type :invoke, :f :write, :value 2, :process 9908, :time 99846502000, :index 19834}
{:type :invoke, :f :read, :value nil, :process 9865, :time 99847283200, :index 19835}
{:type :info, :f :write, :value 2, :process 9908, :time 99851327100, :error "indeterminate: Connection refused (Connection refused)", :index 19836}
{:type :info, :f :read, :value nil, :process 9865, :time 99851554800, :error "indeterminate: Connection refused (Connection refused)", :index 19837}
{:type :invoke, :f :write, :value 4, :process 9927, :time 99851974900, :index 19838}
{:type :info, :f :write, :value 4, :process 9927, :time 99860970900, :error "indeterminate: Connection refused (Connection refused)", :index 19839}
{:type :invoke, :f :write, :value 1, :process 9946, :time 99873575600, :index 19840}
{:type :invoke, :f :cas, :value [3 2], :process 9870, :time 99873430600, :index 19841}
{:type :info, :f :write, :value 1, :process 9946, :time 99883169200, :error "indeterminate: Connection refused (Connection refused)", :index 19842}
{:type :info, :f :cas, :value [3 2], :process 9870, :time 99884697100, :error "indeterminate: Connection refused (Connection refused)", :index 19843}
{:type :invoke, :f :cas, :value [2 4], :process 9904, :time 99886040200, :index 19844}
{:type :info, :f :cas, :value [2 4], :process 9904, :time 99893525700, :error "indeterminate: Connection refused (Connection refused)", :index 19845}
{:type :invoke, :f :write, :value 0, :process 9875, :time 99895785500, :index 19846}
{:type :info, :f :write, :value 0, :process 9875, :time 99901587400, :error "indeterminate: Connection refused (Connection refused)", :index 19847}
{:type :invoke, :f :cas, :value [1 1], :process 9909, :time 99906763500, :index 19848}
{:type :invoke, :f :read, :value nil, :process 9913, :time 99908029300, :index 19849}
{:type :invoke, :f :read, :value nil, :process 9951, :time 99913177800, :index 19850}
{:type :info, :f :cas, :value [1 1], :process 9909, :time 99917707200, :error "indeterminate: Connection refused (Connection refused)", :index 19851}
{:type :invoke, :f :read, :value nil, :process 9932, :time 99917789900, :index 19852}
{:type :info, :f :read, :value nil, :process 9913, :time 99924345000, :error "indeterminate: Connection refused (Connection refused)", :index 19853}
{:type :info, :f :read, :value nil, :process 9932, :time 99924513200, :error "indeterminate: Connection refused (Connection refused)", :index 19854}
{:type :info, :f :read, :value nil, :process 9951, :time 99938722300, :error "indeterminate: Connection refused (Connection refused)", :index 19855}
{:type :invoke, :f :write, :value 4, :process 9914, :time 99944172700, :index 19856}
{:type :info, :f :write, :value 4, :process 9914, :time 99951099300, :error "indeterminate: Connection refused (Connection refused)", :index 19857}
{:type :invoke, :f :read, :value nil, :process 9918, :time 99955429000, :index 19858}
{:type :invoke, :f :write, :value 4, :process 9937, :time 99959090400, :index 19859}
{:type :info, :f :read, :value nil, :process 9918, :time 99960587400, :error "indeterminate: Connection refused (Connection refused)", :index 19860}
{:type :invoke, :f :read, :value nil, :process 9880, :time 99962777500, :index 19861}
{:type :info, :f :write, :value 4, :process 9937, :time 99973290900, :error "indeterminate: Connection refused (Connection refused)", :index 19862}
{:type :info, :f :read, :value nil, :process 9880, :time 99974835800, :error "indeterminate: Connection refused (Connection refused)", :index 19863}
{:type :invoke, :f :write, :value 1, :process 9885, :time 99980986600, :index 19864}
{:type :info, :f :write, :value 1, :process 9885, :time 99987457200, :error "indeterminate: Connection refused (Connection refused)", :index 19865}
{:type :invoke, :f :write, :value 2, :process 9956, :time 99999654400, :index 19866}
{:type :invoke, :f :cas, :value [3 0], :process 9923, :time 99999949800, :index 19867}
{:type :info, :f :write, :value 2, :process 9956, :time 100006129700, :error "indeterminate: Connection refused (Connection refused)", :index 19868}
{:type :info, :f :cas, :value [3 0], :process 9923, :time 100005852800, :error "indeterminate: Connection refused (Connection refused)", :index 19869}
{:type :invoke, :f :cas, :value [3 1], :process 9890, :time 100008663300, :index 19870}
{:type :invoke, :f :cas, :value [0 3], :process 9919, :time 100014817600, :index 19871}
{:type :info, :f :cas, :value [0 3], :process 9919, :time 100023544200, :error "indeterminate: Connection refused (Connection refused)", :index 19872}
{:type :info, :f :cas, :value [3 1], :process 9890, :time 100023735400, :error "indeterminate: Connection refused (Connection refused)", :index 19873}
{:type :invoke, :f :read, :value nil, :process 9928, :time 100026269500, :index 19874}
{:type :info, :f :read, :value nil, :process 9928, :time 100033952300, :error "indeterminate: Connection refused (Connection refused)", :index 19875}
{:type :invoke, :f :write, :value 0, :process 9942, :time 100038186400, :index 19876}
{:type :info, :f :write, :value 0, :process 9942, :time 100044497700, :error "indeterminate: Connection refused (Connection refused)", :index 19877}
{:type :invoke, :f :write, :value 0, :process 9961, :time 100046992400, :index 19878}
{:type :info, :f :write, :value 0, :process 9961, :time 100051722100, :error "indeterminate: Connection refused (Connection refused)", :index 19879}
{:type :invoke, :f :write, :value 1, :process 9895, :time 100056354200, :index 19880}
{:type :info, :f :write, :value 1, :process 9895, :time 100062332300, :error "indeterminate: Connection refused (Connection refused)", :index 19881}
{:type :invoke, :f :cas, :value [2 0], :process 9924, :time 100065816300, :index 19882}
{:type :info, :f :cas, :value [2 0], :process 9924, :time 100071291300, :error "indeterminate: Connection refused (Connection refused)", :index 19883}
{:type :invoke, :f :read, :value nil, :process 9900, :time 100072481400, :index 19884}
{:type :info, :f :read, :value nil, :process 9900, :time 100080135300, :error "indeterminate: Connection refused (Connection refused)", :index 19885}
{:type :invoke, :f :cas, :value [4 0], :process 9947, :time 100092066500, :index 19886}
{:type :invoke, :f :cas, :value [2 0], :process 9933, :time 100098036700, :index 19887}
{:type :info, :f :cas, :value [4 0], :process 9947, :time 100106292500, :error "indeterminate: Connection refused (Connection refused)", :index 19888}
{:type :info, :f :cas, :value [2 0], :process 9933, :time 100106624200, :error "indeterminate: Connection refused (Connection refused)", :index 19889}
{:type :invoke, :f :read, :value nil, :process 9966, :time 100107223500, :index 19890}
{:type :invoke, :f :read, :value nil, :process 9905, :time 100112310300, :index 19891}
{:type :invoke, :f :write, :value 4, :process 9929, :time 100112564600, :index 19892}
{:type :info, :f :read, :value nil, :process 9966, :time 100121788100, :error "indeterminate: Connection refused (Connection refused)", :index 19893}
{:type :info, :f :write, :value 4, :process 9929, :time 100121638100, :error "indeterminate: Connection refused (Connection refused)", :index 19894}
{:type :info, :f :read, :value nil, :process 9905, :time 100128129900, :error "indeterminate: Connection refused (Connection refused)", :index 19895}
{:type :invoke, :f :write, :value 4, :process 9938, :time 100151343800, :index 19896}
{:type :invoke, :f :write, :value 4, :process 9910, :time 100151621500, :index 19897}
{:type :invoke, :f :write, :value 1, :process 9952, :time 100154392700, :index 19898}
{:type :info, :f :write, :value 4, :process 9938, :time 100155751300, :error "indeterminate: Connection refused (Connection refused)", :index 19899}
{:type :info, :f :write, :value 4, :process 9910, :time 100162461500, :error "indeterminate: Connection refused (Connection refused)", :index 19900}
{:type :info, :f :write, :value 1, :process 9952, :time 100163065600, :error "indeterminate: Connection refused (Connection refused)", :index 19901}
