{:type :info, :f :start, :process :nemesis, :time 10232839700, :index 2130}
{:type :info, :f :start, :process :nemesis, :time 10361981600, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 2153}
{:type :info, :f :stop, :process :nemesis, :time 20362306400, :index 4387}
{:type :info, :f :stop, :process :nemesis, :time 20527932800, :value :network-healed, :index 4421}
{:type :info, :f :start, :process :nemesis, :time 30528470400, :index 6689}
{:type :info, :f :start, :process :nemesis, :time 32675272700, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 7147}
{:type :info, :f :stop, :process :nemesis, :time 42675636400, :index 9390}
{:type :info, :f :stop, :process :nemesis, :time 44737422400, :value :network-healed, :index 9816}
{:type :info, :f :start, :process :nemesis, :time 54737633500, :index 12080}
{:type :info, :f :start, :process :nemesis, :time 54860658300, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 12112}
{:type :invoke, :f :cas, :value [0 2], :process 6398, :time 59977811400, :index 13203}
{:type :info, :f :cas, :value [0 2], :process 6398, :time 59982854800, :error "indeterminate: Connection refused (Connection refused)", :index 13205}
{:type :invoke, :f :read, :value nil, :process 6699, :time 60011077800, :index 13210}
{:type :info, :f :read, :value nil, :process 6699, :time 60016401100, :error "indeterminate: Connection refused (Connection refused)", :index 13211}
{:type :invoke, :f :read, :value nil, :process 6667, :time 60025538700, :index 13212}
{:type :info, :f :read, :value nil, :process 6667, :time 60031460300, :error "indeterminate: Connection refused (Connection refused)", :index 13213}
{:type :invoke, :f :cas, :value [1 4], :process 6704, :time 60030638900, :index 13214}
{:type :invoke, :f :write, :value 0, :process 6650, :time 60040073600, :index 13217}
{:type :invoke, :f :read, :value nil, :process 6403, :time 60045987400, :index 13218}
{:type :info, :f :cas, :value [1 4], :process 6704, :time 60052330100, :error "indeterminate: Connection refused (Connection refused)", :index 13219}
{:type :info, :f :read, :value nil, :process 6403, :time 60055545400, :error "indeterminate: Connection refused (Connection refused)", :index 13220}
{:type :info, :f :write, :value 0, :process 6650, :time 60055674900, :error "indeterminate: Connection refused (Connection refused)", :index 13221}
{:type :invoke, :f :read, :value nil, :process 6672, :time 60063569900, :index 13222}
{:type :invoke, :f :cas, :value [1 0], :process 6596, :time 60067006000, :index 13223}
{:type :info, :f :cas, :value [1 0], :process 6596, :time 60076325400, :error "indeterminate: Connection refused (Connection refused)", :index 13224}
{:type :invoke, :f :write, :value 3, :process 6709, :time 60075603900, :index 13225}
{:type :info, :f :write, :value 3, :process 6709, :time 60086728900, :error "indeterminate: Connection refused (Connection refused)", :index 13226}
{:type :info, :f :read, :value nil, :process 6672, :time 60086907700, :error "indeterminate: Connection refused (Connection refused)", :index 13227}
{:type :invoke, :f :write, :value 0, :process 6655, :time 60098778700, :index 13228}
{:type :info, :f :write, :value 0, :process 6655, :time 60103824800, :error "indeterminate: Connection refused (Connection refused)", :index 13229}
{:type :invoke, :f :cas, :value [0 2], :process 6408, :time 60106006700, :index 13230}
{:type :info, :f :cas, :value [0 2], :process 6408, :time 60114994000, :error "indeterminate: Connection refused (Connection refused)", :index 13231}
{:type :invoke, :f :cas, :value [4 0], :process 6677, :time 60136923400, :index 13232}
{:type :info, :f :cas, :value [4 0], :process 6677, :time 60142795500, :error "indeterminate: Connection refused (Connection refused)", :index 13233}
{:type :invoke, :f :write, :value 3, :process 6714, :time 60143889500, :index 13234}
{:type :invoke, :f :write, :value 3, :process 6601, :time 60147419400, :index 13235}
{:type :info, :f :write, :value 3, :process 6714, :time 60151428300, :error "indeterminate: Connection refused (Connection refused)", :index 13236}
{:type :info, :f :write, :value 3, :process 6601, :time 60152353900, :error "indeterminate: Connection refused (Connection refused)", :index 13237}
{:type :invoke, :f :read, :value nil, :process 6660, :time 60161919100, :index 13238}
{:type :invoke, :f :write, :value 0, :process 6682, :time 60166330600, :index 13239}
{:type :info, :f :read, :value nil, :process 6660, :time 60166783400, :error "indeterminate: Connection refused (Connection refused)", :index 13240}
{:type :info, :f :write, :value 0, :process 6682, :time 60170836100, :error "indeterminate: Connection refused (Connection refused)", :index 13241}
{:type :invoke, :f :read, :value nil, :process 6665, :time 60174718700, :index 13242}
{:type :invoke, :f :write, :value 1, :process 6413, :time 60175248900, :index 13243}
{:type :invoke, :f :read, :value nil, :process 6606, :time 60180667400, :index 13244}
{:type :info, :f :read, :value nil, :process 6665, :time 60184720000, :error "indeterminate: Connection refused (Connection refused)", :index 13245}
{:type :info, :f :write, :value 1, :process 6413, :time 60186302700, :error "indeterminate: Connection refused (Connection refused)", :index 13246}
{:type :info, :f :read, :value nil, :process 6606, :time 60189884700, :error "indeterminate: Connection refused (Connection refused)", :index 13247}
{:type :invoke, :f :read, :value nil, :process 6670, :time 60200111000, :index 13248}
{:type :info, :f :read, :value nil, :process 6670, :time 60204485400, :error "indeterminate: Connection refused (Connection refused)", :index 13249}
{:type :invoke, :f :cas, :value [0 4], :process 6418, :time 60211493600, :index 13250}
{:type :invoke, :f :read, :value nil, :process 6719, :time 60212042000, :index 13251}
{:type :info, :f :cas, :value [0 4], :process 6418, :time 60221985500, :error "indeterminate: Connection refused (Connection refused)", :index 13252}
{:type :info, :f :read, :value nil, :process 6719, :time 60222325000, :error "indeterminate: Connection refused (Connection refused)", :index 13253}
{:type :invoke, :f :write, :value 4, :process 6423, :time 60224378400, :index 13254}
{:type :info, :f :write, :value 4, :process 6423, :time 60234812100, :error "indeterminate: Connection refused (Connection refused)", :index 13255}
