{:type :info, :f :start, :process :nemesis, :time 10226983800, :index 2314}
{:type :info, :f :start, :process :nemesis, :time 10365529300, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 2339}
{:type :info, :f :stop, :process :nemesis, :time 20365864300, :index 4501}
{:type :info, :f :stop, :process :nemesis, :time 20590382100, :value :network-healed, :index 4532}
{:type :info, :f :start, :process :nemesis, :time 30593248200, :index 6808}
{:type :info, :f :start, :process :nemesis, :time 30709338300, :value [:isolated {"n2" #{"n5" "n4" "n3"}, "n1" #{"n5" "n4" "n3"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}, "n3" #{"n2" "n1"}}], :index 6829}
{:type :info, :f :stop, :process :nemesis, :time 40709664500, :index 9122}
{:type :info, :f :stop, :process :nemesis, :time 40947828600, :value :network-healed, :index 9171}
{:type :info, :f :start, :process :nemesis, :time 50948225300, :index 11456}
{:type :info, :f :start, :process :nemesis, :time 51066424000, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 11486}
{:type :info, :f :stop, :process :nemesis, :time 61066620700, :index 13803}
{:type :info, :f :stop, :process :nemesis, :time 63166729500, :value :network-healed, :index 14283}
{:type :info, :f :start, :process :nemesis, :time 73166978400, :index 16643}
{:type :info, :f :start, :process :nemesis, :time 73284915700, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 16667}
{:type :info, :f :stop, :process :nemesis, :time 83285133400, :index 18956}
{:type :info, :f :stop, :process :nemesis, :time 83490266100, :value :network-healed, :index 18991}
{:type :info, :f :start, :process :nemesis, :time 93490685900, :index 21260}
{:type :info, :f :start, :process :nemesis, :time 93630336000, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 21288}
{:type :invoke, :f :read, :value nil, :process 11432, :time 100221759700, :index 22814}
{:type :info, :f :read, :value nil, :process 11432, :time 100239230700, :error "indeterminate: Connection refused (Connection refused)", :index 22817}
