{:type :info, :f :start, :process :nemesis, :time 10253552000, :index 2180}
{:type :info, :f :start, :process :nemesis, :time 10410263900, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 2203}
{:type :info, :f :stop, :process :nemesis, :time 20412339700, :index 4282}
{:type :info, :f :stop, :process :nemesis, :time 20621687000, :value :network-healed, :index 4312}
{:type :info, :f :start, :process :nemesis, :time 30623026600, :index 6033}
{:type :info, :f :start, :process :nemesis, :time 30744476900, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 6065}
{:type :info, :f :stop, :process :nemesis, :time 40744719500, :index 8087}
{:type :info, :f :stop, :process :nemesis, :time 40973857300, :value :network-healed, :index 8122}
{:type :info, :f :start, :process :nemesis, :time 50974025500, :index 10181}
{:type :info, :f :start, :process :nemesis, :time 52485262000, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 10482}
{:type :info, :f :stop, :process :nemesis, :time 62485461500, :index 12635}
{:type :info, :f :stop, :process :nemesis, :time 62744418100, :value :network-healed, :index 12688}
{:type :info, :f :start, :process :nemesis, :time 72744736700, :index 14950}
{:type :info, :f :start, :process :nemesis, :time 72813514600, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 14965}
{:type :info, :f :stop, :process :nemesis, :time 82813728500, :index 17177}
{:type :info, :f :stop, :process :nemesis, :time 82911403300, :value :network-healed, :index 17196}
{:type :info, :f :start, :process :nemesis, :time 92911715600, :index 19466}
{:type :info, :f :start, :process :nemesis, :time 93016534900, :value [:isolated {"n2" #{"n5" "n1" "n4"}, "n3" #{"n5" "n1" "n4"}, "n5" #{"n2" "n3"}, "n1" #{"n2" "n3"}, "n4" #{"n2" "n3"}}], :index 19490}
{:type :invoke, :f :read, :value nil, :process 10393, :time 99822506600, :index 21012}
{:type :info, :f :read, :value nil, :process 10393, :time 99826646200, :error "indeterminate: Connection refused (Connection refused)", :index 21013}
{:type :invoke, :f :cas, :value [3 3], :process 10398, :time 99866802000, :index 21020}
{:type :info, :f :cas, :value [3 3], :process 10398, :time 99871998100, :error "indeterminate: Connection refused (Connection refused)", :index 21021}
{:type :invoke, :f :read, :value nil, :process 10542, :time 99878151300, :index 21022}
{:type :info, :f :read, :value nil, :process 10542, :time 99882098400, :error "indeterminate: Connection refused (Connection refused)", :index 21023}
{:type :invoke, :f :write, :value 2, :process 10556, :time 99892099700, :index 21024}
{:type :info, :f :write, :value 2, :process 10556, :time 99896109400, :error "indeterminate: Connection refused (Connection refused)", :index 21025}
{:type :invoke, :f :write, :value 1, :process 10403, :time 99898354400, :index 21026}
{:type :invoke, :f :cas, :value [1 0], :process 10450, :time 99902296700, :index 21027}
{:type :invoke, :f :write, :value 2, :process 10569, :time 99903884500, :index 21028}
{:type :info, :f :write, :value 1, :process 10403, :time 99912420300, :error "indeterminate: Connection refused (Connection refused)", :index 21029}
{:type :info, :f :write, :value 2, :process 10569, :time 99912476700, :error "indeterminate: Connection refused (Connection refused)", :index 21030}
{:type :info, :f :cas, :value [1 0], :process 10450, :time 99928016000, :error "indeterminate: Connection refused (Connection refused)", :index 21031}
{:type :invoke, :f :read, :value nil, :process 10408, :time 99931648800, :index 21032}
{:type :info, :f :read, :value nil, :process 10408, :time 99942501300, :error "indeterminate: Connection refused (Connection refused)", :index 21033}
{:type :invoke, :f :write, :value 4, :process 10547, :time 99944830600, :index 21034}
{:type :invoke, :f :read, :value nil, :process 10413, :time 99944546300, :index 21035}
{:type :info, :f :write, :value 4, :process 10547, :time 99958293100, :error "indeterminate: Connection refused (Connection refused)", :index 21036}
{:type :invoke, :f :cas, :value [2 4], :process 10574, :time 99958951000, :index 21037}
{:type :invoke, :f :write, :value 1, :process 10561, :time 99959554800, :index 21038}
{:type :info, :f :cas, :value [2 4], :process 10574, :time 99963376600, :error "indeterminate: Connection refused (Connection refused)", :index 21039}
{:type :info, :f :write, :value 1, :process 10561, :time 99966718800, :error "indeterminate: Connection refused (Connection refused)", :index 21040}
{:type :info, :f :read, :value nil, :process 10413, :time 99969477900, :error "indeterminate: Connection refused (Connection refused)", :index 21041}
{:type :invoke, :f :write, :value 1, :process 10455, :time 99971554600, :index 21042}
{:type :info, :f :write, :value 1, :process 10455, :time 99981805300, :error "indeterminate: Connection refused (Connection refused)", :index 21043}
{:type :invoke, :f :cas, :value [2 4], :process 10460, :time 99989449900, :index 21044}
{:type :invoke, :f :cas, :value [3 3], :process 10418, :time 99993075800, :index 21045}
{:type :invoke, :f :cas, :value [2 0], :process 10579, :time 99994478600, :index 21046}
{:type :info, :f :cas, :value [2 4], :process 10460, :time 99995662000, :error "indeterminate: Connection refused (Connection refused)", :index 21047}
{:type :info, :f :cas, :value [2 0], :process 10579, :time 99999556700, :error "indeterminate: Connection refused (Connection refused)", :index 21048}
{:type :info, :f :cas, :value [3 3], :process 10418, :time 100004057000, :error "indeterminate: Connection refused (Connection refused)", :index 21049}
{:type :invoke, :f :write, :value 0, :process 10584, :time 100011048500, :index 21050}
{:type :info, :f :write, :value 0, :process 10584, :time 100015084500, :error "indeterminate: Connection refused (Connection refused)", :index 21051}
{:type :invoke, :f :read, :value nil, :process 10552, :time 100021581600, :index 21052}
{:type :info, :f :read, :value nil, :process 10552, :time 100025132800, :error "indeterminate: Connection refused (Connection refused)", :index 21053}
{:type :invoke, :f :write, :value 4, :process 10566, :time 100032981200, :index 21054}
{:type :invoke, :f :write, :value 0, :process 10589, :time 100034143400, :index 21055}
{:type :info, :f :write, :value 4, :process 10566, :time 100037422900, :error "indeterminate: Connection refused (Connection refused)", :index 21056}
{:type :info, :f :write, :value 0, :process 10589, :time 100042714500, :error "indeterminate: Connection refused (Connection refused)", :index 21057}
{:type :invoke, :f :cas, :value [1 2], :process 10465, :time 100044193300, :index 21058}
{:type :info, :f :cas, :value [1 2], :process 10465, :time 100050304000, :error "indeterminate: Connection refused (Connection refused)", :index 21059}
{:type :invoke, :f :write, :value 3, :process 10571, :time 100058201800, :index 21060}
{:type :invoke, :f :write, :value 0, :process 10423, :time 100060793300, :index 21061}
{:type :info, :f :write, :value 3, :process 10571, :time 100064550200, :error "indeterminate: Connection refused (Connection refused)", :index 21062}
{:type :invoke, :f :write, :value 0, :process 10594, :time 100066431800, :index 21063}
{:type :invoke, :f :cas, :value [2 4], :process 10557, :time 100068074500, :index 21064}
{:type :info, :f :write, :value 0, :process 10423, :time 100069521300, :error "indeterminate: Connection refused (Connection refused)", :index 21065}
{:type :info, :f :write, :value 0, :process 10594, :time 100073218800, :error "indeterminate: Connection refused (Connection refused)", :index 21066}
{:type :info, :f :cas, :value [2 4], :process 10557, :time 100074425300, :error "indeterminate: Connection refused (Connection refused)", :index 21067}
{:type :invoke, :f :cas, :value [2 4], :process 10470, :time 100094621100, :index 21068}
{:type :invoke, :f :read, :value nil, :process 10599, :time 100097566800, :index 21069}
{:type :info, :f :cas, :value [2 4], :process 10470, :time 100100602100, :error "indeterminate: Connection refused (Connection refused)", :index 21070}
{:type :info, :f :read, :value nil, :process 10599, :time 100103529500, :error "indeterminate: Connection refused (Connection refused)", :index 21071}
{:type :invoke, :f :cas, :value [4 1], :process 10562, :time 100104257800, :index 21072}
{:type :info, :f :cas, :value [4 1], :process 10562, :time 100109515600, :error "indeterminate: Connection refused (Connection refused)", :index 21073}
{:type :invoke, :f :write, :value 0, :process 10428, :time 100117661600, :index 21074}
{:type :info, :f :write, :value 0, :process 10428, :time 100121958200, :error "indeterminate: Connection refused (Connection refused)", :index 21075}
{:type :invoke, :f :read, :value nil, :process 10433, :time 100126981100, :index 21076}
{:type :info, :f :read, :value nil, :process 10433, :time 100132805700, :error "indeterminate: Connection refused (Connection refused)", :index 21077}
{:type :invoke, :f :write, :value 1, :process 10604, :time 100133636400, :index 21078}
{:type :invoke, :f :write, :value 4, :process 10576, :time 100134759800, :index 21079}
{:type :info, :f :write, :value 1, :process 10604, :time 100138568400, :error "indeterminate: Connection refused (Connection refused)", :index 21080}
{:type :info, :f :write, :value 4, :process 10576, :time 100138699500, :error "indeterminate: Connection refused (Connection refused)", :index 21081}
{:type :invoke, :f :read, :value nil, :process 10567, :time 100139486200, :index 21082}
{:type :info, :f :read, :value nil, :process 10567, :time 100149460600, :error "indeterminate: Connection refused (Connection refused)", :index 21083}
{:type :invoke, :f :cas, :value [4 0], :process 10609, :time 100151410100, :index 21084}
{:type :invoke, :f :write, :value 2, :process 10475, :time 100154275600, :index 21085}
{:type :info, :f :cas, :value [4 0], :process 10609, :time 100158755700, :error "indeterminate: Connection refused (Connection refused)", :index 21086}
{:type :info, :f :write, :value 2, :process 10475, :time 100162466100, :error "indeterminate: Connection refused (Connection refused)", :index 21087}
{:type :invoke, :f :read, :value nil, :process 10581, :time 100164374100, :index 21088}
{:type :info, :f :read, :value nil, :process 10581, :time 100169058500, :error "indeterminate: Connection refused (Connection refused)", :index 21089}
{:type :invoke, :f :cas, :value [4 1], :process 10438, :time 100185879800, :index 21090}
{:type :info, :f :cas, :value [4 1], :process 10438, :time 100189808200, :error "indeterminate: Connection refused (Connection refused)", :index 21091}
{:type :invoke, :f :write, :value 4, :process 10572, :time 100196067800, :index 21092}
{:type :invoke, :f :cas, :value [3 0], :process 10443, :time 100197587400, :index 21093}
{:type :info, :f :cas, :value [3 0], :process 10443, :time 100203078500, :error "indeterminate: Connection refused (Connection refused)", :index 21094}
{:type :info, :f :write, :value 4, :process 10572, :time 100204734800, :error "indeterminate: Connection refused (Connection refused)", :index 21095}
{:type :invoke, :f :write, :value 2, :process 10480, :time 100211393600, :index 21096}
{:type :invoke, :f :read, :value nil, :process 10614, :time 100212650000, :index 21097}
{:type :info, :f :write, :value 2, :process 10480, :time 100216739700, :error "indeterminate: Connection refused (Connection refused)", :index 21098}
{:type :invoke, :f :cas, :value [3 4], :process 10586, :time 100216807500, :index 21099}
{:type :invoke, :f :cas, :value [4 2], :process 10577, :time 100217120700, :index 21100}
{:type :info, :f :read, :value nil, :process 10614, :time 100221213000, :error "indeterminate: Connection refused (Connection refused)", :index 21101}
{:type :info, :f :cas, :value [3 4], :process 10586, :time 100222465800, :error "indeterminate: Connection refused (Connection refused)", :index 21102}
{:type :info, :f :cas, :value [4 2], :process 10577, :time 100223779400, :error "indeterminate: Connection refused (Connection refused)", :index 21103}
{:type :invoke, :f :cas, :value [4 3], :process 10448, :time 100224627300, :index 21104}
{:type :invoke, :f :cas, :value [2 3], :process 10591, :time 100228299500, :index 21105}
{:type :invoke, :f :read, :value nil, :process 10619, :time 100228967600, :index 21106}
{:type :info, :f :cas, :value [4 3], :process 10448, :time 100233066200, :error "indeterminate: Connection refused (Connection refused)", :index 21107}
{:type :info, :f :read, :value nil, :process 10619, :time 100235304800, :error "indeterminate: Connection refused (Connection refused)", :index 21108}
{:type :invoke, :f :write, :value 1, :process 10582, :time 100235196900, :index 21109}
{:type :info, :f :cas, :value [2 3], :process 10591, :time 100238040800, :error "indeterminate: Connection refused (Connection refused)", :index 21110}
{:type :info, :f :write, :value 1, :process 10582, :time 100243442700, :error "indeterminate: Connection refused (Connection refused)", :index 21111}
