{:type :info, :f :start, :process :nemesis, :time 10225677400, :index 2316}
{:type :info, :f :start, :process :nemesis, :time 10326771500, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 2342}
{:type :info, :f :stop, :process :nemesis, :time 20326956800, :index 4746}
{:type :info, :f :stop, :process :nemesis, :time 20561604900, :value :network-healed, :index 4806}
{:type :info, :f :start, :process :nemesis, :time 30561980700, :index 7176}
{:type :info, :f :start, :process :nemesis, :time 30676332500, :value [:isolated {"n2" #{"n5" "n4" "n3"}, "n1" #{"n5" "n4" "n3"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}, "n3" #{"n2" "n1"}}], :index 7208}
{:type :info, :f :stop, :process :nemesis, :time 40676667500, :index 9606}
{:type :info, :f :stop, :process :nemesis, :time 40886492700, :value :network-healed, :index 9653}
{:type :info, :f :start, :process :nemesis, :time 50886668700, :index 11998}
{:type :info, :f :start, :process :nemesis, :time 51024039500, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 12027}
{:type :info, :f :stop, :process :nemesis, :time 61024328300, :index 14092}
{:type :info, :f :stop, :process :nemesis, :time 61259967500, :value :network-healed, :index 14140}
{:type :info, :f :start, :process :nemesis, :time 71281834400, :index 16066}
{:type :info, :f :start, :process :nemesis, :time 71422544500, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 16089}
{:type :info, :f :stop, :process :nemesis, :time 81423052400, :index 18083}
{:type :info, :f :stop, :process :nemesis, :time 81614652100, :value :network-healed, :index 18111}
{:type :info, :f :start, :process :nemesis, :time 91614990400, :index 19996}
{:type :info, :f :start, :process :nemesis, :time 91768745700, :value [:isolated {"n2" #{"n5" "n1" "n4"}, "n3" #{"n5" "n1" "n4"}, "n5" #{"n2" "n3"}, "n1" #{"n2" "n3"}, "n4" #{"n2" "n3"}}], :index 20018}
{:type :invoke, :f :cas, :value [3 3], :process 10850, :time 99421086300, :index 21614}
{:type :info, :f :cas, :value [3 3], :process 10850, :time 99428892600, :error "indeterminate: Connection refused (Connection refused)", :index 21617}
{:type :invoke, :f :write, :value 3, :process 10855, :time 99429512200, :index 21618}
{:type :info, :f :write, :value 3, :process 10855, :time 99436023600, :error "indeterminate: Connection refused (Connection refused)", :index 21620}
{:type :invoke, :f :cas, :value [1 2], :process 10743, :time 99436319800, :index 21621}
{:type :invoke, :f :write, :value 3, :process 10847, :time 99437475200, :index 21622}
{:type :info, :f :cas, :value [1 2], :process 10743, :time 99451109300, :error "indeterminate: Connection refused (Connection refused)", :index 21624}
{:type :invoke, :f :cas, :value [3 3], :process 10809, :time 99451747300, :index 21625}
{:type :info, :f :write, :value 3, :process 10847, :time 99455057400, :error "indeterminate: Connection refused (Connection refused)", :index 21626}
{:type :info, :f :cas, :value [3 3], :process 10809, :time 99456593400, :error "indeterminate: Connection refused (Connection refused)", :index 21627}
{:type :invoke, :f :read, :value nil, :process 10748, :time 99471479900, :index 21628}
{:type :invoke, :f :write, :value 0, :process 10860, :time 99472891200, :index 21629}
{:type :invoke, :f :read, :value nil, :process 10761, :time 99481816000, :index 21630}
{:type :info, :f :write, :value 0, :process 10860, :time 99494073300, :error "indeterminate: Connection refused (Connection refused)", :index 21631}
{:type :info, :f :read, :value nil, :process 10748, :time 99496367700, :error "indeterminate: Connection refused (Connection refused)", :index 21632}
{:type :info, :f :read, :value nil, :process 10761, :time 99496642600, :error "indeterminate: Connection refused (Connection refused)", :index 21633}
{:type :invoke, :f :write, :value 4, :process 10766, :time 99506130400, :index 21634}
{:type :invoke, :f :write, :value 2, :process 10814, :time 99513306900, :index 21635}
{:type :invoke, :f :read, :value nil, :process 10852, :time 99514786000, :index 21636}
{:type :info, :f :write, :value 2, :process 10814, :time 99518208100, :error "indeterminate: Connection refused (Connection refused)", :index 21637}
{:type :info, :f :read, :value nil, :process 10852, :time 99520758200, :error "indeterminate: Connection refused (Connection refused)", :index 21638}
{:type :invoke, :f :cas, :value [1 2], :process 10753, :time 99521178300, :index 21639}
{:type :info, :f :write, :value 4, :process 10766, :time 99522024600, :error "indeterminate: Connection refused (Connection refused)", :index 21640}
{:type :info, :f :cas, :value [1 2], :process 10753, :time 99531138100, :error "indeterminate: Connection refused (Connection refused)", :index 21641}
{:type :invoke, :f :read, :value nil, :process 10865, :time 99562176000, :index 21642}
{:type :invoke, :f :read, :value nil, :process 10857, :time 99565021300, :index 21643}
{:type :info, :f :read, :value nil, :process 10865, :time 99567605300, :error "indeterminate: Connection refused (Connection refused)", :index 21644}
{:type :info, :f :read, :value nil, :process 10857, :time 99579611700, :error "indeterminate: Connection refused (Connection refused)", :index 21645}
{:type :invoke, :f :cas, :value [3 3], :process 10819, :time 99577191600, :index 21646}
{:type :invoke, :f :write, :value 1, :process 10758, :time 99575024800, :index 21647}
{:type :invoke, :f :read, :value nil, :process 10771, :time 99578136600, :index 21648}
{:type :info, :f :cas, :value [3 3], :process 10819, :time 99588711600, :error "indeterminate: Connection refused (Connection refused)", :index 21649}
{:type :invoke, :f :write, :value 2, :process 10870, :time 99586514700, :index 21650}
{:type :invoke, :f :read, :value nil, :process 10862, :time 99594963100, :index 21651}
{:type :info, :f :read, :value nil, :process 10771, :time 99606134100, :error "indeterminate: Connection refused (Connection refused)", :index 21652}
{:type :info, :f :read, :value nil, :process 10862, :time 99615799400, :error "indeterminate: Connection refused (Connection refused)", :index 21653}
{:type :info, :f :write, :value 2, :process 10870, :time 99617260500, :error "indeterminate: Connection refused (Connection refused)", :index 21654}
{:type :info, :f :write, :value 1, :process 10758, :time 99618372200, :error "indeterminate: Connection refused (Connection refused)", :index 21655}
{:type :invoke, :f :write, :value 3, :process 10824, :time 99634629700, :index 21656}
{:type :invoke, :f :read, :value nil, :process 10867, :time 99638012000, :index 21657}
{:type :info, :f :write, :value 3, :process 10824, :time 99640122400, :error "indeterminate: Connection refused (Connection refused)", :index 21658}
{:type :invoke, :f :write, :value 0, :process 10875, :time 99641201000, :index 21659}
{:type :info, :f :read, :value nil, :process 10867, :time 99651761900, :error "indeterminate: Connection refused (Connection refused)", :index 21660}
{:type :info, :f :write, :value 0, :process 10875, :time 99652656600, :error "indeterminate: Connection refused (Connection refused)", :index 21661}
{:type :invoke, :f :cas, :value [0 4], :process 10776, :time 99667695100, :index 21662}
{:type :info, :f :cas, :value [0 4], :process 10776, :time 99676287000, :error "indeterminate: Connection refused (Connection refused)", :index 21663}
{:type :invoke, :f :write, :value 0, :process 10763, :time 99693062300, :index 21664}
{:type :invoke, :f :write, :value 0, :process 10880, :time 99696264000, :index 21665}
{:type :info, :f :write, :value 0, :process 10763, :time 99698952800, :error "indeterminate: Connection refused (Connection refused)", :index 21666}
{:type :invoke, :f :read, :value nil, :process 10829, :time 99699529400, :index 21667}
{:type :invoke, :f :cas, :value [4 3], :process 10781, :time 99705075600, :index 21668}
{:type :invoke, :f :write, :value 1, :process 10872, :time 99706227700, :index 21669}
{:type :info, :f :write, :value 0, :process 10880, :time 99721575300, :error "indeterminate: Connection refused (Connection refused)", :index 21670}
{:type :info, :f :cas, :value [4 3], :process 10781, :time 99725016100, :error "indeterminate: Connection refused (Connection refused)", :index 21671}
{:type :invoke, :f :write, :value 3, :process 10768, :time 99725938700, :index 21672}
{:type :info, :f :read, :value nil, :process 10829, :time 99735958700, :error "indeterminate: Connection refused (Connection refused)", :index 21673}
{:type :info, :f :write, :value 3, :process 10768, :time 99738508500, :error "indeterminate: Connection refused (Connection refused)", :index 21674}
{:type :info, :f :write, :value 1, :process 10872, :time 99745779300, :error "indeterminate: Connection refused (Connection refused)", :index 21675}
{:type :invoke, :f :cas, :value [1 2], :process 10786, :time 99783900300, :index 21676}
{:type :invoke, :f :cas, :value [1 3], :process 10877, :time 99789007800, :index 21677}
{:type :invoke, :f :cas, :value [1 1], :process 10773, :time 99792261300, :index 21678}
{:type :invoke, :f :write, :value 0, :process 10885, :time 99792970600, :index 21679}
{:type :invoke, :f :cas, :value [3 0], :process 10834, :time 99800159900, :index 21680}
{:type :info, :f :cas, :value [1 2], :process 10786, :time 99806129500, :error "indeterminate: Connection refused (Connection refused)", :index 21681}
{:type :info, :f :cas, :value [1 1], :process 10773, :time 99811354800, :error "indeterminate: Connection refused (Connection refused)", :index 21682}
{:type :info, :f :cas, :value [3 0], :process 10834, :time 99815371700, :error "indeterminate: Connection refused (Connection refused)", :index 21683}
{:type :info, :f :write, :value 0, :process 10885, :time 99826167000, :error "indeterminate: Connection refused (Connection refused)", :index 21684}
{:type :info, :f :cas, :value [1 3], :process 10877, :time 99832243900, :error "indeterminate: Connection refused (Connection refused)", :index 21685}
{:type :invoke, :f :read, :value nil, :process 10791, :time 99853715000, :index 21686}
{:type :info, :f :read, :value nil, :process 10791, :time 99863079600, :error "indeterminate: Connection refused (Connection refused)", :index 21687}
{:type :invoke, :f :write, :value 2, :process 10796, :time 99868184800, :index 21688}
{:type :invoke, :f :cas, :value [1 1], :process 10890, :time 99872447700, :index 21689}
{:type :invoke, :f :write, :value 1, :process 10778, :time 99877635400, :index 21690}
{:type :info, :f :write, :value 2, :process 10796, :time 99880163700, :error "indeterminate: Connection refused (Connection refused)", :index 21691}
{:type :info, :f :cas, :value [1 1], :process 10890, :time 99881649300, :error "indeterminate: Connection refused (Connection refused)", :index 21692}
{:type :info, :f :write, :value 1, :process 10778, :time 99882204000, :error "indeterminate: Connection refused (Connection refused)", :index 21693}
{:type :invoke, :f :write, :value 1, :process 10839, :time 99882544700, :index 21694}
{:type :invoke, :f :write, :value 0, :process 10882, :time 99884557100, :index 21695}
{:type :info, :f :write, :value 1, :process 10839, :time 99888785300, :error "indeterminate: Connection refused (Connection refused)", :index 21696}
{:type :info, :f :write, :value 0, :process 10882, :time 99900114600, :error "indeterminate: Connection refused (Connection refused)", :index 21697}
{:type :invoke, :f :write, :value 3, :process 10895, :time 99910442300, :index 21698}
{:type :invoke, :f :read, :value nil, :process 10783, :time 99914009600, :index 21699}
{:type :info, :f :write, :value 3, :process 10895, :time 99921994500, :error "indeterminate: Connection refused (Connection refused)", :index 21700}
{:type :invoke, :f :read, :value nil, :process 10844, :time 99928052200, :index 21701}
{:type :info, :f :read, :value nil, :process 10783, :time 99929239400, :error "indeterminate: Connection refused (Connection refused)", :index 21702}
{:type :invoke, :f :write, :value 2, :process 10801, :time 99931317000, :index 21703}
{:type :info, :f :read, :value nil, :process 10844, :time 99934194900, :error "indeterminate: Connection refused (Connection refused)", :index 21704}
{:type :invoke, :f :write, :value 2, :process 10849, :time 99939195100, :index 21705}
{:type :info, :f :write, :value 2, :process 10801, :time 99954431900, :error "indeterminate: Connection refused (Connection refused)", :index 21706}
{:type :info, :f :write, :value 2, :process 10849, :time 99954536900, :error "indeterminate: Connection refused (Connection refused)", :index 21707}
{:type :invoke, :f :cas, :value [1 2], :process 10887, :time 99953205000, :index 21708}
{:type :invoke, :f :write, :value 2, :process 10788, :time 99954480300, :index 21709}
{:type :info, :f :cas, :value [1 2], :process 10887, :time 99963930600, :error "indeterminate: Connection refused (Connection refused)", :index 21710}
{:type :invoke, :f :read, :value nil, :process 10900, :time 99967278000, :index 21711}
{:type :info, :f :write, :value 2, :process 10788, :time 99970835400, :error "indeterminate: Connection refused (Connection refused)", :index 21712}
{:type :invoke, :f :write, :value 2, :process 10854, :time 99972752600, :index 21713}
{:type :info, :f :read, :value nil, :process 10900, :time 99993763200, :error "indeterminate: Connection refused (Connection refused)", :index 21714}
{:type :invoke, :f :write, :value 0, :process 10892, :time 99990416600, :index 21715}
{:type :invoke, :f :write, :value 3, :process 10806, :time 99994927300, :index 21716}
{:type :info, :f :write, :value 3, :process 10806, :time 100006149900, :error "indeterminate: Connection refused (Connection refused)", :index 21717}
{:type :info, :f :write, :value 0, :process 10892, :time 100006295200, :error "indeterminate: Connection refused (Connection refused)", :index 21718}
{:type :info, :f :write, :value 2, :process 10854, :time 100009509300, :error "indeterminate: Connection refused (Connection refused)", :index 21719}
{:type :invoke, :f :cas, :value [1 0], :process 10811, :time 100019293400, :index 21720}
{:type :invoke, :f :read, :value nil, :process 10793, :time 100021631300, :index 21721}
{:type :info, :f :cas, :value [1 0], :process 10811, :time 100028943400, :error "indeterminate: Connection refused (Connection refused)", :index 21722}
{:type :info, :f :read, :value nil, :process 10793, :time 100031193000, :error "indeterminate: Connection refused (Connection refused)", :index 21723}
{:type :invoke, :f :read, :value nil, :process 10897, :time 100049076100, :index 21724}
{:type :info, :f :read, :value nil, :process 10897, :time 100053859900, :error "indeterminate: Connection refused (Connection refused)", :index 21725}
{:type :invoke, :f :write, :value 2, :process 10905, :time 100059300300, :index 21726}
{:type :info, :f :write, :value 2, :process 10905, :time 100064664800, :error "indeterminate: Connection refused (Connection refused)", :index 21727}
{:type :invoke, :f :write, :value 1, :process 10902, :time 100066219700, :index 21728}
{:type :invoke, :f :write, :value 4, :process 10816, :time 100068384500, :index 21729}
{:type :invoke, :f :read, :value nil, :process 10798, :time 100069248500, :index 21730}
{:type :invoke, :f :read, :value nil, :process 10859, :time 100075782200, :index 21731}
{:type :info, :f :write, :value 4, :process 10816, :time 100084280600, :error "indeterminate: Connection refused (Connection refused)", :index 21732}
{:type :info, :f :read, :value nil, :process 10859, :time 100086677800, :error "indeterminate: Connection refused (Connection refused)", :index 21733}
{:type :info, :f :read, :value nil, :process 10798, :time 100087206400, :error "indeterminate: Connection refused (Connection refused)", :index 21734}
{:type :info, :f :write, :value 1, :process 10902, :time 100087792300, :error "indeterminate: Connection refused (Connection refused)", :index 21735}
{:type :invoke, :f :write, :value 4, :process 10803, :time 100097381300, :index 21736}
{:type :info, :f :write, :value 4, :process 10803, :time 100102834400, :error "indeterminate: Connection refused (Connection refused)", :index 21737}
{:type :invoke, :f :write, :value 3, :process 10821, :time 100115377900, :index 21738}
{:type :invoke, :f :read, :value nil, :process 10910, :time 100120341200, :index 21739}
{:type :info, :f :write, :value 3, :process 10821, :time 100127004700, :error "indeterminate: Connection refused (Connection refused)", :index 21740}
{:type :info, :f :read, :value nil, :process 10910, :time 100128164400, :error "indeterminate: Connection refused (Connection refused)", :index 21741}
{:type :invoke, :f :write, :value 1, :process 10864, :time 100130127800, :index 21742}
{:type :info, :f :write, :value 1, :process 10864, :time 100136366200, :error "indeterminate: Connection refused (Connection refused)", :index 21743}
{:type :invoke, :f :read, :value nil, :process 10826, :time 100138066400, :index 21744}
{:type :info, :f :read, :value nil, :process 10826, :time 100145907800, :error "indeterminate: Connection refused (Connection refused)", :index 21745}
{:type :invoke, :f :cas, :value [3 1], :process 10808, :time 100149123800, :index 21746}
{:type :info, :f :cas, :value [3 1], :process 10808, :time 100153898200, :error "indeterminate: Connection refused (Connection refused)", :index 21747}
{:type :invoke, :f :read, :value nil, :process 10831, :time 100156402800, :index 21748}
{:type :invoke, :f :read, :value nil, :process 10907, :time 100159609200, :index 21749}
{:type :info, :f :read, :value nil, :process 10831, :time 100164390500, :error "indeterminate: Connection refused (Connection refused)", :index 21750}
{:type :info, :f :read, :value nil, :process 10907, :time 100165054900, :error "indeterminate: Connection refused (Connection refused)", :index 21751}
{:type :invoke, :f :read, :value nil, :process 10915, :time 100170901400, :index 21752}
{:type :info, :f :read, :value nil, :process 10915, :time 100179699700, :error "indeterminate: Connection refused (Connection refused)", :index 21753}
{:type :invoke, :f :read, :value nil, :process 10869, :time 100185434300, :index 21754}
{:type :info, :f :read, :value nil, :process 10869, :time 100193638800, :error "indeterminate: Connection refused (Connection refused)", :index 21755}
{:type :invoke, :f :read, :value nil, :process 10836, :time 100202934800, :index 21756}
{:type :invoke, :f :cas, :value [1 2], :process 10912, :time 100207132200, :index 21757}
{:type :info, :f :read, :value nil, :process 10836, :time 100212820400, :error "indeterminate: Connection refused (Connection refused)", :index 21758}
{:type :invoke, :f :read, :value nil, :process 10874, :time 100213645300, :index 21759}
{:type :info, :f :cas, :value [1 2], :process 10912, :time 100218222700, :error "indeterminate: Connection refused (Connection refused)", :index 21760}
{:type :invoke, :f :read, :value nil, :process 10813, :time 100220472100, :index 21761}
{:type :info, :f :read, :value nil, :process 10874, :time 100234348000, :error "indeterminate: Connection refused (Connection refused)", :index 21762}
{:type :info, :f :read, :value nil, :process 10813, :time 100234443300, :error "indeterminate: Connection refused (Connection refused)", :index 21763}
