{:type :info, :f :start, :process :nemesis, :time 10153198200, :index 2181}
{:type :info, :f :start, :process :nemesis, :time 10303195400, :value [:isolated {"n5" #{"n2" "n1" "n3"}, "n4" #{"n2" "n1" "n3"}, "n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n3" #{"n5" "n4"}}], :index 2208}
{:type :info, :f :stop, :process :nemesis, :time 20303475300, :index 4245}
{:type :info, :f :stop, :process :nemesis, :time 20542004000, :value :network-healed, :index 4281}
{:type :info, :f :start, :process :nemesis, :time 30543545700, :index 6294}
{:type :info, :f :start, :process :nemesis, :time 30653701800, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 6315}
{:type :info, :f :stop, :process :nemesis, :time 40653941500, :index 8448}
{:type :info, :f :stop, :process :nemesis, :time 40811194200, :value :network-healed, :index 8471}
{:type :info, :f :start, :process :nemesis, :time 50811401400, :index 10613}
{:type :info, :f :start, :process :nemesis, :time 50932832800, :value [:isolated {"n2" #{"n5" "n1" "n4"}, "n3" #{"n5" "n1" "n4"}, "n5" #{"n2" "n3"}, "n1" #{"n2" "n3"}, "n4" #{"n2" "n3"}}], :index 10632}
{:type :info, :f :stop, :process :nemesis, :time 60933611600, :index 12616}
{:type :info, :f :stop, :process :nemesis, :time 62962699900, :value :network-healed, :index 13049}
{:type :info, :f :start, :process :nemesis, :time 72962884200, :index 15216}
{:type :info, :f :start, :process :nemesis, :time 73092850800, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 15243}
{:type :info, :f :stop, :process :nemesis, :time 83094429500, :index 17460}
{:type :info, :f :stop, :process :nemesis, :time 83298748000, :value :network-healed, :index 17489}
{:type :info, :f :start, :process :nemesis, :time 93302400900, :index 19652}
{:type :info, :f :start, :process :nemesis, :time 93447775600, :value [:isolated {"n5" #{"n2" "n1" "n3"}, "n4" #{"n2" "n1" "n3"}, "n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n3" #{"n5" "n4"}}], :index 19684}
{:type :invoke, :f :cas, :value [4 4], :process 10596, :time 99471954400, :index 21014}
{:type :info, :f :cas, :value [4 4], :process 10596, :time 99475847300, :error "indeterminate: Connection refused (Connection refused)", :index 21015}
{:type :invoke, :f :read, :value nil, :process 10549, :time 99480950500, :index 21017}
{:type :info, :f :read, :value nil, :process 10549, :time 99486252600, :error "indeterminate: Connection refused (Connection refused)", :index 21019}
{:type :invoke, :f :write, :value 0, :process 10601, :time 99488552100, :index 21020}
{:type :info, :f :write, :value 0, :process 10601, :time 99492743200, :error "indeterminate: Connection refused (Connection refused)", :index 21021}
{:type :invoke, :f :cas, :value [1 4], :process 10606, :time 99502299500, :index 21022}
{:type :invoke, :f :cas, :value [4 0], :process 10510, :time 99505666200, :index 21024}
{:type :invoke, :f :read, :value nil, :process 10554, :time 99508028900, :index 21025}
{:type :info, :f :read, :value nil, :process 10554, :time 99512021600, :error "indeterminate: Connection refused (Connection refused)", :index 21026}
{:type :info, :f :cas, :value [4 0], :process 10510, :time 99515539500, :error "indeterminate: Connection refused (Connection refused)", :index 21027}
{:type :info, :f :cas, :value [1 4], :process 10606, :time 99519184100, :error "indeterminate: Connection refused (Connection refused)", :index 21029}
{:type :invoke, :f :read, :value nil, :process 10515, :time 99526685600, :index 21030}
{:type :info, :f :read, :value nil, :process 10515, :time 99530870500, :error "indeterminate: Connection refused (Connection refused)", :index 21031}
{:type :invoke, :f :read, :value nil, :process 10611, :time 99530955100, :index 21032}
{:type :info, :f :read, :value nil, :process 10611, :time 99535788100, :error "indeterminate: Connection refused (Connection refused)", :index 21033}
{:type :invoke, :f :cas, :value [2 4], :process 10559, :time 99541774200, :index 21034}
{:type :info, :f :cas, :value [2 4], :process 10559, :time 99546178800, :error "indeterminate: Connection refused (Connection refused)", :index 21035}
{:type :invoke, :f :cas, :value [3 3], :process 10472, :time 99549678200, :index 21036}
{:type :info, :f :cas, :value [3 3], :process 10472, :time 99553673900, :error "indeterminate: Connection refused (Connection refused)", :index 21037}
{:type :invoke, :f :cas, :value [1 4], :process 10383, :time 99558548200, :index 21038}
{:type :invoke, :f :read, :value nil, :process 10564, :time 99561274600, :index 21039}
{:type :info, :f :cas, :value [1 4], :process 10383, :time 99563865000, :error "indeterminate: Connection refused (Connection refused)", :index 21040}
{:type :info, :f :read, :value nil, :process 10564, :time 99566385100, :error "indeterminate: Connection refused (Connection refused)", :index 21041}
{:type :invoke, :f :write, :value 1, :process 10520, :time 99582142800, :index 21042}
{:type :invoke, :f :read, :value nil, :process 10616, :time 99585140700, :index 21043}
{:type :invoke, :f :cas, :value [4 1], :process 10477, :time 99585688100, :index 21044}
{:type :info, :f :read, :value nil, :process 10616, :time 99593432400, :error "indeterminate: Connection refused (Connection refused)", :index 21045}
{:type :info, :f :write, :value 1, :process 10520, :time 99597167300, :error "indeterminate: Connection refused (Connection refused)", :index 21046}
{:type :info, :f :cas, :value [4 1], :process 10477, :time 99599823500, :error "indeterminate: Connection refused (Connection refused)", :index 21047}
{:type :invoke, :f :cas, :value [1 0], :process 10388, :time 99601147800, :index 21048}
{:type :info, :f :cas, :value [1 0], :process 10388, :time 99605792500, :error "indeterminate: Connection refused (Connection refused)", :index 21049}
{:type :invoke, :f :write, :value 1, :process 10621, :time 99613914000, :index 21050}
{:type :info, :f :write, :value 1, :process 10621, :time 99618002700, :error "indeterminate: Connection refused (Connection refused)", :index 21051}
{:type :invoke, :f :write, :value 1, :process 10569, :time 99618325900, :index 21052}
{:type :info, :f :write, :value 1, :process 10569, :time 99622806600, :error "indeterminate: Connection refused (Connection refused)", :index 21053}
{:type :invoke, :f :read, :value nil, :process 10393, :time 99656032500, :index 21054}
{:type :invoke, :f :read, :value nil, :process 10626, :time 99656578900, :index 21055}
{:type :info, :f :read, :value nil, :process 10393, :time 99663314200, :error "indeterminate: Connection refused (Connection refused)", :index 21056}
{:type :invoke, :f :read, :value nil, :process 10482, :time 99664632600, :index 21057}
{:type :invoke, :f :cas, :value [2 1], :process 10525, :time 99667059100, :index 21058}
{:type :info, :f :read, :value nil, :process 10482, :time 99669007400, :error "indeterminate: Connection refused (Connection refused)", :index 21059}
{:type :info, :f :read, :value nil, :process 10626, :time 99669483300, :error "indeterminate: Connection refused (Connection refused)", :index 21060}
{:type :invoke, :f :write, :value 3, :process 10574, :time 99670612500, :index 21061}
{:type :info, :f :write, :value 3, :process 10574, :time 99675018200, :error "indeterminate: Connection refused (Connection refused)", :index 21062}
{:type :info, :f :cas, :value [2 1], :process 10525, :time 99675846600, :error "indeterminate: Connection refused (Connection refused)", :index 21063}
{:type :invoke, :f :write, :value 1, :process 10398, :time 99678412000, :index 21064}
{:type :info, :f :write, :value 1, :process 10398, :time 99683103700, :error "indeterminate: Connection refused (Connection refused)", :index 21065}
{:type :invoke, :f :read, :value nil, :process 10487, :time 99687553700, :index 21066}
{:type :info, :f :read, :value nil, :process 10487, :time 99691931400, :error "indeterminate: Connection refused (Connection refused)", :index 21067}
{:type :invoke, :f :write, :value 2, :process 10403, :time 99700945800, :index 21068}
{:type :invoke, :f :cas, :value [3 1], :process 10579, :time 99701200400, :index 21069}
{:type :invoke, :f :read, :value nil, :process 10530, :time 99704835000, :index 21070}
{:type :info, :f :cas, :value [3 1], :process 10579, :time 99706795200, :error "indeterminate: Connection refused (Connection refused)", :index 21071}
{:type :info, :f :read, :value nil, :process 10530, :time 99710400800, :error "indeterminate: Connection refused (Connection refused)", :index 21072}
{:type :info, :f :write, :value 2, :process 10403, :time 99712174500, :error "indeterminate: Connection refused (Connection refused)", :index 21073}
{:type :invoke, :f :write, :value 0, :process 10631, :time 99726252500, :index 21074}
{:type :info, :f :write, :value 0, :process 10631, :time 99730891900, :error "indeterminate: Connection refused (Connection refused)", :index 21075}
{:type :invoke, :f :write, :value 4, :process 10535, :time 99730835700, :index 21076}
{:type :invoke, :f :write, :value 2, :process 10492, :time 99733030200, :index 21077}
{:type :info, :f :write, :value 4, :process 10535, :time 99737546900, :error "indeterminate: Connection refused (Connection refused)", :index 21078}
{:type :info, :f :write, :value 2, :process 10492, :time 99741462600, :error "indeterminate: Connection refused (Connection refused)", :index 21079}
{:type :invoke, :f :cas, :value [3 3], :process 10497, :time 99762573700, :index 21080}
{:type :invoke, :f :write, :value 3, :process 10408, :time 99765173500, :index 21081}
{:type :info, :f :cas, :value [3 3], :process 10497, :time 99767293100, :error "indeterminate: Connection refused (Connection refused)", :index 21082}
{:type :invoke, :f :write, :value 4, :process 10584, :time 99770042800, :index 21083}
{:type :info, :f :write, :value 3, :process 10408, :time 99772041600, :error "indeterminate: Connection refused (Connection refused)", :index 21084}
{:type :info, :f :write, :value 4, :process 10584, :time 99775386000, :error "indeterminate: Connection refused (Connection refused)", :index 21085}
{:type :invoke, :f :read, :value nil, :process 10413, :time 99775944700, :index 21086}
{:type :info, :f :read, :value nil, :process 10413, :time 99780383900, :error "indeterminate: Connection refused (Connection refused)", :index 21087}
{:type :invoke, :f :read, :value nil, :process 10540, :time 99786221600, :index 21088}
{:type :invoke, :f :cas, :value [3 2], :process 10636, :time 99790176900, :index 21089}
{:type :invoke, :f :read, :value nil, :process 10589, :time 99793959600, :index 21090}
{:type :info, :f :read, :value nil, :process 10540, :time 99800513600, :error "indeterminate: Connection refused (Connection refused)", :index 21091}
{:type :info, :f :cas, :value [3 2], :process 10636, :time 99800624800, :error "indeterminate: Connection refused (Connection refused)", :index 21092}
{:type :info, :f :read, :value nil, :process 10589, :time 99803093300, :error "indeterminate: Connection refused (Connection refused)", :index 21093}
{:type :invoke, :f :write, :value 1, :process 10594, :time 99805318300, :index 21094}
{:type :info, :f :write, :value 1, :process 10594, :time 99809488600, :error "indeterminate: Connection refused (Connection refused)", :index 21095}
{:type :invoke, :f :read, :value nil, :process 10502, :time 99829527800, :index 21096}
{:type :invoke, :f :read, :value nil, :process 10641, :time 99829682300, :index 21097}
{:type :invoke, :f :read, :value nil, :process 10545, :time 99834566500, :index 21098}
{:type :info, :f :read, :value nil, :process 10502, :time 99840733700, :error "indeterminate: Connection refused (Connection refused)", :index 21099}
{:type :info, :f :read, :value nil, :process 10545, :time 99840877600, :error "indeterminate: Connection refused (Connection refused)", :index 21100}
{:type :info, :f :read, :value nil, :process 10641, :time 99843981500, :error "indeterminate: Connection refused (Connection refused)", :index 21101}
{:type :invoke, :f :read, :value nil, :process 10418, :time 99841678400, :index 21102}
{:type :info, :f :read, :value nil, :process 10418, :time 99853688800, :error "indeterminate: Connection refused (Connection refused)", :index 21103}
{:type :invoke, :f :write, :value 0, :process 10599, :time 99853954700, :index 21104}
{:type :invoke, :f :read, :value nil, :process 10507, :time 99859722100, :index 21105}
{:type :info, :f :read, :value nil, :process 10507, :time 99863829600, :error "indeterminate: Connection refused (Connection refused)", :index 21106}
{:type :info, :f :write, :value 0, :process 10599, :time 99865902600, :error "indeterminate: Connection refused (Connection refused)", :index 21107}
{:type :invoke, :f :write, :value 2, :process 10604, :time 99873958100, :index 21108}
{:type :info, :f :write, :value 2, :process 10604, :time 99878806600, :error "indeterminate: Connection refused (Connection refused)", :index 21109}
{:type :invoke, :f :read, :value nil, :process 10550, :time 99881840800, :index 21110}
{:type :info, :f :read, :value nil, :process 10550, :time 99886820400, :error "indeterminate: Connection refused (Connection refused)", :index 21111}
{:type :invoke, :f :write, :value 2, :process 10646, :time 99886109400, :index 21112}
{:type :info, :f :write, :value 2, :process 10646, :time 99891018900, :error "indeterminate: Connection refused (Connection refused)", :index 21113}
{:type :invoke, :f :read, :value nil, :process 10609, :time 99902729300, :index 21114}
{:type :info, :f :read, :value nil, :process 10609, :time 99908606400, :error "indeterminate: Connection refused (Connection refused)", :index 21115}
{:type :invoke, :f :read, :value nil, :process 10423, :time 99925776900, :index 21116}
{:type :info, :f :read, :value nil, :process 10423, :time 99929439700, :error "indeterminate: Connection refused (Connection refused)", :index 21117}
{:type :invoke, :f :write, :value 1, :process 10512, :time 99930511600, :index 21118}
{:type :invoke, :f :write, :value 1, :process 10428, :time 99933971000, :index 21119}
{:type :info, :f :write, :value 1, :process 10512, :time 99934841300, :error "indeterminate: Connection refused (Connection refused)", :index 21120}
{:type :info, :f :write, :value 1, :process 10428, :time 99938998600, :error "indeterminate: Connection refused (Connection refused)", :index 21121}
{:type :invoke, :f :write, :value 1, :process 10555, :time 99943108100, :index 21122}
{:type :info, :f :write, :value 1, :process 10555, :time 99946693600, :error "indeterminate: Connection refused (Connection refused)", :index 21123}
{:type :invoke, :f :write, :value 4, :process 10614, :time 99953771000, :index 21124}
{:type :invoke, :f :cas, :value [4 1], :process 10651, :time 99956188900, :index 21125}
{:type :info, :f :write, :value 4, :process 10614, :time 99958063400, :error "indeterminate: Connection refused (Connection refused)", :index 21126}
{:type :info, :f :cas, :value [4 1], :process 10651, :time 99959769300, :error "indeterminate: Connection refused (Connection refused)", :index 21127}
{:type :invoke, :f :cas, :value [2 3], :process 10433, :time 99961401400, :index 21128}
{:type :info, :f :cas, :value [2 3], :process 10433, :time 99966098500, :error "indeterminate: Connection refused (Connection refused)", :index 21129}
{:type :invoke, :f :write, :value 2, :process 10517, :time 99987489700, :index 21130}
{:type :invoke, :f :write, :value 4, :process 10560, :time 99988300500, :index 21131}
{:type :info, :f :write, :value 2, :process 10517, :time 99992362500, :error "indeterminate: Connection refused (Connection refused)", :index 21132}
{:type :invoke, :f :read, :value nil, :process 10656, :time 99996420000, :index 21133}
{:type :info, :f :write, :value 4, :process 10560, :time 99998537500, :error "indeterminate: Connection refused (Connection refused)", :index 21134}
{:type :invoke, :f :cas, :value [1 1], :process 10522, :time 100002183300, :index 21135}
{:type :info, :f :cas, :value [1 1], :process 10522, :time 100006673700, :error "indeterminate: Connection refused (Connection refused)", :index 21136}
{:type :info, :f :read, :value nil, :process 10656, :time 100007668000, :error "indeterminate: Connection refused (Connection refused)", :index 21137}
{:type :invoke, :f :write, :value 3, :process 10661, :time 100016450400, :index 21138}
{:type :invoke, :f :read, :value nil, :process 10438, :time 100019071000, :index 21139}
{:type :invoke, :f :cas, :value [4 3], :process 10619, :time 100019780500, :index 21140}
{:type :info, :f :write, :value 3, :process 10661, :time 100021665500, :error "indeterminate: Connection refused (Connection refused)", :index 21141}
{:type :info, :f :cas, :value [4 3], :process 10619, :time 100030967300, :error "indeterminate: Connection refused (Connection refused)", :index 21142}
{:type :info, :f :read, :value nil, :process 10438, :time 100031118900, :error "indeterminate: Connection refused (Connection refused)", :index 21143}
{:type :invoke, :f :cas, :value [4 3], :process 10565, :time 100054689100, :index 21144}
{:type :info, :f :cas, :value [4 3], :process 10565, :time 100059425400, :error "indeterminate: Connection refused (Connection refused)", :index 21145}
{:type :invoke, :f :read, :value nil, :process 10443, :time 100060737500, :index 21146}
{:type :info, :f :read, :value nil, :process 10443, :time 100065665000, :error "indeterminate: Connection refused (Connection refused)", :index 21147}
{:type :invoke, :f :read, :value nil, :process 10527, :time 100066423200, :index 21148}
{:type :info, :f :read, :value nil, :process 10527, :time 100070670900, :error "indeterminate: Connection refused (Connection refused)", :index 21149}
{:type :invoke, :f :cas, :value [4 4], :process 10624, :time 100073889700, :index 21150}
{:type :info, :f :cas, :value [4 4], :process 10624, :time 100079796700, :error "indeterminate: Connection refused (Connection refused)", :index 21151}
{:type :invoke, :f :cas, :value [1 0], :process 10666, :time 100079226000, :index 21152}
{:type :info, :f :cas, :value [1 0], :process 10666, :time 100084236100, :error "indeterminate: Connection refused (Connection refused)", :index 21153}
{:type :invoke, :f :read, :value nil, :process 10570, :time 100084724100, :index 21154}
{:type :info, :f :read, :value nil, :process 10570, :time 100091711900, :error "indeterminate: Connection refused (Connection refused)", :index 21155}
{:type :invoke, :f :write, :value 1, :process 10448, :time 100106835300, :index 21156}
{:type :invoke, :f :write, :value 0, :process 10671, :time 100106969100, :index 21157}
{:type :info, :f :write, :value 1, :process 10448, :time 100112024200, :error "indeterminate: Connection refused (Connection refused)", :index 21158}
{:type :info, :f :write, :value 0, :process 10671, :time 100112246500, :error "indeterminate: Connection refused (Connection refused)", :index 21159}
{:type :invoke, :f :cas, :value [3 4], :process 10532, :time 100128552600, :index 21160}
{:type :invoke, :f :write, :value 4, :process 10629, :time 100133077700, :index 21161}
{:type :info, :f :cas, :value [3 4], :process 10532, :time 100133416600, :error "indeterminate: Connection refused (Connection refused)", :index 21162}
{:type :invoke, :f :cas, :value [2 0], :process 10676, :time 100133910700, :index 21163}
{:type :info, :f :write, :value 4, :process 10629, :time 100136938500, :error "indeterminate: Connection refused (Connection refused)", :index 21164}
{:type :info, :f :cas, :value [2 0], :process 10676, :time 100138452300, :error "indeterminate: Connection refused (Connection refused)", :index 21165}
