{:type :info, :f :start, :process :nemesis, :time 10230272100, :index 2298}
{:type :info, :f :start, :process :nemesis, :time 10343277800, :value [:isolated {"n2" #{"n5" "n1" "n4"}, "n3" #{"n5" "n1" "n4"}, "n5" #{"n2" "n3"}, "n1" #{"n2" "n3"}, "n4" #{"n2" "n3"}}], :index 2323}
{:type :info, :f :stop, :process :nemesis, :time 20343489100, :index 4666}
{:type :info, :f :stop, :process :nemesis, :time 20567307600, :value :network-healed, :index 4713}
{:type :info, :f :start, :process :nemesis, :time 30567494700, :index 7096}
{:type :info, :f :start, :process :nemesis, :time 30694499600, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 7125}
{:type :info, :f :stop, :process :nemesis, :time 40694684500, :index 9456}
{:type :info, :f :stop, :process :nemesis, :time 40933693100, :value :network-healed, :index 9516}
{:type :info, :f :start, :process :nemesis, :time 50933903000, :index 11871}
{:type :info, :f :start, :process :nemesis, :time 51056748200, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 11904}
{:type :info, :f :stop, :process :nemesis, :time 61057119300, :index 14272}
{:type :info, :f :stop, :process :nemesis, :time 61214302000, :value :network-healed, :index 14305}
{:type :info, :f :start, :process :nemesis, :time 71214646700, :index 16650}
{:type :info, :f :start, :process :nemesis, :time 71260246200, :value [:isolated {"n5" #{"n2" "n1" "n3"}, "n4" #{"n2" "n1" "n3"}, "n2" #{"n5" "n4"}, "n1" #{"n5" "n4"}, "n3" #{"n5" "n4"}}], :index 16658}
{:type :info, :f :stop, :process :nemesis, :time 81267769100, :index 19001}
{:type :info, :f :stop, :process :nemesis, :time 81426403000, :value :network-healed, :index 19039}
{:type :info, :f :start, :process :nemesis, :time 91429672200, :index 21382}
{:type :info, :f :start, :process :nemesis, :time 91551944900, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 21402}
{:type :invoke, :f :read, :value nil, :process 11673, :time 100003880000, :index 23412}
{:type :info, :f :read, :value nil, :process 11673, :time 100008074800, :error "indeterminate: Connection refused (Connection refused)", :index 23413}
{:type :invoke, :f :read, :value nil, :process 11660, :time 100029084300, :index 23418}
{:type :info, :f :read, :value nil, :process 11660, :time 100033238800, :error "indeterminate: Connection refused (Connection refused)", :index 23419}
{:type :invoke, :f :read, :value nil, :process 11678, :time 100033314700, :index 23420}
{:type :info, :f :read, :value nil, :process 11678, :time 100039052100, :error "indeterminate: Connection refused (Connection refused)", :index 23421}
{:type :invoke, :f :read, :value nil, :process 11824, :time 100055366600, :index 23422}
{:type :info, :f :read, :value nil, :process 11824, :time 100062156100, :error "indeterminate: Connection refused (Connection refused)", :index 23424}
{:type :invoke, :f :write, :value 1, :process 11829, :time 100071984100, :index 23426}
{:type :info, :f :write, :value 1, :process 11829, :time 100075796400, :error "indeterminate: Connection refused (Connection refused)", :index 23427}
{:type :invoke, :f :cas, :value [3 1], :process 11566, :time 100077794200, :index 23428}
{:type :info, :f :cas, :value [3 1], :process 11566, :time 100081591300, :error "indeterminate: Connection refused (Connection refused)", :index 23429}
{:type :invoke, :f :write, :value 4, :process 11683, :time 100082316800, :index 23430}
{:type :info, :f :write, :value 4, :process 11683, :time 100087651100, :error "indeterminate: Connection refused (Connection refused)", :index 23431}
{:type :invoke, :f :write, :value 1, :process 11834, :time 100088154000, :index 23432}
{:type :invoke, :f :cas, :value [4 0], :process 11787, :time 100089288600, :index 23433}
{:type :invoke, :f :cas, :value [2 2], :process 11665, :time 100091849600, :index 23434}
{:type :invoke, :f :cas, :value [4 1], :process 11688, :time 100095111400, :index 23435}
{:type :info, :f :cas, :value [2 2], :process 11665, :time 100096537600, :error "indeterminate: Connection refused (Connection refused)", :index 23436}
{:type :info, :f :write, :value 1, :process 11834, :time 100098272000, :error "indeterminate: Connection refused (Connection refused)", :index 23437}
{:type :info, :f :cas, :value [4 1], :process 11688, :time 100098925000, :error "indeterminate: Connection refused (Connection refused)", :index 23438}
{:type :info, :f :cas, :value [4 0], :process 11787, :time 100101893700, :error "indeterminate: Connection refused (Connection refused)", :index 23439}
{:type :invoke, :f :write, :value 4, :process 11839, :time 100104390800, :index 23440}
{:type :info, :f :write, :value 4, :process 11839, :time 100109342900, :error "indeterminate: Connection refused (Connection refused)", :index 23441}
{:type :invoke, :f :cas, :value [3 0], :process 11571, :time 100110913400, :index 23442}
{:type :info, :f :cas, :value [3 0], :process 11571, :time 100114566800, :error "indeterminate: Connection refused (Connection refused)", :index 23443}
{:type :invoke, :f :read, :value nil, :process 11693, :time 100130273500, :index 23444}
{:type :info, :f :read, :value nil, :process 11693, :time 100134707600, :error "indeterminate: Connection refused (Connection refused)", :index 23445}
{:type :invoke, :f :read, :value nil, :process 11670, :time 100137304000, :index 23446}
{:type :info, :f :read, :value nil, :process 11670, :time 100142290900, :error "indeterminate: Connection refused (Connection refused)", :index 23447}
{:type :invoke, :f :write, :value 2, :process 11844, :time 100152004600, :index 23448}
{:type :info, :f :write, :value 2, :process 11844, :time 100155811500, :error "indeterminate: Connection refused (Connection refused)", :index 23449}
{:type :invoke, :f :read, :value nil, :process 11849, :time 100156297000, :index 23450}
{:type :info, :f :read, :value nil, :process 11849, :time 100160354100, :error "indeterminate: Connection refused (Connection refused)", :index 23451}
{:type :invoke, :f :read, :value nil, :process 11792, :time 100165093600, :index 23452}
{:type :invoke, :f :write, :value 3, :process 11576, :time 100165228500, :index 23453}
{:type :invoke, :f :cas, :value [3 1], :process 11698, :time 100170549200, :index 23454}
{:type :info, :f :read, :value nil, :process 11792, :time 100179108000, :error "indeterminate: Connection refused (Connection refused)", :index 23455}
{:type :info, :f :cas, :value [3 1], :process 11698, :time 100180505600, :error "indeterminate: Connection refused (Connection refused)", :index 23456}
{:type :info, :f :write, :value 3, :process 11576, :time 100181417800, :error "indeterminate: Connection refused (Connection refused)", :index 23457}
{:type :invoke, :f :cas, :value [0 4], :process 11797, :time 100186478700, :index 23458}
{:type :info, :f :cas, :value [0 4], :process 11797, :time 100190431700, :error "indeterminate: Connection refused (Connection refused)", :index 23459}
{:type :invoke, :f :cas, :value [3 2], :process 11703, :time 100192156600, :index 23460}
{:type :info, :f :cas, :value [3 2], :process 11703, :time 100196086600, :error "indeterminate: Connection refused (Connection refused)", :index 23461}
{:type :invoke, :f :cas, :value [2 2], :process 11675, :time 100199043300, :index 23462}
{:type :info, :f :cas, :value [2 2], :process 11675, :time 100203740800, :error "indeterminate: Connection refused (Connection refused)", :index 23463}
{:type :invoke, :f :cas, :value [0 0], :process 11854, :time 100210120800, :index 23464}
{:type :info, :f :cas, :value [0 0], :process 11854, :time 100214380300, :error "indeterminate: Connection refused (Connection refused)", :index 23465}
{:type :invoke, :f :cas, :value [4 2], :process 11859, :time 100216359900, :index 23466}
{:type :invoke, :f :cas, :value [4 1], :process 11680, :time 100219576000, :index 23467}
{:type :info, :f :cas, :value [4 2], :process 11859, :time 100223308700, :error "indeterminate: Connection refused (Connection refused)", :index 23468}
{:type :info, :f :cas, :value [4 1], :process 11680, :time 100225155900, :error "indeterminate: Connection refused (Connection refused)", :index 23469}
