{:type :info, :f :start, :process :nemesis, :time 10182508600, :index 1712}
{:type :info, :f :start, :process :nemesis, :time 12381120100, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 2063}
{:type :info, :f :stop, :process :nemesis, :time 22382392100, :index 4030}
{:type :info, :f :stop, :process :nemesis, :time 22537567800, :value :network-healed, :index 4050}
{:type :info, :f :start, :process :nemesis, :time 32544539100, :index 5841}
{:type :info, :f :start, :process :nemesis, :time 32759436700, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 5860}
{:type :info, :f :stop, :process :nemesis, :time 42759854900, :index 7481}
{:type :info, :f :stop, :process :nemesis, :time 43016776900, :value :network-healed, :index 7528}
{:type :info, :f :start, :process :nemesis, :time 53017073600, :index 9517}
{:type :info, :f :start, :process :nemesis, :time 53151854700, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 9536}
{:type :invoke, :f :write, :value 2, :process 5449, :time 59364747900, :index 10809}
{:type :info, :f :write, :value 2, :process 5449, :time 59370612300, :error "indeterminate: Connection refused (Connection refused)", :index 10810}
{:type :invoke, :f :write, :value 3, :process 5281, :time 59384750000, :index 10812}
{:type :info, :f :write, :value 3, :process 5281, :time 59389541600, :error "indeterminate: Connection refused (Connection refused)", :index 10813}
{:type :invoke, :f :read, :value nil, :process 5286, :time 59391466300, :index 10814}
{:type :invoke, :f :cas, :value [4 1], :process 5380, :time 59394072100, :index 10815}
{:type :invoke, :f :write, :value 1, :process 5454, :time 59399604800, :index 10816}
{:type :info, :f :cas, :value [4 1], :process 5380, :time 59404793200, :error "indeterminate: Connection refused (Connection refused)", :index 10817}
{:type :info, :f :read, :value nil, :process 5286, :time 59406589600, :error "indeterminate: Connection refused (Connection refused)", :index 10818}
{:type :invoke, :f :read, :value nil, :process 5291, :time 59409079400, :index 10819}
{:type :invoke, :f :write, :value 4, :process 5502, :time 59409935900, :index 10820}
{:type :info, :f :write, :value 1, :process 5454, :time 59416615000, :error "indeterminate: Connection refused (Connection refused)", :index 10821}
{:type :invoke, :f :read, :value nil, :process 5398, :time 59418209800, :index 10822}
{:type :info, :f :write, :value 4, :process 5502, :time 59431062000, :error "indeterminate: Connection refused (Connection refused)", :index 10823}
{:type :info, :f :read, :value nil, :process 5398, :time 59448689300, :error "indeterminate: Connection refused (Connection refused)", :index 10824}
{:type :info, :f :read, :value nil, :process 5291, :time 59454319800, :error "indeterminate: Connection refused (Connection refused)", :index 10825}
{:type :invoke, :f :read, :value nil, :process 5385, :time 59455986800, :index 10826}
{:type :info, :f :read, :value nil, :process 5385, :time 59461158200, :error "indeterminate: Connection refused (Connection refused)", :index 10827}
{:type :invoke, :f :cas, :value [3 1], :process 5296, :time 59463438100, :index 10828}
{:type :info, :f :cas, :value [3 1], :process 5296, :time 59473961500, :error "indeterminate: Connection refused (Connection refused)", :index 10829}
{:type :invoke, :f :cas, :value [1 2], :process 5301, :time 59477730900, :index 10830}
{:type :invoke, :f :cas, :value [0 2], :process 5459, :time 59480531600, :index 10831}
{:type :info, :f :cas, :value [1 2], :process 5301, :time 59493333100, :error "indeterminate: Connection refused (Connection refused)", :index 10832}
{:type :invoke, :f :write, :value 4, :process 5403, :time 59491438500, :index 10833}
{:type :invoke, :f :write, :value 4, :process 5507, :time 59498075400, :index 10834}
{:type :info, :f :write, :value 4, :process 5403, :time 59504129800, :error "indeterminate: Connection refused (Connection refused)", :index 10835}
{:type :info, :f :cas, :value [0 2], :process 5459, :time 59505381000, :error "indeterminate: Connection refused (Connection refused)", :index 10836}
{:type :info, :f :write, :value 4, :process 5507, :time 59506489500, :error "indeterminate: Connection refused (Connection refused)", :index 10837}
{:type :invoke, :f :cas, :value [2 3], :process 5464, :time 59521240400, :index 10838}
{:type :invoke, :f :write, :value 3, :process 5390, :time 59526248000, :index 10839}
{:type :info, :f :cas, :value [2 3], :process 5464, :time 59527952000, :error "indeterminate: Connection refused (Connection refused)", :index 10840}
{:type :info, :f :write, :value 3, :process 5390, :time 59532309300, :error "indeterminate: Connection refused (Connection refused)", :index 10841}
{:type :invoke, :f :cas, :value [2 4], :process 5512, :time 59541245300, :index 10842}
{:type :invoke, :f :read, :value nil, :process 5408, :time 59543022500, :index 10843}
{:type :info, :f :read, :value nil, :process 5408, :time 59551481200, :error "indeterminate: Connection refused (Connection refused)", :index 10844}
{:type :info, :f :cas, :value [2 4], :process 5512, :time 59552777100, :error "indeterminate: Connection refused (Connection refused)", :index 10845}
{:type :invoke, :f :write, :value 3, :process 5306, :time 59553168700, :index 10846}
{:type :invoke, :f :write, :value 1, :process 5395, :time 59554460000, :index 10847}
{:type :info, :f :write, :value 1, :process 5395, :time 59569739500, :error "indeterminate: Connection refused (Connection refused)", :index 10848}
{:type :invoke, :f :write, :value 1, :process 5469, :time 59569432200, :index 10849}
{:type :info, :f :write, :value 1, :process 5469, :time 59574885200, :error "indeterminate: Connection refused (Connection refused)", :index 10850}
{:type :info, :f :write, :value 3, :process 5306, :time 59569684500, :error "indeterminate: Connection refused (Connection refused)", :index 10851}
{:type :invoke, :f :write, :value 2, :process 5517, :time 59584445300, :index 10852}
{:type :info, :f :write, :value 2, :process 5517, :time 59589068900, :error "indeterminate: Connection refused (Connection refused)", :index 10853}
{:type :invoke, :f :read, :value nil, :process 5413, :time 59597342600, :index 10854}
{:type :info, :f :read, :value nil, :process 5413, :time 59601934100, :error "indeterminate: Connection refused (Connection refused)", :index 10855}
{:type :invoke, :f :read, :value nil, :process 5522, :time 59605870300, :index 10856}
{:type :info, :f :read, :value nil, :process 5522, :time 59610277700, :error "indeterminate: Connection refused (Connection refused)", :index 10857}
{:type :invoke, :f :read, :value nil, :process 5311, :time 59610637100, :index 10858}
{:type :info, :f :read, :value nil, :process 5311, :time 59616712400, :error "indeterminate: Connection refused (Connection refused)", :index 10859}
{:type :invoke, :f :cas, :value [3 1], :process 5474, :time 59615417600, :index 10860}
{:type :info, :f :cas, :value [3 1], :process 5474, :time 59620828700, :error "indeterminate: Connection refused (Connection refused)", :index 10861}
{:type :invoke, :f :write, :value 2, :process 5400, :time 59623733500, :index 10862}
{:type :info, :f :write, :value 2, :process 5400, :time 59628138300, :error "indeterminate: Connection refused (Connection refused)", :index 10863}
{:type :invoke, :f :read, :value nil, :process 5418, :time 59630694400, :index 10864}
{:type :info, :f :read, :value nil, :process 5418, :time 59635287500, :error "indeterminate: Connection refused (Connection refused)", :index 10865}
{:type :invoke, :f :cas, :value [2 3], :process 5405, :time 59642334800, :index 10866}
{:type :info, :f :cas, :value [2 3], :process 5405, :time 59646689800, :error "indeterminate: Connection refused (Connection refused)", :index 10867}
{:type :invoke, :f :cas, :value [4 1], :process 5527, :time 59648162200, :index 10868}
{:type :info, :f :cas, :value [4 1], :process 5527, :time 59653336200, :error "indeterminate: Connection refused (Connection refused)", :index 10869}
{:type :invoke, :f :read, :value nil, :process 5479, :time 59656468200, :index 10870}
{:type :invoke, :f :write, :value 1, :process 5316, :time 59660468200, :index 10871}
{:type :info, :f :read, :value nil, :process 5479, :time 59661606000, :error "indeterminate: Connection refused (Connection refused)", :index 10872}
{:type :invoke, :f :cas, :value [1 1], :process 5423, :time 59667285000, :index 10873}
{:type :info, :f :write, :value 1, :process 5316, :time 59668786600, :error "indeterminate: Connection refused (Connection refused)", :index 10874}
{:type :info, :f :cas, :value [1 1], :process 5423, :time 59672939700, :error "indeterminate: Connection refused (Connection refused)", :index 10875}
{:type :invoke, :f :cas, :value [3 4], :process 5428, :time 59695012000, :index 10876}
{:type :info, :f :cas, :value [3 4], :process 5428, :time 59703327500, :error "indeterminate: Connection refused (Connection refused)", :index 10877}
{:type :invoke, :f :read, :value nil, :process 5410, :time 59705440700, :index 10878}
{:type :invoke, :f :write, :value 3, :process 5532, :time 59708395600, :index 10879}
{:type :info, :f :write, :value 3, :process 5532, :time 59713640800, :error "indeterminate: Connection refused (Connection refused)", :index 10880}
{:type :invoke, :f :read, :value nil, :process 5484, :time 59715382100, :index 10881}
{:type :info, :f :read, :value nil, :process 5410, :time 59720731500, :error "indeterminate: Connection refused (Connection refused)", :index 10882}
{:type :invoke, :f :write, :value 4, :process 5321, :time 59723523500, :index 10883}
{:type :info, :f :read, :value nil, :process 5484, :time 59724925000, :error "indeterminate: Connection refused (Connection refused)", :index 10884}
{:type :info, :f :write, :value 4, :process 5321, :time 59737193600, :error "indeterminate: Connection refused (Connection refused)", :index 10885}
{:type :invoke, :f :read, :value nil, :process 5489, :time 59735857400, :index 10886}
{:type :info, :f :read, :value nil, :process 5489, :time 59741927700, :error "indeterminate: Connection refused (Connection refused)", :index 10887}
{:type :invoke, :f :read, :value nil, :process 5537, :time 59746985400, :index 10888}
{:type :info, :f :read, :value nil, :process 5537, :time 59752599400, :error "indeterminate: Connection refused (Connection refused)", :index 10889}
{:type :invoke, :f :cas, :value [1 0], :process 5433, :time 59753383600, :index 10890}
{:type :info, :f :cas, :value [1 0], :process 5433, :time 59760397500, :error "indeterminate: Connection refused (Connection refused)", :index 10891}
{:type :invoke, :f :read, :value nil, :process 5494, :time 59767534500, :index 10892}
{:type :info, :f :read, :value nil, :process 5494, :time 59772632600, :error "indeterminate: Connection refused (Connection refused)", :index 10893}
{:type :invoke, :f :cas, :value [1 3], :process 5415, :time 59784501300, :index 10894}
{:type :invoke, :f :write, :value 0, :process 5326, :time 59785101200, :index 10895}
{:type :info, :f :cas, :value [1 3], :process 5415, :time 59790067100, :error "indeterminate: Connection refused (Connection refused)", :index 10896}
{:type :info, :f :write, :value 0, :process 5326, :time 59801631400, :error "indeterminate: Connection refused (Connection refused)", :index 10897}
{:type :invoke, :f :write, :value 0, :process 5499, :time 59801661100, :index 10898}
{:type :invoke, :f :write, :value 0, :process 5438, :time 59802175000, :index 10899}
{:type :invoke, :f :read, :value nil, :process 5542, :time 59806098400, :index 10900}
{:type :info, :f :read, :value nil, :process 5542, :time 59810839000, :error "indeterminate: Connection refused (Connection refused)", :index 10901}
{:type :info, :f :write, :value 0, :process 5438, :time 59818287500, :error "indeterminate: Connection refused (Connection refused)", :index 10902}
{:type :info, :f :write, :value 0, :process 5499, :time 59824841600, :error "indeterminate: Connection refused (Connection refused)", :index 10903}
{:type :invoke, :f :cas, :value [4 0], :process 5504, :time 59832155500, :index 10904}
{:type :info, :f :cas, :value [4 0], :process 5504, :time 59838471600, :error "indeterminate: Connection refused (Connection refused)", :index 10905}
{:type :invoke, :f :write, :value 3, :process 5331, :time 59844953100, :index 10906}
{:type :info, :f :write, :value 3, :process 5331, :time 59855621000, :error "indeterminate: Connection refused (Connection refused)", :index 10907}
{:type :invoke, :f :cas, :value [4 2], :process 5443, :time 59853971700, :index 10908}
{:type :info, :f :cas, :value [4 2], :process 5443, :time 59860058900, :error "indeterminate: Connection refused (Connection refused)", :index 10909}
{:type :invoke, :f :cas, :value [1 2], :process 5420, :time 59853328200, :index 10910}
{:type :invoke, :f :write, :value 2, :process 5336, :time 59863284600, :index 10911}
{:type :info, :f :write, :value 2, :process 5336, :time 59874441400, :error "indeterminate: Connection refused (Connection refused)", :index 10912}
{:type :invoke, :f :read, :value nil, :process 5547, :time 59870855000, :index 10913}
{:type :invoke, :f :cas, :value [2 2], :process 5509, :time 59870909600, :index 10914}
{:type :info, :f :read, :value nil, :process 5547, :time 59880579100, :error "indeterminate: Connection refused (Connection refused)", :index 10915}
{:type :invoke, :f :read, :value nil, :process 5448, :time 59889508900, :index 10916}
{:type :invoke, :f :cas, :value [3 4], :process 5341, :time 59893818300, :index 10917}
{:type :info, :f :cas, :value [1 2], :process 5420, :time 59895138400, :error "indeterminate: Connection refused (Connection refused)", :index 10918}
{:type :invoke, :f :write, :value 0, :process 5425, :time 59904717100, :index 10919}
{:type :info, :f :cas, :value [2 2], :process 5509, :time 59911830500, :error "indeterminate: Connection refused (Connection refused)", :index 10920}
{:type :info, :f :read, :value nil, :process 5448, :time 59913554200, :error "indeterminate: Connection refused (Connection refused)", :index 10921}
{:type :info, :f :write, :value 0, :process 5425, :time 59922238300, :error "indeterminate: Connection refused (Connection refused)", :index 10922}
{:type :info, :f :cas, :value [3 4], :process 5341, :time 59933674200, :error "indeterminate: Connection refused (Connection refused)", :index 10923}
{:type :invoke, :f :read, :value nil, :process 5552, :time 59936782800, :index 10924}
{:type :invoke, :f :cas, :value [3 2], :process 5346, :time 59937314400, :index 10925}
{:type :info, :f :cas, :value [3 2], :process 5346, :time 59952145700, :error "indeterminate: Connection refused (Connection refused)", :index 10926}
{:type :invoke, :f :write, :value 4, :process 5514, :time 59952187900, :index 10927}
{:type :info, :f :write, :value 4, :process 5514, :time 59957877700, :error "indeterminate: Connection refused (Connection refused)", :index 10928}
{:type :invoke, :f :read, :value nil, :process 5430, :time 59957992600, :index 10929}
{:type :info, :f :read, :value nil, :process 5552, :time 59952686400, :error "indeterminate: Connection refused (Connection refused)", :index 10930}
{:type :info, :f :read, :value nil, :process 5430, :time 59969062200, :error "indeterminate: Connection refused (Connection refused)", :index 10931}
{:type :invoke, :f :write, :value 0, :process 5453, :time 59974165300, :index 10932}
{:type :info, :f :write, :value 0, :process 5453, :time 59978865300, :error "indeterminate: Connection refused (Connection refused)", :index 10933}
{:type :invoke, :f :read, :value nil, :process 5557, :time 59988061800, :index 10934}
{:type :invoke, :f :cas, :value [4 1], :process 5519, :time 59990652500, :index 10935}
{:type :info, :f :cas, :value [4 1], :process 5519, :time 59996260100, :error "indeterminate: Connection refused (Connection refused)", :index 10936}
{:type :invoke, :f :cas, :value [3 2], :process 5435, :time 60001458500, :index 10937}
{:type :invoke, :f :read, :value nil, :process 5351, :time 60002296400, :index 10938}
{:type :invoke, :f :write, :value 2, :process 5458, :time 60008489000, :index 10939}
{:type :info, :f :cas, :value [3 2], :process 5435, :time 60016423600, :error "indeterminate: Connection refused (Connection refused)", :index 10940}
{:type :info, :f :read, :value nil, :process 5351, :time 60016234800, :error "indeterminate: Connection refused (Connection refused)", :index 10941}
{:type :info, :f :read, :value nil, :process 5557, :time 60023421300, :error "indeterminate: Connection refused (Connection refused)", :index 10942}
{:type :info, :f :write, :value 2, :process 5458, :time 60023639400, :error "indeterminate: Connection refused (Connection refused)", :index 10943}
{:type :invoke, :f :cas, :value [3 3], :process 5524, :time 60026769800, :index 10944}
{:type :invoke, :f :read, :value nil, :process 5440, :time 60033282400, :index 10945}
{:type :info, :f :cas, :value [3 3], :process 5524, :time 60033222000, :error "indeterminate: Connection refused (Connection refused)", :index 10946}
{:type :info, :f :read, :value nil, :process 5440, :time 60040646300, :error "indeterminate: Connection refused (Connection refused)", :index 10947}
{:type :invoke, :f :write, :value 2, :process 5562, :time 60065099800, :index 10948}
{:type :info, :f :write, :value 2, :process 5562, :time 60073991900, :error "indeterminate: Connection refused (Connection refused)", :index 10949}
{:type :invoke, :f :read, :value nil, :process 5445, :time 60079016000, :index 10950}
{:type :info, :f :read, :value nil, :process 5445, :time 60083611700, :error "indeterminate: Connection refused (Connection refused)", :index 10951}
{:type :invoke, :f :read, :value nil, :process 5356, :time 60093261600, :index 10952}
{:type :invoke, :f :read, :value nil, :process 5529, :time 60096866300, :index 10953}
{:type :invoke, :f :read, :value nil, :process 5463, :time 60097583400, :index 10954}
{:type :info, :f :read, :value nil, :process 5529, :time 60101084700, :error "indeterminate: Connection refused (Connection refused)", :index 10955}
{:type :info, :f :read, :value nil, :process 5463, :time 60101721900, :error "indeterminate: Connection refused (Connection refused)", :index 10956}
{:type :info, :f :read, :value nil, :process 5356, :time 60113975800, :error "indeterminate: Connection refused (Connection refused)", :index 10957}
{:type :invoke, :f :read, :value nil, :process 5567, :time 60119902100, :index 10958}
{:type :info, :f :read, :value nil, :process 5567, :time 60132822600, :error "indeterminate: Connection refused (Connection refused)", :index 10959}
{:type :invoke, :f :read, :value nil, :process 5450, :time 60136618600, :index 10960}
{:type :invoke, :f :write, :value 1, :process 5534, :time 60137766300, :index 10961}
{:type :info, :f :read, :value nil, :process 5450, :time 60141249400, :error "indeterminate: Connection refused (Connection refused)", :index 10962}
{:type :info, :f :write, :value 1, :process 5534, :time 60141685600, :error "indeterminate: Connection refused (Connection refused)", :index 10963}
{:type :invoke, :f :write, :value 3, :process 5455, :time 60145912000, :index 10964}
{:type :invoke, :f :write, :value 3, :process 5468, :time 60146866900, :index 10965}
{:type :invoke, :f :read, :value nil, :process 5361, :time 60142452400, :index 10966}
{:type :info, :f :write, :value 3, :process 5468, :time 60153890800, :error "indeterminate: Connection refused (Connection refused)", :index 10967}
{:type :info, :f :write, :value 3, :process 5455, :time 60159398900, :error "indeterminate: Connection refused (Connection refused)", :index 10968}
{:type :info, :f :read, :value nil, :process 5361, :time 60164243500, :error "indeterminate: Connection refused (Connection refused)", :index 10969}
{:type :invoke, :f :write, :value 3, :process 5539, :time 60168454800, :index 10970}
{:type :info, :f :write, :value 3, :process 5539, :time 60172883900, :error "indeterminate: Connection refused (Connection refused)", :index 10971}
{:type :invoke, :f :read, :value nil, :process 5572, :time 60176739500, :index 10972}
{:type :invoke, :f :cas, :value [2 2], :process 5473, :time 60177679000, :index 10973}
{:type :invoke, :f :write, :value 3, :process 5460, :time 60178422000, :index 10974}
{:type :info, :f :write, :value 3, :process 5460, :time 60199661400, :error "indeterminate: Connection refused (Connection refused)", :index 10975}
{:type :info, :f :cas, :value [2 2], :process 5473, :time 60199839700, :error "indeterminate: Connection refused (Connection refused)", :index 10976}
{:type :info, :f :read, :value nil, :process 5572, :time 60199591000, :error "indeterminate: Connection refused (Connection refused)", :index 10977}
