{:type :invoke, :f :write, :value 2, :process 300, :time 3602217800, :index 598}
{:type :invoke, :f :write, :value 1, :process 301, :time 3610832800, :index 601}
{:type :info, :f :write, :value 2, :process 300, :time 3611830600, :error "indeterminate: Connection refused (Connection refused)", :index 602}
{:type :invoke, :f :cas, :value [0 2], :process 299, :time 3616644000, :index 603}
{:type :info, :f :write, :value 1, :process 301, :time 3618524800, :error "indeterminate: Connection refused (Connection refused)", :index 604}
{:type :info, :f :cas, :value [0 2], :process 299, :time 3621319500, :error "indeterminate: Connection refused (Connection refused)", :index 605}
{:type :invoke, :f :read, :value nil, :process 305, :time 3621107900, :index 606}
{:type :invoke, :f :write, :value 3, :process 306, :time 3625386100, :index 607}
{:type :info, :f :read, :value nil, :process 305, :time 3632960000, :error "indeterminate: Connection refused (Connection refused)", :index 608}
{:type :info, :f :write, :value 3, :process 306, :time 3634631400, :error "indeterminate: Connection refused (Connection refused)", :index 609}
{:type :invoke, :f :read, :value nil, :process 311, :time 3640617300, :index 610}
{:type :invoke, :f :read, :value nil, :process 302, :time 3644310700, :index 611}
{:type :invoke, :f :read, :value nil, :process 310, :time 3645572000, :index 612}
{:type :info, :f :read, :value nil, :process 310, :time 3651012700, :error "indeterminate: Connection refused (Connection refused)", :index 613}
{:type :info, :f :read, :value nil, :process 302, :time 3651357800, :error "indeterminate: Connection refused (Connection refused)", :index 614}
{:type :info, :f :read, :value nil, :process 311, :time 3653551200, :error "indeterminate: Connection refused (Connection refused)", :index 615}
{:type :invoke, :f :read, :value nil, :process 308, :time 3658448100, :index 616}
{:type :info, :f :read, :value nil, :process 308, :time 3663802200, :error "indeterminate: Connection refused (Connection refused)", :index 617}
{:type :invoke, :f :write, :value 1, :process 304, :time 3671179200, :index 618}
{:type :info, :f :write, :value 1, :process 304, :time 3676185500, :error "indeterminate: Connection refused (Connection refused)", :index 619}
{:type :invoke, :f :read, :value nil, :process 307, :time 3684502900, :index 620}
{:type :info, :f :read, :value nil, :process 307, :time 3689367100, :error "indeterminate: Connection refused (Connection refused)", :index 621}
{:type :invoke, :f :cas, :value [4 1], :process 315, :time 3703077900, :index 622}
{:type :invoke, :f :cas, :value [2 4], :process 316, :time 3707599700, :index 623}
{:type :invoke, :f :cas, :value [4 2], :process 309, :time 3709021000, :index 624}
{:type :info, :f :cas, :value [4 1], :process 315, :time 3712067100, :error "indeterminate: Connection refused (Connection refused)", :index 625}
{:type :info, :f :cas, :value [2 4], :process 316, :time 3713428900, :error "indeterminate: Connection refused (Connection refused)", :index 626}
{:type :invoke, :f :read, :value nil, :process 312, :time 3719449400, :index 627}
{:type :info, :f :cas, :value [4 2], :process 309, :time 3721584200, :error "indeterminate: Connection refused (Connection refused)", :index 628}
{:type :invoke, :f :cas, :value [2 2], :process 321, :time 3722294100, :index 629}
{:type :info, :f :read, :value nil, :process 312, :time 3727775100, :error "indeterminate: Connection refused (Connection refused)", :index 630}
{:type :info, :f :cas, :value [2 2], :process 321, :time 3729511500, :error "indeterminate: Connection refused (Connection refused)", :index 631}
{:type :invoke, :f :write, :value 2, :process 313, :time 3729704600, :index 632}
{:type :info, :f :write, :value 2, :process 313, :time 3735462200, :error "indeterminate: Connection refused (Connection refused)", :index 633}
{:type :invoke, :f :cas, :value [0 3], :process 320, :time 3743036200, :index 634}
{:type :info, :f :cas, :value [0 3], :process 320, :time 3748082200, :error "indeterminate: Connection refused (Connection refused)", :index 635}
{:type :invoke, :f :read, :value nil, :process 325, :time 3751814400, :index 636}
{:type :info, :f :read, :value nil, :process 325, :time 3756289100, :error "indeterminate: Connection refused (Connection refused)", :index 637}
{:type :invoke, :f :write, :value 2, :process 318, :time 3761642000, :index 638}
{:type :invoke, :f :cas, :value [0 4], :process 317, :time 3765676200, :index 639}
{:type :info, :f :write, :value 2, :process 318, :time 3770880800, :error "indeterminate: Connection refused (Connection refused)", :index 640}
{:type :invoke, :f :read, :value nil, :process 314, :time 3768364200, :index 641}
{:type :info, :f :cas, :value [0 4], :process 317, :time 3774269700, :error "indeterminate: Connection refused (Connection refused)", :index 642}
{:type :invoke, :f :write, :value 0, :process 330, :time 3774900100, :index 643}
{:type :info, :f :read, :value nil, :process 314, :time 3775196400, :error "indeterminate: Connection refused (Connection refused)", :index 644}
{:type :info, :f :write, :value 0, :process 330, :time 3785187500, :error "indeterminate: Connection refused (Connection refused)", :index 645}
{:type :invoke, :f :read, :value nil, :process 326, :time 3782317500, :index 646}
{:type :info, :f :read, :value nil, :process 326, :time 3789847900, :error "indeterminate: Connection refused (Connection refused)", :index 647}
{:type :invoke, :f :cas, :value [0 0], :process 331, :time 3802010000, :index 648}
{:type :invoke, :f :cas, :value [0 4], :process 323, :time 3803796600, :index 649}
{:type :info, :f :cas, :value [0 0], :process 331, :time 3806813900, :error "indeterminate: Connection refused (Connection refused)", :index 650}
{:type :info, :f :cas, :value [0 4], :process 323, :time 3808570400, :error "indeterminate: Connection refused (Connection refused)", :index 651}
{:type :invoke, :f :cas, :value [4 0], :process 335, :time 3839246700, :index 652}
{:type :invoke, :f :read, :value nil, :process 322, :time 3842164000, :index 653}
{:type :invoke, :f :cas, :value [4 3], :process 319, :time 3842280400, :index 654}
{:type :info, :f :cas, :value [4 3], :process 319, :time 3848005400, :error "indeterminate: Connection refused (Connection refused)", :index 655}
{:type :info, :f :read, :value nil, :process 322, :time 3848799500, :error "indeterminate: Connection refused (Connection refused)", :index 656}
{:type :invoke, :f :cas, :value [1 0], :process 327, :time 3849720400, :index 657}
{:type :info, :f :cas, :value [4 0], :process 335, :time 3852188700, :error "indeterminate: Connection refused (Connection refused)", :index 658}
{:type :invoke, :f :write, :value 1, :process 324, :time 3854278800, :index 659}
{:type :info, :f :cas, :value [1 0], :process 327, :time 3855109800, :error "indeterminate: Connection refused (Connection refused)", :index 660}
{:type :info, :f :write, :value 1, :process 324, :time 3861526000, :error "indeterminate: Connection refused (Connection refused)", :index 661}
{:type :invoke, :f :cas, :value [1 1], :process 336, :time 3866831200, :index 662}
{:type :info, :f :cas, :value [1 1], :process 336, :time 3871826900, :error "indeterminate: Connection refused (Connection refused)", :index 663}
{:type :invoke, :f :write, :value 4, :process 328, :time 3872661600, :index 664}
{:type :info, :f :write, :value 4, :process 328, :time 3877652300, :error "indeterminate: Connection refused (Connection refused)", :index 665}
{:type :invoke, :f :write, :value 0, :process 329, :time 3877893400, :index 666}
{:type :info, :f :write, :value 0, :process 329, :time 3882880300, :error "indeterminate: Connection refused (Connection refused)", :index 667}
{:type :invoke, :f :read, :value nil, :process 341, :time 3895663600, :index 668}
{:type :invoke, :f :write, :value 4, :process 332, :time 3899440900, :index 669}
{:type :info, :f :read, :value nil, :process 341, :time 3901081800, :error "indeterminate: Connection refused (Connection refused)", :index 670}
{:type :invoke, :f :write, :value 0, :process 333, :time 3904749400, :index 671}
{:type :info, :f :write, :value 4, :process 332, :time 3907484200, :error "indeterminate: Connection refused (Connection refused)", :index 672}
{:type :info, :f :write, :value 0, :process 333, :time 3909714600, :error "indeterminate: Connection refused (Connection refused)", :index 673}
{:type :invoke, :f :write, :value 4, :process 340, :time 3913040900, :index 674}
{:type :info, :f :write, :value 4, :process 340, :time 3919318200, :error "indeterminate: Connection refused (Connection refused)", :index 675}
{:type :invoke, :f :write, :value 3, :process 334, :time 3929886400, :index 676}
{:type :invoke, :f :read, :value nil, :process 337, :time 3932180400, :index 677}
{:type :info, :f :write, :value 3, :process 334, :time 3935371900, :error "indeterminate: Connection refused (Connection refused)", :index 678}
{:type :invoke, :f :read, :value nil, :process 346, :time 3935881600, :index 679}
{:type :info, :f :read, :value nil, :process 337, :time 3938609900, :error "indeterminate: Connection refused (Connection refused)", :index 680}
{:type :info, :f :read, :value nil, :process 346, :time 3943534800, :error "indeterminate: Connection refused (Connection refused)", :index 681}
{:type :invoke, :f :write, :value 1, :process 339, :time 3945583200, :index 682}
{:type :info, :f :write, :value 1, :process 339, :time 3950665600, :error "indeterminate: Connection refused (Connection refused)", :index 683}
{:type :invoke, :f :read, :value nil, :process 342, :time 3963296200, :index 684}
{:type :info, :f :read, :value nil, :process 342, :time 3969282400, :error "indeterminate: Connection refused (Connection refused)", :index 685}
{:type :invoke, :f :cas, :value [2 2], :process 344, :time 3972484100, :index 686}
{:type :invoke, :f :read, :value nil, :process 338, :time 3973137000, :index 687}
{:type :info, :f :cas, :value [2 2], :process 344, :time 3977474800, :error "indeterminate: Connection refused (Connection refused)", :index 688}
{:type :info, :f :read, :value nil, :process 338, :time 3978002100, :error "indeterminate: Connection refused (Connection refused)", :index 689}
{:type :invoke, :f :read, :value nil, :process 345, :time 3985330000, :index 690}
{:type :info, :f :read, :value nil, :process 345, :time 3992333600, :error "indeterminate: Connection refused (Connection refused)", :index 691}
{:type :invoke, :f :write, :value 4, :process 351, :time 4009538100, :index 692}
{:type :info, :f :write, :value 4, :process 351, :time 4015248000, :error "indeterminate: Connection refused (Connection refused)", :index 693}
{:type :invoke, :f :cas, :value [1 3], :process 343, :time 4023100400, :index 694}
{:type :invoke, :f :cas, :value [3 1], :process 349, :time 4026904400, :index 695}
{:type :info, :f :cas, :value [1 3], :process 343, :time 4028277100, :error "indeterminate: Connection refused (Connection refused)", :index 696}
{:type :invoke, :f :cas, :value [2 3], :process 347, :time 4029097400, :index 697}
{:type :info, :f :cas, :value [3 1], :process 349, :time 4032675200, :error "indeterminate: Connection refused (Connection refused)", :index 698}
{:type :info, :f :cas, :value [2 3], :process 347, :time 4034709000, :error "indeterminate: Connection refused (Connection refused)", :index 699}
{:type :invoke, :f :write, :value 1, :process 350, :time 4059456700, :index 700}
{:type :invoke, :f :read, :value nil, :process 352, :time 4063428700, :index 701}
{:type :invoke, :f :write, :value 4, :process 356, :time 4064219500, :index 702}
{:type :invoke, :f :read, :value nil, :process 348, :time 4069039200, :index 703}
{:type :invoke, :f :write, :value 3, :process 354, :time 4069193200, :index 704}
{:type :info, :f :write, :value 1, :process 350, :time 4073952100, :error "indeterminate: Connection refused (Connection refused)", :index 705}
{:type :info, :f :read, :value nil, :process 352, :time 4076311400, :error "indeterminate: Connection refused (Connection refused)", :index 706}
{:type :info, :f :write, :value 4, :process 356, :time 4076493100, :error "indeterminate: Connection refused (Connection refused)", :index 707}
{:type :info, :f :read, :value nil, :process 348, :time 4077782300, :error "indeterminate: Connection refused (Connection refused)", :index 708}
{:type :info, :f :write, :value 3, :process 354, :time 4081014800, :error "indeterminate: Connection refused (Connection refused)", :index 709}
{:type :invoke, :f :cas, :value [1 2], :process 355, :time 4107704900, :index 710}
{:type :invoke, :f :write, :value 3, :process 359, :time 4113690200, :index 711}
{:type :info, :f :write, :value 3, :process 359, :time 4118265700, :error "indeterminate: Connection refused (Connection refused)", :index 712}
{:type :info, :f :cas, :value [1 2], :process 355, :time 4119490700, :error "indeterminate: Connection refused (Connection refused)", :index 713}
{:type :invoke, :f :read, :value nil, :process 353, :time 4127102700, :index 714}
{:type :invoke, :f :read, :value nil, :process 361, :time 4128154400, :index 715}
{:type :info, :f :read, :value nil, :process 361, :time 4135296500, :error "indeterminate: Connection refused (Connection refused)", :index 716}
{:type :invoke, :f :read, :value nil, :process 360, :time 4134853800, :index 717}
{:type :info, :f :read, :value nil, :process 353, :time 4138184000, :error "indeterminate: Connection refused (Connection refused)", :index 718}
{:type :invoke, :f :cas, :value [3 0], :process 357, :time 4138394200, :index 719}
{:type :info, :f :cas, :value [3 0], :process 357, :time 4144035800, :error "indeterminate: Connection refused (Connection refused)", :index 720}
{:type :invoke, :f :cas, :value [3 2], :process 362, :time 4146913200, :index 721}
{:type :info, :f :read, :value nil, :process 360, :time 4159931900, :error "indeterminate: Connection refused (Connection refused)", :index 722}
{:type :info, :f :cas, :value [3 2], :process 362, :time 4165659000, :error "indeterminate: Connection refused (Connection refused)", :index 723}
{:type :invoke, :f :read, :value nil, :process 364, :time 4166154100, :index 724}
{:type :info, :f :read, :value nil, :process 364, :time 4173657100, :error "indeterminate: Connection refused (Connection refused)", :index 725}
{:type :invoke, :f :write, :value 4, :process 366, :time 4185875900, :index 726}
{:type :info, :f :write, :value 4, :process 366, :time 4191080900, :error "indeterminate: Connection refused (Connection refused)", :index 727}
{:type :invoke, :f :read, :value nil, :process 358, :time 4194095500, :index 728}
{:type :info, :f :read, :value nil, :process 358, :time 4200482800, :error "indeterminate: Connection refused (Connection refused)", :index 729}
{:type :invoke, :f :cas, :value [2 2], :process 369, :time 4204593100, :index 730}
{:type :info, :f :cas, :value [2 2], :process 369, :time 4209420000, :error "indeterminate: Connection refused (Connection refused)", :index 731}
{:type :invoke, :f :write, :value 1, :process 365, :time 4223554700, :index 732}
{:type :info, :f :write, :value 1, :process 365, :time 4227863600, :error "indeterminate: Connection refused (Connection refused)", :index 733}
{:type :invoke, :f :cas, :value [2 2], :process 367, :time 4231815900, :index 734}
{:type :invoke, :f :cas, :value [1 0], :process 363, :time 4232401400, :index 735}
{:type :info, :f :cas, :value [2 2], :process 367, :time 4237267200, :error "indeterminate: Connection refused (Connection refused)", :index 736}
{:type :invoke, :f :read, :value nil, :process 371, :time 4237921100, :index 737}
{:type :info, :f :read, :value nil, :process 371, :time 4247433900, :error "indeterminate: Connection refused (Connection refused)", :index 738}
{:type :invoke, :f :write, :value 4, :process 374, :time 4244727500, :index 739}
{:type :info, :f :cas, :value [1 0], :process 363, :time 4252478700, :error "indeterminate: Connection refused (Connection refused)", :index 740}
{:type :info, :f :write, :value 4, :process 374, :time 4255172800, :error "indeterminate: Connection refused (Connection refused)", :index 741}
{:type :invoke, :f :write, :value 4, :process 370, :time 4266678500, :index 742}
{:type :info, :f :write, :value 4, :process 370, :time 4271346300, :error "indeterminate: Connection refused (Connection refused)", :index 743}
{:type :invoke, :f :read, :value nil, :process 368, :time 4274292900, :index 744}
{:type :invoke, :f :read, :value nil, :process 376, :time 4280568700, :index 745}
{:type :info, :f :read, :value nil, :process 376, :time 4292957700, :error "indeterminate: Connection refused (Connection refused)", :index 746}
{:type :info, :f :read, :value nil, :process 368, :time 4295531500, :error "indeterminate: Connection refused (Connection refused)", :index 747}
{:type :invoke, :f :write, :value 3, :process 381, :time 4303104000, :index 748}
{:type :info, :f :write, :value 3, :process 381, :time 4309259100, :error "indeterminate: Connection refused (Connection refused)", :index 749}
{:type :invoke, :f :read, :value nil, :process 372, :time 4309452000, :index 750}
{:type :invoke, :f :cas, :value [0 2], :process 379, :time 4315670900, :index 751}
{:type :info, :f :read, :value nil, :process 372, :time 4319929900, :error "indeterminate: Connection refused (Connection refused)", :index 752}
{:type :info, :f :cas, :value [0 2], :process 379, :time 4321127900, :error "indeterminate: Connection refused (Connection refused)", :index 753}
{:type :invoke, :f :cas, :value [2 1], :process 373, :time 4323027900, :index 754}
{:type :invoke, :f :write, :value 2, :process 377, :time 4323891700, :index 755}
{:type :info, :f :cas, :value [2 1], :process 373, :time 4328704400, :error "indeterminate: Connection refused (Connection refused)", :index 756}
{:type :invoke, :f :cas, :value [0 3], :process 384, :time 4330850000, :index 757}
{:type :invoke, :f :cas, :value [0 0], :process 375, :time 4333531300, :index 758}
{:type :info, :f :cas, :value [0 0], :process 375, :time 4339362100, :error "indeterminate: Connection refused (Connection refused)", :index 759}
{:type :info, :f :cas, :value [0 3], :process 384, :time 4339724200, :error "indeterminate: Connection refused (Connection refused)", :index 760}
{:type :invoke, :f :read, :value nil, :process 386, :time 4340983800, :index 761}
{:type :info, :f :write, :value 2, :process 377, :time 4351202000, :error "indeterminate: Connection refused (Connection refused)", :index 762}
{:type :info, :f :read, :value nil, :process 386, :time 4351911200, :error "indeterminate: Connection refused (Connection refused)", :index 763}
{:type :invoke, :f :read, :value nil, :process 391, :time 4357811800, :index 764}
{:type :invoke, :f :cas, :value [0 0], :process 380, :time 4358154300, :index 765}
{:type :invoke, :f :cas, :value [0 3], :process 389, :time 4361576800, :index 766}
{:type :info, :f :cas, :value [0 0], :process 380, :time 4366572100, :error "indeterminate: Connection refused (Connection refused)", :index 767}
{:type :info, :f :cas, :value [0 3], :process 389, :time 4369912200, :error "indeterminate: Connection refused (Connection refused)", :index 768}
{:type :invoke, :f :write, :value 4, :process 382, :time 4374730900, :index 769}
{:type :info, :f :read, :value nil, :process 391, :time 4375077600, :error "indeterminate: Connection refused (Connection refused)", :index 770}
{:type :invoke, :f :cas, :value [3 4], :process 378, :time 4380908100, :index 771}
{:type :info, :f :cas, :value [3 4], :process 378, :time 4387263300, :error "indeterminate: Connection refused (Connection refused)", :index 772}
{:type :info, :f :write, :value 4, :process 382, :time 4391473100, :error "indeterminate: Connection refused (Connection refused)", :index 773}
{:type :invoke, :f :cas, :value [4 3], :process 396, :time 4418064400, :index 774}
{:type :invoke, :f :cas, :value [0 0], :process 394, :time 4420896900, :index 775}
{:type :info, :f :cas, :value [4 3], :process 396, :time 4422578100, :error "indeterminate: Connection refused (Connection refused)", :index 776}
{:type :invoke, :f :cas, :value [4 0], :process 385, :time 4422830600, :index 777}
{:type :info, :f :cas, :value [0 0], :process 394, :time 4431295100, :error "indeterminate: Connection refused (Connection refused)", :index 778}
{:type :info, :f :cas, :value [4 0], :process 385, :time 4433191400, :error "indeterminate: Connection refused (Connection refused)", :index 779}
{:type :invoke, :f :read, :value nil, :process 387, :time 4433578600, :index 780}
{:type :info, :f :read, :value nil, :process 387, :time 4440982600, :error "indeterminate: Connection refused (Connection refused)", :index 781}
{:type :invoke, :f :read, :value nil, :process 383, :time 4442524800, :index 782}
{:type :info, :f :read, :value nil, :process 383, :time 4447060300, :error "indeterminate: Connection refused (Connection refused)", :index 783}
{:type :invoke, :f :read, :value nil, :process 399, :time 4470156500, :index 784}
{:type :invoke, :f :read, :value nil, :process 401, :time 4471019800, :index 785}
{:type :info, :f :read, :value nil, :process 399, :time 4475964100, :error "indeterminate: Connection refused (Connection refused)", :index 786}
{:type :info, :f :read, :value nil, :process 401, :time 4479514500, :error "indeterminate: Connection refused (Connection refused)", :index 787}
{:type :invoke, :f :cas, :value [2 2], :process 404, :time 4480694300, :index 788}
{:type :info, :f :cas, :value [2 2], :process 404, :time 4485464600, :error "indeterminate: Connection refused (Connection refused)", :index 789}
{:type :invoke, :f :write, :value 3, :process 409, :time 4488893800, :index 790}
{:type :invoke, :f :read, :value nil, :process 388, :time 4491061300, :index 791}
{:type :invoke, :f :read, :value nil, :process 390, :time 4491726400, :index 792}
{:type :invoke, :f :read, :value nil, :process 392, :time 4493095200, :index 793}
{:type :info, :f :read, :value nil, :process 388, :time 4496490200, :error "indeterminate: Connection refused (Connection refused)", :index 794}
{:type :invoke, :f :cas, :value [1 2], :process 393, :time 4501275200, :index 795}
{:type :invoke, :f :cas, :value [4 0], :process 406, :time 4503875000, :index 796}
{:type :info, :f :read, :value nil, :process 392, :time 4517841000, :error "indeterminate: Connection refused (Connection refused)", :index 797}
{:type :info, :f :cas, :value [4 0], :process 406, :time 4520220300, :error "indeterminate: Connection refused (Connection refused)", :index 798}
{:type :info, :f :read, :value nil, :process 390, :time 4520443800, :error "indeterminate: Connection refused (Connection refused)", :index 799}
{:type :info, :f :write, :value 3, :process 409, :time 4524550100, :error "indeterminate: Connection refused (Connection refused)", :index 800}
{:type :info, :f :cas, :value [1 2], :process 393, :time 4526569900, :error "indeterminate: Connection refused (Connection refused)", :index 801}
{:type :invoke, :f :write, :value 4, :process 398, :time 4528975200, :index 802}
{:type :invoke, :f :write, :value 0, :process 411, :time 4534964200, :index 803}
{:type :invoke, :f :read, :value nil, :process 395, :time 4538141200, :index 804}
{:type :info, :f :write, :value 4, :process 398, :time 4544080200, :error "indeterminate: Connection refused (Connection refused)", :index 805}
{:type :info, :f :read, :value nil, :process 395, :time 4544884600, :error "indeterminate: Connection refused (Connection refused)", :index 806}
{:type :info, :f :write, :value 0, :process 411, :time 4547009100, :error "indeterminate: Connection refused (Connection refused)", :index 807}
{:type :invoke, :f :read, :value nil, :process 397, :time 4551867900, :index 808}
{:type :invoke, :f :cas, :value [0 2], :process 414, :time 4556037800, :index 809}
{:type :info, :f :read, :value nil, :process 397, :time 4559037400, :error "indeterminate: Connection refused (Connection refused)", :index 810}
{:type :info, :f :cas, :value [0 2], :process 414, :time 4560359500, :error "indeterminate: Connection refused (Connection refused)", :index 811}
{:type :invoke, :f :write, :value 3, :process 416, :time 4561959700, :index 812}
{:type :info, :f :write, :value 3, :process 416, :time 4567265500, :error "indeterminate: Connection refused (Connection refused)", :index 813}
{:type :invoke, :f :read, :value nil, :process 402, :time 4567811100, :index 814}
{:type :info, :f :read, :value nil, :process 402, :time 4571924800, :error "indeterminate: Connection refused (Connection refused)", :index 815}
{:type :invoke, :f :read, :value nil, :process 403, :time 4575927600, :index 816}
{:type :info, :f :read, :value nil, :process 403, :time 4581298600, :error "indeterminate: Connection refused (Connection refused)", :index 817}
{:type :invoke, :f :write, :value 1, :process 400, :time 4587026600, :index 818}
{:type :invoke, :f :read, :value nil, :process 407, :time 4588095500, :index 819}
{:type :info, :f :write, :value 1, :process 400, :time 4591750100, :error "indeterminate: Connection refused (Connection refused)", :index 820}
{:type :info, :f :read, :value nil, :process 407, :time 4598510900, :error "indeterminate: Connection refused (Connection refused)", :index 821}
{:type :invoke, :f :cas, :value [3 3], :process 405, :time 4598542600, :index 822}
{:type :info, :f :cas, :value [3 3], :process 405, :time 4602817000, :error "indeterminate: Connection refused (Connection refused)", :index 823}
{:type :invoke, :f :write, :value 0, :process 408, :time 4603016300, :index 824}
{:type :invoke, :f :read, :value nil, :process 419, :time 4604990600, :index 825}
{:type :info, :f :write, :value 0, :process 408, :time 4606969300, :error "indeterminate: Connection refused (Connection refused)", :index 826}
{:type :invoke, :f :read, :value nil, :process 421, :time 4609067500, :index 827}
{:type :info, :f :read, :value nil, :process 419, :time 4609418100, :error "indeterminate: Connection refused (Connection refused)", :index 828}
{:type :invoke, :f :read, :value nil, :process 410, :time 4611002100, :index 829}
{:type :invoke, :f :write, :value 0, :process 413, :time 4637765800, :index 830}
{:type :invoke, :f :cas, :value [3 3], :process 412, :time 4632513600, :index 831}
{:type :info, :f :start, :process :nemesis, :time 10236910400, :index 832}
{:type :info, :f :read, :value nil, :process 421, :time 96813258800, :error "indeterminate: Connection refused (Connection refused)", :index 833}
{:type :info, :f :read, :value nil, :process 410, :time 96859738700, :error "indeterminate: Connection refused (Connection refused)", :index 834}
{:type :info, :f :write, :value 0, :process 413, :time 96870563800, :error "indeterminate: Connection refused (Connection refused)", :index 835}
{:type :info, :f :cas, :value [3 3], :process 412, :time 96893635800, :error "indeterminate: Connection refused (Connection refused)", :index 836}
{:type :info, :f :start, :process :nemesis, :time 98508663900, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 837}
