{:type :info, :f :start, :process :nemesis, :time 10246343600, :index 2142}
{:type :info, :f :start, :process :nemesis, :time 10329152500, :value [:isolated {"n2" #{"n5" "n4" "n3"}, "n1" #{"n5" "n4" "n3"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}, "n3" #{"n2" "n1"}}], :index 2148}
{:type :info, :f :stop, :process :nemesis, :time 20329430300, :index 4154}
{:type :info, :f :stop, :process :nemesis, :time 20568873400, :value :network-healed, :index 4195}
{:type :info, :f :start, :process :nemesis, :time 30569065900, :index 6216}
{:type :info, :f :start, :process :nemesis, :time 30627433000, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 6224}
{:type :info, :f :stop, :process :nemesis, :time 40627829900, :index 8390}
{:type :info, :f :stop, :process :nemesis, :time 40876539700, :value :network-healed, :index 8433}
{:type :info, :f :start, :process :nemesis, :time 50876825200, :index 10388}
{:type :info, :f :start, :process :nemesis, :time 51000541400, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 10407}
{:type :invoke, :f :write, :value 4, :process 6026, :time 59202858200, :index 12008}
{:type :info, :f :write, :value 4, :process 6026, :time 59208548900, :error "indeterminate: Connection refused (Connection refused)", :index 12009}
{:type :invoke, :f :read, :value nil, :process 5967, :time 59210008700, :index 12010}
{:type :invoke, :f :cas, :value [0 0], :process 6031, :time 59215220900, :index 12012}
{:type :invoke, :f :cas, :value [3 1], :process 6004, :time 59218401700, :index 12013}
{:type :info, :f :cas, :value [3 1], :process 6004, :time 59224751300, :error "indeterminate: Connection refused (Connection refused)", :index 12014}
{:type :info, :f :read, :value nil, :process 5967, :time 59229724800, :error "indeterminate: Connection refused (Connection refused)", :index 12015}
{:type :info, :f :cas, :value [0 0], :process 6031, :time 59232345000, :error "indeterminate: Connection refused (Connection refused)", :index 12016}
{:type :invoke, :f :cas, :value [0 2], :process 6068, :time 59251444300, :index 12018}
{:type :info, :f :cas, :value [0 2], :process 6068, :time 59257088500, :error "indeterminate: Connection refused (Connection refused)", :index 12019}
{:type :invoke, :f :cas, :value [4 1], :process 6009, :time 59257348500, :index 12020}
{:type :invoke, :f :read, :value nil, :process 5945, :time 59261422800, :index 12021}
{:type :invoke, :f :read, :value nil, :process 5972, :time 59267949100, :index 12022}
{:type :info, :f :cas, :value [4 1], :process 6009, :time 59277441700, :error "indeterminate: Connection refused (Connection refused)", :index 12023}
{:type :info, :f :read, :value nil, :process 5945, :time 59277914900, :error "indeterminate: Connection refused (Connection refused)", :index 12024}
{:type :info, :f :read, :value nil, :process 5972, :time 59279211200, :error "indeterminate: Connection refused (Connection refused)", :index 12025}
{:type :invoke, :f :write, :value 3, :process 6036, :time 59281667000, :index 12026}
{:type :info, :f :write, :value 3, :process 6036, :time 59286621800, :error "indeterminate: Connection refused (Connection refused)", :index 12027}
{:type :invoke, :f :cas, :value [1 2], :process 5977, :time 59296957800, :index 12028}
{:type :info, :f :cas, :value [1 2], :process 5977, :time 59302083000, :error "indeterminate: Connection refused (Connection refused)", :index 12029}
{:type :invoke, :f :read, :value nil, :process 6073, :time 59306364100, :index 12030}
{:type :info, :f :read, :value nil, :process 6073, :time 59311519800, :error "indeterminate: Connection refused (Connection refused)", :index 12031}
{:type :invoke, :f :write, :value 2, :process 5950, :time 59323687200, :index 12032}
{:type :invoke, :f :cas, :value [1 0], :process 6014, :time 59324642200, :index 12033}
{:type :info, :f :write, :value 2, :process 5950, :time 59328184000, :error "indeterminate: Connection refused (Connection refused)", :index 12034}
{:type :info, :f :cas, :value [1 0], :process 6014, :time 59328457700, :error "indeterminate: Connection refused (Connection refused)", :index 12035}
{:type :invoke, :f :cas, :value [2 1], :process 6019, :time 59340708200, :index 12036}
{:type :invoke, :f :cas, :value [3 1], :process 6041, :time 59342652500, :index 12037}
{:type :info, :f :cas, :value [2 1], :process 6019, :time 59358193000, :error "indeterminate: Connection refused (Connection refused)", :index 12038}
{:type :info, :f :cas, :value [3 1], :process 6041, :time 59358287500, :error "indeterminate: Connection refused (Connection refused)", :index 12039}
{:type :invoke, :f :write, :value 1, :process 5982, :time 59354881100, :index 12040}
{:type :invoke, :f :write, :value 1, :process 5955, :time 59363873900, :index 12041}
{:type :info, :f :write, :value 1, :process 5982, :time 59370860000, :error "indeterminate: Connection refused (Connection refused)", :index 12042}
{:type :invoke, :f :write, :value 1, :process 6024, :time 59375220800, :index 12043}
{:type :invoke, :f :write, :value 3, :process 6078, :time 59375796900, :index 12044}
{:type :info, :f :write, :value 3, :process 6078, :time 59381894900, :error "indeterminate: Connection refused (Connection refused)", :index 12045}
{:type :info, :f :write, :value 1, :process 5955, :time 59399032000, :error "indeterminate: Connection refused (Connection refused)", :index 12046}
{:type :invoke, :f :write, :value 0, :process 5987, :time 59403263400, :index 12047}
{:type :info, :f :write, :value 1, :process 6024, :time 59398869300, :error "indeterminate: Connection refused (Connection refused)", :index 12048}
{:type :info, :f :write, :value 0, :process 5987, :time 59416703200, :error "indeterminate: Connection refused (Connection refused)", :index 12049}
{:type :invoke, :f :write, :value 0, :process 5960, :time 59432712800, :index 12050}
{:type :invoke, :f :write, :value 1, :process 6046, :time 59436243800, :index 12051}
{:type :invoke, :f :read, :value nil, :process 6083, :time 59436566600, :index 12052}
{:type :info, :f :write, :value 0, :process 5960, :time 59438654100, :error "indeterminate: Connection refused (Connection refused)", :index 12053}
{:type :invoke, :f :write, :value 3, :process 5992, :time 59439681000, :index 12054}
{:type :info, :f :write, :value 1, :process 6046, :time 59449914900, :error "indeterminate: Connection refused (Connection refused)", :index 12055}
{:type :info, :f :write, :value 3, :process 5992, :time 59451354900, :error "indeterminate: Connection refused (Connection refused)", :index 12056}
{:type :info, :f :read, :value nil, :process 6083, :time 59451465600, :error "indeterminate: Connection refused (Connection refused)", :index 12057}
{:type :invoke, :f :read, :value nil, :process 6088, :time 59461539300, :index 12058}
{:type :info, :f :read, :value nil, :process 6088, :time 59466151700, :error "indeterminate: Connection refused (Connection refused)", :index 12059}
{:type :invoke, :f :read, :value nil, :process 6029, :time 59471912000, :index 12060}
{:type :info, :f :read, :value nil, :process 6029, :time 59477016500, :error "indeterminate: Connection refused (Connection refused)", :index 12061}
{:type :invoke, :f :read, :value nil, :process 6051, :time 59483495700, :index 12062}
{:type :invoke, :f :read, :value nil, :process 5997, :time 59488244800, :index 12063}
{:type :invoke, :f :cas, :value [3 4], :process 5965, :time 59497111800, :index 12064}
{:type :info, :f :read, :value nil, :process 5997, :time 59497649800, :error "indeterminate: Connection refused (Connection refused)", :index 12065}
{:type :info, :f :read, :value nil, :process 6051, :time 59502256100, :error "indeterminate: Connection refused (Connection refused)", :index 12066}
{:type :invoke, :f :cas, :value [1 4], :process 6034, :time 59502355900, :index 12067}
{:type :info, :f :cas, :value [3 4], :process 5965, :time 59504131400, :error "indeterminate: Connection refused (Connection refused)", :index 12068}
{:type :invoke, :f :cas, :value [2 4], :process 6093, :time 59504181600, :index 12069}
{:type :info, :f :cas, :value [2 4], :process 6093, :time 59510846100, :error "indeterminate: Connection refused (Connection refused)", :index 12070}
{:type :invoke, :f :read, :value nil, :process 5970, :time 59511125300, :index 12071}
{:type :info, :f :cas, :value [1 4], :process 6034, :time 59516785300, :error "indeterminate: Connection refused (Connection refused)", :index 12072}
{:type :info, :f :read, :value nil, :process 5970, :time 59518250800, :error "indeterminate: Connection refused (Connection refused)", :index 12073}
{:type :invoke, :f :write, :value 0, :process 6056, :time 59524417900, :index 12074}
{:type :invoke, :f :write, :value 4, :process 5975, :time 59527802500, :index 12075}
{:type :info, :f :write, :value 0, :process 6056, :time 59533241200, :error "indeterminate: Connection refused (Connection refused)", :index 12076}
{:type :info, :f :write, :value 4, :process 5975, :time 59534311700, :error "indeterminate: Connection refused (Connection refused)", :index 12077}
{:type :invoke, :f :cas, :value [1 4], :process 5980, :time 59541376900, :index 12078}
{:type :invoke, :f :cas, :value [3 0], :process 6098, :time 59545214900, :index 12079}
{:type :invoke, :f :write, :value 2, :process 6002, :time 59545753600, :index 12080}
{:type :invoke, :f :cas, :value [0 2], :process 6039, :time 59549814500, :index 12081}
{:type :invoke, :f :read, :value nil, :process 6061, :time 59550262000, :index 12082}
{:type :info, :f :write, :value 2, :process 6002, :time 59553474400, :error "indeterminate: Connection refused (Connection refused)", :index 12083}
{:type :info, :f :cas, :value [3 0], :process 6098, :time 59554326400, :error "indeterminate: Connection refused (Connection refused)", :index 12084}
{:type :info, :f :cas, :value [1 4], :process 5980, :time 59564536600, :error "indeterminate: Connection refused (Connection refused)", :index 12085}
{:type :invoke, :f :read, :value nil, :process 6007, :time 59564246000, :index 12086}
{:type :info, :f :cas, :value [0 2], :process 6039, :time 59565976600, :error "indeterminate: Connection refused (Connection refused)", :index 12087}
{:type :info, :f :read, :value nil, :process 6061, :time 59566244300, :error "indeterminate: Connection refused (Connection refused)", :index 12088}
{:type :invoke, :f :read, :value nil, :process 6066, :time 59569424200, :index 12089}
{:type :info, :f :read, :value nil, :process 6007, :time 59573036000, :error "indeterminate: Connection refused (Connection refused)", :index 12090}
{:type :info, :f :read, :value nil, :process 6066, :time 59578069100, :error "indeterminate: Connection refused (Connection refused)", :index 12091}
{:type :invoke, :f :cas, :value [2 3], :process 6012, :time 59578598100, :index 12092}
{:type :info, :f :cas, :value [2 3], :process 6012, :time 59584241300, :error "indeterminate: Connection refused (Connection refused)", :index 12093}
{:type :invoke, :f :write, :value 4, :process 6044, :time 59591549800, :index 12094}
{:type :info, :f :write, :value 4, :process 6044, :time 59596811600, :error "indeterminate: Connection refused (Connection refused)", :index 12095}
{:type :invoke, :f :cas, :value [4 4], :process 5985, :time 59599657100, :index 12096}
{:type :info, :f :cas, :value [4 4], :process 5985, :time 59604460300, :error "indeterminate: Connection refused (Connection refused)", :index 12097}
{:type :invoke, :f :write, :value 1, :process 5990, :time 59618858000, :index 12098}
{:type :invoke, :f :cas, :value [2 2], :process 6103, :time 59620037000, :index 12099}
{:type :info, :f :write, :value 1, :process 5990, :time 59625577900, :error "indeterminate: Connection refused (Connection refused)", :index 12100}
{:type :invoke, :f :cas, :value [4 4], :process 6049, :time 59626778100, :index 12101}
{:type :info, :f :cas, :value [2 2], :process 6103, :time 59640682200, :error "indeterminate: Connection refused (Connection refused)", :index 12102}
{:type :invoke, :f :cas, :value [3 2], :process 6071, :time 59641410000, :index 12103}
{:type :invoke, :f :write, :value 1, :process 6017, :time 59643673900, :index 12104}
{:type :info, :f :cas, :value [4 4], :process 6049, :time 59647219800, :error "indeterminate: Connection refused (Connection refused)", :index 12105}
{:type :info, :f :cas, :value [3 2], :process 6071, :time 59650940800, :error "indeterminate: Connection refused (Connection refused)", :index 12106}
{:type :invoke, :f :cas, :value [3 4], :process 6054, :time 59654916000, :index 12107}
{:type :invoke, :f :cas, :value [2 2], :process 5995, :time 59658070300, :index 12108}
{:type :invoke, :f :write, :value 2, :process 6108, :time 59661348500, :index 12109}
{:type :info, :f :write, :value 1, :process 6017, :time 59694711000, :error "indeterminate: Connection refused (Connection refused)", :index 12110}
{:type :info, :f :cas, :value [2 2], :process 5995, :time 59694812300, :error "indeterminate: Connection refused (Connection refused)", :index 12111}
{:type :info, :f :cas, :value [3 4], :process 6054, :time 59694902900, :error "indeterminate: Connection refused (Connection refused)", :index 12112}
{:type :info, :f :write, :value 2, :process 6108, :time 59696591400, :error "indeterminate: Connection refused (Connection refused)", :index 12113}
{:type :invoke, :f :read, :value nil, :process 6076, :time 59685861100, :index 12114}
{:type :invoke, :f :cas, :value [3 2], :process 6000, :time 59704822100, :index 12115}
{:type :info, :f :read, :value nil, :process 6076, :time 59711347500, :error "indeterminate: Connection refused (Connection refused)", :index 12116}
{:type :info, :f :cas, :value [3 2], :process 6000, :time 59711544000, :error "indeterminate: Connection refused (Connection refused)", :index 12117}
{:type :invoke, :f :write, :value 1, :process 6113, :time 59728630700, :index 12118}
{:type :info, :f :write, :value 1, :process 6113, :time 59734134900, :error "indeterminate: Connection refused (Connection refused)", :index 12119}
{:type :invoke, :f :cas, :value [1 0], :process 6022, :time 59734810000, :index 12120}
{:type :info, :f :cas, :value [1 0], :process 6022, :time 59740241700, :error "indeterminate: Connection refused (Connection refused)", :index 12121}
{:type :invoke, :f :read, :value nil, :process 6118, :time 59745861800, :index 12122}
{:type :info, :f :read, :value nil, :process 6118, :time 59751531600, :error "indeterminate: Connection refused (Connection refused)", :index 12123}
{:type :invoke, :f :write, :value 4, :process 6005, :time 59750558000, :index 12124}
{:type :invoke, :f :read, :value nil, :process 6027, :time 59752931900, :index 12125}
{:type :invoke, :f :write, :value 0, :process 6081, :time 59755374800, :index 12126}
{:type :info, :f :read, :value nil, :process 6027, :time 59760633600, :error "indeterminate: Connection refused (Connection refused)", :index 12127}
{:type :info, :f :write, :value 4, :process 6005, :time 59764038800, :error "indeterminate: Connection refused (Connection refused)", :index 12128}
{:type :info, :f :write, :value 0, :process 6081, :time 59766035300, :error "indeterminate: Connection refused (Connection refused)", :index 12129}
{:type :invoke, :f :cas, :value [4 2], :process 6059, :time 59769380000, :index 12130}
{:type :invoke, :f :read, :value nil, :process 6123, :time 59775424200, :index 12131}
{:type :info, :f :cas, :value [4 2], :process 6059, :time 59780515600, :error "indeterminate: Connection refused (Connection refused)", :index 12132}
{:type :info, :f :read, :value nil, :process 6123, :time 59782934300, :error "indeterminate: Connection refused (Connection refused)", :index 12133}
{:type :invoke, :f :cas, :value [0 4], :process 6010, :time 59784732300, :index 12134}
{:type :info, :f :cas, :value [0 4], :process 6010, :time 59791664300, :error "indeterminate: Connection refused (Connection refused)", :index 12135}
{:type :invoke, :f :read, :value nil, :process 6032, :time 59803953300, :index 12136}
{:type :info, :f :read, :value nil, :process 6032, :time 59809902500, :error "indeterminate: Connection refused (Connection refused)", :index 12137}
{:type :invoke, :f :write, :value 0, :process 6086, :time 59815444600, :index 12138}
{:type :invoke, :f :write, :value 2, :process 6015, :time 59817739200, :index 12139}
{:type :info, :f :write, :value 0, :process 6086, :time 59821477300, :error "indeterminate: Connection refused (Connection refused)", :index 12140}
{:type :info, :f :write, :value 2, :process 6015, :time 59824838100, :error "indeterminate: Connection refused (Connection refused)", :index 12141}
{:type :invoke, :f :read, :value nil, :process 6091, :time 59836265800, :index 12142}
{:type :invoke, :f :cas, :value [3 3], :process 6064, :time 59837011800, :index 12143}
{:type :invoke, :f :cas, :value [3 4], :process 6128, :time 59844142500, :index 12144}
{:type :info, :f :read, :value nil, :process 6091, :time 59847837500, :error "indeterminate: Connection refused (Connection refused)", :index 12145}
{:type :info, :f :cas, :value [3 3], :process 6064, :time 59848906900, :error "indeterminate: Connection refused (Connection refused)", :index 12146}
{:type :info, :f :cas, :value [3 4], :process 6128, :time 59848998500, :error "indeterminate: Connection refused (Connection refused)", :index 12147}
{:type :invoke, :f :write, :value 3, :process 6037, :time 59852319000, :index 12148}
{:type :info, :f :write, :value 3, :process 6037, :time 59857625600, :error "indeterminate: Connection refused (Connection refused)", :index 12149}
{:type :invoke, :f :read, :value nil, :process 6096, :time 59862922900, :index 12150}
{:type :info, :f :read, :value nil, :process 6096, :time 59867401000, :error "indeterminate: Connection refused (Connection refused)", :index 12151}
{:type :invoke, :f :read, :value nil, :process 6133, :time 59867599800, :index 12152}
{:type :invoke, :f :write, :value 1, :process 6101, :time 59870416800, :index 12153}
{:type :info, :f :read, :value nil, :process 6133, :time 59873625500, :error "indeterminate: Connection refused (Connection refused)", :index 12154}
{:type :info, :f :write, :value 1, :process 6101, :time 59876677500, :error "indeterminate: Connection refused (Connection refused)", :index 12155}
{:type :invoke, :f :cas, :value [2 0], :process 6042, :time 59886743200, :index 12156}
{:type :invoke, :f :cas, :value [1 0], :process 6069, :time 59886802700, :index 12157}
{:type :invoke, :f :read, :value nil, :process 6020, :time 59887181900, :index 12158}
{:type :info, :f :cas, :value [1 0], :process 6069, :time 59896297300, :error "indeterminate: Connection refused (Connection refused)", :index 12159}
{:type :invoke, :f :read, :value nil, :process 6138, :time 59906085400, :index 12160}
{:type :info, :f :cas, :value [2 0], :process 6042, :time 59907735500, :error "indeterminate: Connection refused (Connection refused)", :index 12161}
{:type :info, :f :read, :value nil, :process 6020, :time 59910025600, :error "indeterminate: Connection refused (Connection refused)", :index 12162}
{:type :invoke, :f :write, :value 3, :process 6106, :time 59915684300, :index 12163}
{:type :invoke, :f :cas, :value [2 3], :process 6074, :time 59918838300, :index 12164}
{:type :info, :f :read, :value nil, :process 6138, :time 59925133700, :error "indeterminate: Connection refused (Connection refused)", :index 12165}
{:type :info, :f :write, :value 3, :process 6106, :time 59926477800, :error "indeterminate: Connection refused (Connection refused)", :index 12166}
{:type :info, :f :cas, :value [2 3], :process 6074, :time 59927017800, :error "indeterminate: Connection refused (Connection refused)", :index 12167}
{:type :invoke, :f :read, :value nil, :process 6047, :time 59927931300, :index 12168}
{:type :info, :f :read, :value nil, :process 6047, :time 59935343400, :error "indeterminate: Connection refused (Connection refused)", :index 12169}
{:type :invoke, :f :cas, :value [2 0], :process 6025, :time 59945408800, :index 12170}
{:type :info, :f :cas, :value [2 0], :process 6025, :time 59950081100, :error "indeterminate: Connection refused (Connection refused)", :index 12171}
{:type :invoke, :f :cas, :value [4 2], :process 6079, :time 59960025500, :index 12172}
{:type :info, :f :cas, :value [4 2], :process 6079, :time 59965175200, :error "indeterminate: Connection refused (Connection refused)", :index 12173}
{:type :invoke, :f :read, :value nil, :process 6111, :time 59965612200, :index 12174}
{:type :info, :f :read, :value nil, :process 6111, :time 59969764600, :error "indeterminate: Connection refused (Connection refused)", :index 12175}
{:type :invoke, :f :write, :value 3, :process 6143, :time 59979024400, :index 12176}
{:type :invoke, :f :cas, :value [4 1], :process 6052, :time 59980553000, :index 12177}
{:type :info, :f :write, :value 3, :process 6143, :time 59983788600, :error "indeterminate: Connection refused (Connection refused)", :index 12178}
{:type :info, :f :cas, :value [4 1], :process 6052, :time 59989632800, :error "indeterminate: Connection refused (Connection refused)", :index 12179}
{:type :invoke, :f :cas, :value [3 0], :process 6030, :time 59990290300, :index 12180}
{:type :info, :f :cas, :value [3 0], :process 6030, :time 59996307000, :error "indeterminate: Connection refused (Connection refused)", :index 12181}
{:type :invoke, :f :write, :value 3, :process 6084, :time 59997061300, :index 12182}
{:type :info, :f :write, :value 3, :process 6084, :time 60002242400, :error "indeterminate: Connection refused (Connection refused)", :index 12183}
{:type :invoke, :f :read, :value nil, :process 6116, :time 60002479200, :index 12184}
{:type :info, :f :read, :value nil, :process 6116, :time 60010136600, :error "indeterminate: Connection refused (Connection refused)", :index 12185}
{:type :invoke, :f :cas, :value [2 1], :process 6121, :time 60015025800, :index 12186}
{:type :info, :f :cas, :value [2 1], :process 6121, :time 60020958400, :error "indeterminate: Connection refused (Connection refused)", :index 12187}
{:type :invoke, :f :write, :value 0, :process 6148, :time 60039976800, :index 12188}
{:type :invoke, :f :cas, :value [0 0], :process 6089, :time 60045751600, :index 12189}
{:type :info, :f :write, :value 0, :process 6148, :time 60046403400, :error "indeterminate: Connection refused (Connection refused)", :index 12190}
{:type :info, :f :cas, :value [0 0], :process 6089, :time 60049904200, :error "indeterminate: Connection refused (Connection refused)", :index 12191}
{:type :invoke, :f :cas, :value [0 2], :process 6035, :time 60052831400, :index 12192}
{:type :invoke, :f :write, :value 4, :process 6057, :time 60052833600, :index 12193}
{:type :invoke, :f :write, :value 0, :process 6126, :time 60059387600, :index 12194}
{:type :info, :f :write, :value 4, :process 6057, :time 60061514500, :error "indeterminate: Connection refused (Connection refused)", :index 12195}
{:type :invoke, :f :write, :value 0, :process 6153, :time 60071116000, :index 12196}
{:type :invoke, :f :write, :value 0, :process 6062, :time 60071894500, :index 12197}
{:type :info, :f :cas, :value [0 2], :process 6035, :time 60081862200, :error "indeterminate: Connection refused (Connection refused)", :index 12198}
{:type :info, :f :write, :value 0, :process 6126, :time 60083896700, :error "indeterminate: Connection refused (Connection refused)", :index 12199}
{:type :info, :f :write, :value 0, :process 6062, :time 60084812200, :error "indeterminate: Connection refused (Connection refused)", :index 12200}
{:type :invoke, :f :write, :value 2, :process 6040, :time 60085431800, :index 12201}
{:type :info, :f :write, :value 0, :process 6153, :time 60086613100, :error "indeterminate: Connection refused (Connection refused)", :index 12202}
{:type :invoke, :f :read, :value nil, :process 6158, :time 60088787100, :index 12203}
{:type :info, :f :write, :value 2, :process 6040, :time 60092424500, :error "indeterminate: Connection refused (Connection refused)", :index 12204}
{:type :invoke, :f :read, :value nil, :process 6094, :time 60096592300, :index 12205}
{:type :info, :f :read, :value nil, :process 6158, :time 60107515100, :error "indeterminate: Connection refused (Connection refused)", :index 12206}
{:type :info, :f :read, :value nil, :process 6094, :time 60107431100, :error "indeterminate: Connection refused (Connection refused)", :index 12207}
{:type :invoke, :f :cas, :value [4 0], :process 6163, :time 60109482000, :index 12208}
{:type :invoke, :f :read, :value nil, :process 6099, :time 60111793600, :index 12209}
{:type :invoke, :f :write, :value 3, :process 6131, :time 60112607900, :index 12210}
{:type :invoke, :f :read, :value nil, :process 6067, :time 60124498900, :index 12211}
{:type :info, :f :write, :value 3, :process 6131, :time 60128926200, :error "indeterminate: Connection refused (Connection refused)", :index 12212}
{:type :info, :f :cas, :value [4 0], :process 6163, :time 60136574700, :error "indeterminate: Connection refused (Connection refused)", :index 12213}
{:type :info, :f :read, :value nil, :process 6067, :time 60143149900, :error "indeterminate: Connection refused (Connection refused)", :index 12214}
{:type :info, :f :read, :value nil, :process 6099, :time 60145930900, :error "indeterminate: Connection refused (Connection refused)", :index 12215}
{:type :invoke, :f :write, :value 3, :process 6045, :time 60155734900, :index 12216}
{:type :invoke, :f :read, :value nil, :process 6168, :time 60156817000, :index 12217}
{:type :info, :f :write, :value 3, :process 6045, :time 60162046400, :error "indeterminate: Connection refused (Connection refused)", :index 12218}
{:type :info, :f :read, :value nil, :process 6168, :time 60163403300, :error "indeterminate: Connection refused (Connection refused)", :index 12219}
{:type :invoke, :f :cas, :value [1 3], :process 6173, :time 60167305700, :index 12220}
{:type :info, :f :cas, :value [1 3], :process 6173, :time 60175342400, :error "indeterminate: Connection refused (Connection refused)", :index 12221}
{:type :invoke, :f :write, :value 0, :process 6136, :time 60182064900, :index 12222}
{:type :info, :f :write, :value 0, :process 6136, :time 60186465800, :error "indeterminate: Connection refused (Connection refused)", :index 12223}
{:type :invoke, :f :write, :value 0, :process 6104, :time 60190797200, :index 12224}
{:type :invoke, :f :read, :value nil, :process 6050, :time 60196900600, :index 12225}
{:type :invoke, :f :write, :value 4, :process 6072, :time 60202057500, :index 12226}
{:type :info, :f :write, :value 0, :process 6104, :time 60207883600, :error "indeterminate: Connection refused (Connection refused)", :index 12227}
{:type :info, :f :read, :value nil, :process 6050, :time 60210469000, :error "indeterminate: Connection refused (Connection refused)", :index 12228}
{:type :invoke, :f :read, :value nil, :process 6141, :time 60212041500, :index 12229}
{:type :info, :f :write, :value 4, :process 6072, :time 60214686600, :error "indeterminate: Connection refused (Connection refused)", :index 12230}
{:type :info, :f :read, :value nil, :process 6141, :time 60219153800, :error "indeterminate: Connection refused (Connection refused)", :index 12231}
{:type :invoke, :f :cas, :value [4 4], :process 6077, :time 60220712900, :index 12232}
{:type :invoke, :f :read, :value nil, :process 6055, :time 60228062500, :index 12233}
{:type :invoke, :f :read, :value nil, :process 6178, :time 60230866700, :index 12234}
{:type :info, :f :cas, :value [4 4], :process 6077, :time 60235260400, :error "indeterminate: Connection refused (Connection refused)", :index 12235}
{:type :info, :f :read, :value nil, :process 6055, :time 60235667700, :error "indeterminate: Connection refused (Connection refused)", :index 12236}
{:type :info, :f :read, :value nil, :process 6178, :time 60241918500, :error "indeterminate: Connection refused (Connection refused)", :index 12237}
