{:type :info, :f :start, :process :nemesis, :time 10280342200, :index 2080}
{:type :info, :f :start, :process :nemesis, :time 10399441400, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 2101}
{:type :info, :f :stop, :process :nemesis, :time 20399797300, :index 4236}
{:type :info, :f :stop, :process :nemesis, :time 20645183300, :value :network-healed, :index 4286}
{:type :info, :f :start, :process :nemesis, :time 30645494200, :index 6420}
{:type :info, :f :start, :process :nemesis, :time 30781405300, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 6439}
{:type :info, :f :stop, :process :nemesis, :time 40781843400, :index 8500}
{:type :info, :f :stop, :process :nemesis, :time 40934460700, :value :network-healed, :index 8522}
{:type :info, :f :start, :process :nemesis, :time 50935869000, :index 10684}
{:type :info, :f :start, :process :nemesis, :time 51076209000, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 10715}
{:type :info, :f :stop, :process :nemesis, :time 61077354400, :index 12821}
{:type :info, :f :stop, :process :nemesis, :time 61316712900, :value :network-healed, :index 12867}
{:type :info, :f :start, :process :nemesis, :time 71317646200, :index 14798}
{:type :info, :f :start, :process :nemesis, :time 71451586000, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 14818}
{:type :info, :f :stop, :process :nemesis, :time 81451872700, :index 16810}
{:type :info, :f :stop, :process :nemesis, :time 81645859000, :value :network-healed, :index 16840}
{:type :info, :f :start, :process :nemesis, :time 91651032600, :index 18891}
{:type :info, :f :start, :process :nemesis, :time 91729649600, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 18901}
{:type :invoke, :f :read, :value nil, :process 10252, :time 99977245300, :index 20411}
{:type :info, :f :read, :value nil, :process 10252, :time 100001544700, :error "indeterminate: Connection refused (Connection refused)", :index 20414}
{:type :invoke, :f :cas, :value [4 1], :process 10108, :time 100003772200, :index 20415}
{:type :info, :f :cas, :value [4 1], :process 10108, :time 100023389100, :error "indeterminate: Connection refused (Connection refused)", :index 20417}
{:type :invoke, :f :read, :value nil, :process 10257, :time 100018142100, :index 20418}
{:type :invoke, :f :cas, :value [2 0], :process 10286, :time 100038220200, :index 20421}
{:type :info, :f :read, :value nil, :process 10257, :time 100040918900, :error "indeterminate: Connection refused (Connection refused)", :index 20422}
{:type :invoke, :f :read, :value nil, :process 10113, :time 100049834900, :index 20424}
{:type :info, :f :read, :value nil, :process 10113, :time 100069508900, :error "indeterminate: Connection refused (Connection refused)", :index 20426}
{:type :info, :f :cas, :value [2 0], :process 10286, :time 100074735000, :error "indeterminate: Connection refused (Connection refused)", :index 20427}
{:type :invoke, :f :cas, :value [1 1], :process 10118, :time 100077424000, :index 20428}
{:type :invoke, :f :write, :value 3, :process 10262, :time 100082517100, :index 20429}
{:type :info, :f :cas, :value [1 1], :process 10118, :time 100089073200, :error "indeterminate: Connection refused (Connection refused)", :index 20430}
{:type :info, :f :write, :value 3, :process 10262, :time 100092251100, :error "indeterminate: Connection refused (Connection refused)", :index 20431}
{:type :invoke, :f :write, :value 3, :process 10291, :time 100093730600, :index 20432}
{:type :invoke, :f :read, :value nil, :process 10125, :time 100094248100, :index 20433}
{:type :info, :f :write, :value 3, :process 10291, :time 100107206900, :error "indeterminate: Connection refused (Connection refused)", :index 20434}
{:type :info, :f :read, :value nil, :process 10125, :time 100108121300, :error "indeterminate: Connection refused (Connection refused)", :index 20435}
{:type :invoke, :f :read, :value nil, :process 10123, :time 100123478400, :index 20436}
{:type :invoke, :f :cas, :value [3 2], :process 10239, :time 100128764500, :index 20437}
{:type :info, :f :read, :value nil, :process 10123, :time 100130935500, :error "indeterminate: Connection refused (Connection refused)", :index 20438}
{:type :info, :f :cas, :value [3 2], :process 10239, :time 100137974600, :error "indeterminate: Connection refused (Connection refused)", :index 20439}
{:type :invoke, :f :read, :value nil, :process 10267, :time 100142160600, :index 20440}
{:type :invoke, :f :read, :value nil, :process 10130, :time 100142757200, :index 20441}
{:type :info, :f :read, :value nil, :process 10267, :time 100149639100, :error "indeterminate: Connection refused (Connection refused)", :index 20442}
{:type :info, :f :read, :value nil, :process 10130, :time 100153948200, :error "indeterminate: Connection refused (Connection refused)", :index 20443}
{:type :invoke, :f :read, :value nil, :process 10296, :time 100167189600, :index 20444}
{:type :info, :f :read, :value nil, :process 10296, :time 100173408800, :error "indeterminate: Connection refused (Connection refused)", :index 20445}
{:type :invoke, :f :read, :value nil, :process 10128, :time 100176167700, :index 20446}
{:type :invoke, :f :write, :value 4, :process 10272, :time 100181700700, :index 20447}
{:type :info, :f :read, :value nil, :process 10128, :time 100186150800, :error "indeterminate: Connection refused (Connection refused)", :index 20448}
{:type :invoke, :f :write, :value 0, :process 10135, :time 100190016600, :index 20449}
{:type :info, :f :write, :value 4, :process 10272, :time 100190714200, :error "indeterminate: Connection refused (Connection refused)", :index 20450}
{:type :info, :f :write, :value 0, :process 10135, :time 100197552600, :error "indeterminate: Connection refused (Connection refused)", :index 20451}
{:type :invoke, :f :read, :value nil, :process 10244, :time 100197843900, :index 20452}
{:type :invoke, :f :cas, :value [3 3], :process 10301, :time 100202083900, :index 20453}
{:type :info, :f :read, :value nil, :process 10244, :time 100209394600, :error "indeterminate: Connection refused (Connection refused)", :index 20454}
{:type :info, :f :cas, :value [3 3], :process 10301, :time 100212973500, :error "indeterminate: Connection refused (Connection refused)", :index 20455}
{:type :invoke, :f :read, :value nil, :process 10277, :time 100219029000, :index 20456}
{:type :invoke, :f :write, :value 3, :process 10249, :time 100223095700, :index 20457}
{:type :info, :f :read, :value nil, :process 10277, :time 100224777500, :error "indeterminate: Connection refused (Connection refused)", :index 20458}
{:type :invoke, :f :write, :value 1, :process 10306, :time 100226571500, :index 20459}
{:type :invoke, :f :write, :value 0, :process 10133, :time 100234373800, :index 20460}
{:type :info, :f :write, :value 1, :process 10306, :time 100237178900, :error "indeterminate: Connection refused (Connection refused)", :index 20461}
{:type :info, :f :write, :value 3, :process 10249, :time 100240108200, :error "indeterminate: Connection refused (Connection refused)", :index 20462}
{:type :invoke, :f :cas, :value [0 2], :process 10311, :time 100240276900, :index 20463}
{:type :invoke, :f :cas, :value [2 1], :process 10140, :time 100243123500, :index 20464}
{:type :info, :f :write, :value 0, :process 10133, :time 100251433600, :error "indeterminate: Connection refused (Connection refused)", :index 20465}
{:type :invoke, :f :write, :value 2, :process 10254, :time 100254400700, :index 20466}
{:type :info, :f :cas, :value [0 2], :process 10311, :time 100264209900, :error "indeterminate: Connection refused (Connection refused)", :index 20467}
{:type :info, :f :write, :value 2, :process 10254, :time 100269889000, :error "indeterminate: Connection refused (Connection refused)", :index 20468}
{:type :info, :f :cas, :value [2 1], :process 10140, :time 100270008700, :error "indeterminate: Connection refused (Connection refused)", :index 20469}
