{:type :info, :f :start, :process :nemesis, :time 10236978200, :index 2082}
{:type :info, :f :start, :process :nemesis, :time 10369478500, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 2107}
{:type :info, :f :stop, :process :nemesis, :time 20369671400, :index 4308}
{:type :info, :f :stop, :process :nemesis, :time 20615507300, :value :network-healed, :index 4354}
{:type :info, :f :start, :process :nemesis, :time 30615711800, :index 6312}
{:type :info, :f :start, :process :nemesis, :time 30691657800, :value [:isolated {"n2" #{"n5" "n1" "n4"}, "n3" #{"n5" "n1" "n4"}, "n5" #{"n2" "n3"}, "n1" #{"n2" "n3"}, "n4" #{"n2" "n3"}}], :index 6327}
{:type :info, :f :stop, :process :nemesis, :time 40691857500, :index 8551}
{:type :info, :f :stop, :process :nemesis, :time 40908442200, :value :network-healed, :index 8609}
{:type :info, :f :start, :process :nemesis, :time 50908632900, :index 10819}
{:type :info, :f :start, :process :nemesis, :time 51036168600, :value [:isolated {"n5" #{"n2" "n1" "n4"}, "n3" #{"n2" "n1" "n4"}, "n2" #{"n5" "n3"}, "n1" #{"n5" "n3"}, "n4" #{"n5" "n3"}}], :index 10840}
{:type :invoke, :f :read, :value nil, :process 6351, :time 59324536700, :index 12604}
{:type :invoke, :f :read, :value nil, :process 6259, :time 59338616400, :index 12611}
{:type :info, :f :read, :value nil, :process 6351, :time 59342664300, :error "indeterminate: Connection refused (Connection refused)", :index 12612}
{:type :info, :f :read, :value nil, :process 6259, :time 59344611000, :error "indeterminate: Connection refused (Connection refused)", :index 12613}
{:type :invoke, :f :write, :value 3, :process 6453, :time 59360770100, :index 12614}
{:type :invoke, :f :write, :value 1, :process 6264, :time 59365889400, :index 12615}
{:type :info, :f :write, :value 3, :process 6453, :time 59366659300, :error "indeterminate: Connection refused (Connection refused)", :index 12616}
{:type :invoke, :f :read, :value nil, :process 6270, :time 59367672000, :index 12617}
{:type :info, :f :write, :value 1, :process 6264, :time 59380615700, :error "indeterminate: Connection refused (Connection refused)", :index 12618}
{:type :info, :f :read, :value nil, :process 6270, :time 59380806900, :error "indeterminate: Connection refused (Connection refused)", :index 12619}
{:type :invoke, :f :cas, :value [3 2], :process 6177, :time 59390508100, :index 12620}
{:type :info, :f :cas, :value [3 2], :process 6177, :time 59394821100, :error "indeterminate: Connection refused (Connection refused)", :index 12621}
{:type :invoke, :f :read, :value nil, :process 6356, :time 59401780200, :index 12622}
{:type :invoke, :f :read, :value nil, :process 6458, :time 59409171300, :index 12623}
{:type :invoke, :f :write, :value 3, :process 6275, :time 59411931700, :index 12624}
{:type :info, :f :read, :value nil, :process 6458, :time 59414046600, :error "indeterminate: Connection refused (Connection refused)", :index 12625}
{:type :info, :f :write, :value 3, :process 6275, :time 59422932200, :error "indeterminate: Connection refused (Connection refused)", :index 12626}
{:type :info, :f :read, :value nil, :process 6356, :time 59426669700, :error "indeterminate: Connection refused (Connection refused)", :index 12627}
{:type :invoke, :f :read, :value nil, :process 6269, :time 59435964700, :index 12628}
{:type :invoke, :f :read, :value nil, :process 6182, :time 59438513400, :index 12629}
{:type :info, :f :read, :value nil, :process 6182, :time 59443227700, :error "indeterminate: Connection refused (Connection refused)", :index 12630}
{:type :invoke, :f :write, :value 1, :process 6280, :time 59450494700, :index 12631}
{:type :info, :f :write, :value 1, :process 6280, :time 59454991400, :error "indeterminate: Connection refused (Connection refused)", :index 12632}
{:type :info, :f :read, :value nil, :process 6269, :time 59460755000, :error "indeterminate: Connection refused (Connection refused)", :index 12633}
{:type :invoke, :f :write, :value 1, :process 6463, :time 59479924900, :index 12634}
{:type :invoke, :f :write, :value 0, :process 6187, :time 59481416700, :index 12635}
{:type :invoke, :f :write, :value 3, :process 6361, :time 59486029300, :index 12636}
{:type :info, :f :write, :value 3, :process 6361, :time 59491623500, :error "indeterminate: Connection refused (Connection refused)", :index 12637}
{:type :invoke, :f :cas, :value [3 0], :process 6285, :time 59493624500, :index 12638}
{:type :info, :f :write, :value 0, :process 6187, :time 59500094800, :error "indeterminate: Connection refused (Connection refused)", :index 12639}
{:type :info, :f :write, :value 1, :process 6463, :time 59500687900, :error "indeterminate: Connection refused (Connection refused)", :index 12640}
{:type :info, :f :cas, :value [3 0], :process 6285, :time 59502993700, :error "indeterminate: Connection refused (Connection refused)", :index 12641}
{:type :invoke, :f :write, :value 4, :process 6274, :time 59503512100, :index 12642}
{:type :info, :f :write, :value 4, :process 6274, :time 59510249500, :error "indeterminate: Connection refused (Connection refused)", :index 12643}
{:type :invoke, :f :read, :value nil, :process 6290, :time 59511839200, :index 12644}
{:type :invoke, :f :read, :value nil, :process 6366, :time 59514462100, :index 12645}
{:type :info, :f :read, :value nil, :process 6290, :time 59517394600, :error "indeterminate: Connection refused (Connection refused)", :index 12646}
{:type :info, :f :read, :value nil, :process 6366, :time 59519779100, :error "indeterminate: Connection refused (Connection refused)", :index 12647}
{:type :invoke, :f :cas, :value [1 1], :process 6279, :time 59519956400, :index 12648}
{:type :invoke, :f :read, :value nil, :process 6371, :time 59526546400, :index 12649}
{:type :info, :f :cas, :value [1 1], :process 6279, :time 59531259100, :error "indeterminate: Connection refused (Connection refused)", :index 12650}
{:type :info, :f :read, :value nil, :process 6371, :time 59533477800, :error "indeterminate: Connection refused (Connection refused)", :index 12651}
{:type :invoke, :f :cas, :value [2 4], :process 6376, :time 59537165200, :index 12652}
{:type :invoke, :f :cas, :value [0 0], :process 6295, :time 59539353500, :index 12653}
{:type :info, :f :cas, :value [2 4], :process 6376, :time 59543621300, :error "indeterminate: Connection refused (Connection refused)", :index 12654}
{:type :info, :f :cas, :value [0 0], :process 6295, :time 59546843900, :error "indeterminate: Connection refused (Connection refused)", :index 12655}
{:type :invoke, :f :read, :value nil, :process 6468, :time 59559534800, :index 12656}
{:type :info, :f :read, :value nil, :process 6468, :time 59564685700, :error "indeterminate: Connection refused (Connection refused)", :index 12657}
{:type :invoke, :f :write, :value 4, :process 6192, :time 59566174200, :index 12658}
{:type :invoke, :f :write, :value 4, :process 6284, :time 59567276900, :index 12659}
{:type :info, :f :write, :value 4, :process 6192, :time 59570586700, :error "indeterminate: Connection refused (Connection refused)", :index 12660}
{:type :info, :f :write, :value 4, :process 6284, :time 59571808400, :error "indeterminate: Connection refused (Connection refused)", :index 12661}
{:type :invoke, :f :read, :value nil, :process 6381, :time 59573018000, :index 12662}
{:type :info, :f :read, :value nil, :process 6381, :time 59579257900, :error "indeterminate: Connection refused (Connection refused)", :index 12663}
{:type :invoke, :f :cas, :value [0 1], :process 6473, :time 59588729700, :index 12664}
{:type :info, :f :cas, :value [0 1], :process 6473, :time 59592954300, :error "indeterminate: Connection refused (Connection refused)", :index 12665}
{:type :invoke, :f :read, :value nil, :process 6386, :time 59608963800, :index 12666}
{:type :invoke, :f :cas, :value [2 4], :process 6300, :time 59611727100, :index 12667}
{:type :info, :f :read, :value nil, :process 6386, :time 59615108400, :error "indeterminate: Connection refused (Connection refused)", :index 12668}
{:type :info, :f :cas, :value [2 4], :process 6300, :time 59616822200, :error "indeterminate: Connection refused (Connection refused)", :index 12669}
{:type :invoke, :f :write, :value 0, :process 6197, :time 59618654800, :index 12670}
{:type :info, :f :write, :value 0, :process 6197, :time 59622780500, :error "indeterminate: Connection refused (Connection refused)", :index 12671}
{:type :invoke, :f :read, :value nil, :process 6289, :time 59627448700, :index 12672}
{:type :info, :f :read, :value nil, :process 6289, :time 59634619800, :error "indeterminate: Connection refused (Connection refused)", :index 12673}
{:type :invoke, :f :read, :value nil, :process 6305, :time 59640344000, :index 12674}
{:type :info, :f :read, :value nil, :process 6305, :time 59644630800, :error "indeterminate: Connection refused (Connection refused)", :index 12675}
{:type :invoke, :f :cas, :value [3 0], :process 6478, :time 59650378200, :index 12676}
{:type :info, :f :cas, :value [3 0], :process 6478, :time 59654665400, :error "indeterminate: Connection refused (Connection refused)", :index 12677}
{:type :invoke, :f :cas, :value [4 0], :process 6202, :time 59656106700, :index 12678}
{:type :info, :f :cas, :value [4 0], :process 6202, :time 59660713000, :error "indeterminate: Connection refused (Connection refused)", :index 12679}
{:type :invoke, :f :cas, :value [0 2], :process 6391, :time 59663521900, :index 12680}
{:type :info, :f :cas, :value [0 2], :process 6391, :time 59667923700, :error "indeterminate: Connection refused (Connection refused)", :index 12681}
{:type :invoke, :f :read, :value nil, :process 6483, :time 59675937400, :index 12682}
{:type :info, :f :read, :value nil, :process 6483, :time 59680136400, :error "indeterminate: Connection refused (Connection refused)", :index 12683}
{:type :invoke, :f :cas, :value [0 2], :process 6294, :time 59681881100, :index 12684}
{:type :invoke, :f :read, :value nil, :process 6488, :time 59684318900, :index 12685}
{:type :info, :f :cas, :value [0 2], :process 6294, :time 59686916300, :error "indeterminate: Connection refused (Connection refused)", :index 12686}
{:type :invoke, :f :write, :value 4, :process 6310, :time 59689086800, :index 12687}
{:type :info, :f :write, :value 4, :process 6310, :time 59693294500, :error "indeterminate: Connection refused (Connection refused)", :index 12688}
{:type :info, :f :read, :value nil, :process 6488, :time 59696179300, :error "indeterminate: Connection refused (Connection refused)", :index 12689}
{:type :invoke, :f :cas, :value [0 2], :process 6493, :time 59700333900, :index 12690}
{:type :info, :f :cas, :value [0 2], :process 6493, :time 59704836600, :error "indeterminate: Connection refused (Connection refused)", :index 12691}
{:type :invoke, :f :read, :value nil, :process 6207, :time 59709334900, :index 12692}
{:type :invoke, :f :read, :value nil, :process 6396, :time 59709362000, :index 12693}
{:type :invoke, :f :write, :value 2, :process 6315, :time 59713575500, :index 12694}
{:type :info, :f :read, :value nil, :process 6207, :time 59717638300, :error "indeterminate: Connection refused (Connection refused)", :index 12695}
{:type :info, :f :write, :value 2, :process 6315, :time 59719185900, :error "indeterminate: Connection refused (Connection refused)", :index 12696}
{:type :info, :f :read, :value nil, :process 6396, :time 59720001200, :error "indeterminate: Connection refused (Connection refused)", :index 12697}
{:type :invoke, :f :write, :value 0, :process 6401, :time 59725846500, :index 12698}
{:type :info, :f :write, :value 0, :process 6401, :time 59730356500, :error "indeterminate: Connection refused (Connection refused)", :index 12699}
{:type :invoke, :f :write, :value 1, :process 6299, :time 59741493100, :index 12700}
{:type :invoke, :f :cas, :value [2 4], :process 6498, :time 59743280800, :index 12701}
{:type :info, :f :write, :value 1, :process 6299, :time 59747904300, :error "indeterminate: Connection refused (Connection refused)", :index 12702}
{:type :invoke, :f :cas, :value [0 3], :process 6304, :time 59752430300, :index 12703}
{:type :invoke, :f :write, :value 4, :process 6212, :time 59753429700, :index 12704}
{:type :invoke, :f :read, :value nil, :process 6406, :time 59754536400, :index 12705}
{:type :info, :f :cas, :value [2 4], :process 6498, :time 59755310700, :error "indeterminate: Connection refused (Connection refused)", :index 12706}
{:type :invoke, :f :read, :value nil, :process 6320, :time 59758828500, :index 12707}
{:type :info, :f :cas, :value [0 3], :process 6304, :time 59761796600, :error "indeterminate: Connection refused (Connection refused)", :index 12708}
{:type :info, :f :write, :value 4, :process 6212, :time 59764848600, :error "indeterminate: Connection refused (Connection refused)", :index 12709}
{:type :info, :f :read, :value nil, :process 6406, :time 59766943600, :error "indeterminate: Connection refused (Connection refused)", :index 12710}
{:type :info, :f :read, :value nil, :process 6320, :time 59768969700, :error "indeterminate: Connection refused (Connection refused)", :index 12711}
{:type :invoke, :f :write, :value 2, :process 6309, :time 59781383200, :index 12712}
{:type :info, :f :write, :value 2, :process 6309, :time 59786436100, :error "indeterminate: Connection refused (Connection refused)", :index 12713}
{:type :invoke, :f :write, :value 4, :process 6503, :time 59800652900, :index 12714}
{:type :invoke, :f :cas, :value [3 4], :process 6217, :time 59802089600, :index 12715}
{:type :info, :f :cas, :value [3 4], :process 6217, :time 59806505600, :error "indeterminate: Connection refused (Connection refused)", :index 12716}
{:type :invoke, :f :read, :value nil, :process 6411, :time 59810319200, :index 12717}
{:type :info, :f :write, :value 4, :process 6503, :time 59810929700, :error "indeterminate: Connection refused (Connection refused)", :index 12718}
{:type :info, :f :read, :value nil, :process 6411, :time 59820513500, :error "indeterminate: Connection refused (Connection refused)", :index 12719}
{:type :invoke, :f :read, :value nil, :process 6508, :time 59822620700, :index 12720}
{:type :invoke, :f :cas, :value [2 1], :process 6325, :time 59825942900, :index 12721}
{:type :invoke, :f :read, :value nil, :process 6222, :time 59828825300, :index 12722}
{:type :info, :f :read, :value nil, :process 6508, :time 59830167300, :error "indeterminate: Connection refused (Connection refused)", :index 12723}
{:type :info, :f :cas, :value [2 1], :process 6325, :time 59834137600, :error "indeterminate: Connection refused (Connection refused)", :index 12724}
{:type :invoke, :f :read, :value nil, :process 6513, :time 59835160800, :index 12725}
{:type :invoke, :f :write, :value 0, :process 6416, :time 59836956800, :index 12726}
{:type :info, :f :read, :value nil, :process 6222, :time 59839106500, :error "indeterminate: Connection refused (Connection refused)", :index 12727}
{:type :invoke, :f :write, :value 1, :process 6227, :time 59839970300, :index 12728}
{:type :info, :f :read, :value nil, :process 6513, :time 59843720100, :error "indeterminate: Connection refused (Connection refused)", :index 12729}
{:type :info, :f :write, :value 1, :process 6227, :time 59847014700, :error "indeterminate: Connection refused (Connection refused)", :index 12730}
{:type :invoke, :f :cas, :value [2 0], :process 6330, :time 59848185000, :index 12731}
{:type :info, :f :cas, :value [2 0], :process 6330, :time 59852577400, :error "indeterminate: Connection refused (Connection refused)", :index 12732}
{:type :invoke, :f :cas, :value [4 0], :process 6314, :time 59853877900, :index 12733}
{:type :invoke, :f :cas, :value [2 1], :process 6232, :time 59855027100, :index 12734}
{:type :invoke, :f :read, :value nil, :process 6518, :time 59858086600, :index 12735}
{:type :info, :f :write, :value 0, :process 6416, :time 59861516600, :error "indeterminate: Connection refused (Connection refused)", :index 12736}
{:type :info, :f :cas, :value [4 0], :process 6314, :time 59863364000, :error "indeterminate: Connection refused (Connection refused)", :index 12737}
{:type :info, :f :cas, :value [2 1], :process 6232, :time 59868409500, :error "indeterminate: Connection refused (Connection refused)", :index 12738}
{:type :info, :f :read, :value nil, :process 6518, :time 59869444400, :error "indeterminate: Connection refused (Connection refused)", :index 12739}
{:type :invoke, :f :write, :value 2, :process 6335, :time 59890876800, :index 12740}
{:type :info, :f :write, :value 2, :process 6335, :time 59894617400, :error "indeterminate: Connection refused (Connection refused)", :index 12741}
{:type :invoke, :f :read, :value nil, :process 6319, :time 59901639000, :index 12742}
{:type :info, :f :read, :value nil, :process 6319, :time 59906558300, :error "indeterminate: Connection refused (Connection refused)", :index 12743}
{:type :invoke, :f :cas, :value [2 2], :process 6421, :time 59908309500, :index 12744}
{:type :info, :f :cas, :value [2 2], :process 6421, :time 59912595600, :error "indeterminate: Connection refused (Connection refused)", :index 12745}
{:type :invoke, :f :write, :value 2, :process 6237, :time 59914642300, :index 12746}
{:type :info, :f :write, :value 2, :process 6237, :time 59920395400, :error "indeterminate: Connection refused (Connection refused)", :index 12747}
{:type :invoke, :f :read, :value nil, :process 6340, :time 59921214000, :index 12748}
{:type :info, :f :read, :value nil, :process 6340, :time 59926325600, :error "indeterminate: Connection refused (Connection refused)", :index 12749}
{:type :invoke, :f :cas, :value [1 2], :process 6523, :time 59927967700, :index 12750}
{:type :info, :f :cas, :value [1 2], :process 6523, :time 59933964400, :error "indeterminate: Connection refused (Connection refused)", :index 12751}
{:type :invoke, :f :read, :value nil, :process 6242, :time 59933744300, :index 12752}
{:type :info, :f :read, :value nil, :process 6242, :time 59940670600, :error "indeterminate: Connection refused (Connection refused)", :index 12753}
{:type :invoke, :f :read, :value nil, :process 6324, :time 59977719700, :index 12754}
{:type :invoke, :f :cas, :value [0 3], :process 6426, :time 59978385400, :index 12755}
{:type :info, :f :cas, :value [0 3], :process 6426, :time 59986412100, :error "indeterminate: Connection refused (Connection refused)", :index 12756}
{:type :invoke, :f :read, :value nil, :process 6528, :time 59984148900, :index 12757}
{:type :invoke, :f :cas, :value [0 2], :process 6345, :time 59988900000, :index 12758}
{:type :info, :f :read, :value nil, :process 6528, :time 59998641600, :error "indeterminate: Connection refused (Connection refused)", :index 12759}
{:type :info, :f :cas, :value [0 2], :process 6345, :time 60001385800, :error "indeterminate: Connection refused (Connection refused)", :index 12760}
{:type :invoke, :f :read, :value nil, :process 6247, :time 60002700300, :index 12761}
{:type :invoke, :f :write, :value 4, :process 6431, :time 60004441300, :index 12762}
{:type :info, :f :read, :value nil, :process 6247, :time 60006945300, :error "indeterminate: Connection refused (Connection refused)", :index 12763}
{:type :info, :f :write, :value 4, :process 6431, :time 60010195900, :error "indeterminate: Connection refused (Connection refused)", :index 12764}
{:type :info, :f :read, :value nil, :process 6324, :time 59985456600, :error "indeterminate: Connection refused (Connection refused)", :index 12765}
{:type :invoke, :f :write, :value 4, :process 6252, :time 60013923000, :index 12766}
{:type :info, :f :write, :value 4, :process 6252, :time 60020960600, :error "indeterminate: Connection refused (Connection refused)", :index 12767}
{:type :invoke, :f :cas, :value [4 1], :process 6257, :time 60028329400, :index 12768}
{:type :info, :f :cas, :value [4 1], :process 6257, :time 60039117900, :error "indeterminate: Connection refused (Connection refused)", :index 12769}
{:type :invoke, :f :cas, :value [0 4], :process 6533, :time 60053455600, :index 12770}
{:type :info, :f :cas, :value [0 4], :process 6533, :time 60061087400, :error "indeterminate: Connection refused (Connection refused)", :index 12771}
{:type :invoke, :f :read, :value nil, :process 6350, :time 60062919700, :index 12772}
{:type :info, :f :read, :value nil, :process 6350, :time 60068090100, :error "indeterminate: Connection refused (Connection refused)", :index 12773}
{:type :invoke, :f :cas, :value [3 3], :process 6436, :time 60076651500, :index 12774}
{:type :invoke, :f :cas, :value [2 0], :process 6329, :time 60080982800, :index 12775}
{:type :info, :f :cas, :value [3 3], :process 6436, :time 60082067900, :error "indeterminate: Connection refused (Connection refused)", :index 12776}
{:type :invoke, :f :cas, :value [2 1], :process 6262, :time 60085537500, :index 12777}
{:type :info, :f :cas, :value [2 0], :process 6329, :time 60090260900, :error "indeterminate: Connection refused (Connection refused)", :index 12778}
{:type :info, :f :cas, :value [2 1], :process 6262, :time 60092187100, :error "indeterminate: Connection refused (Connection refused)", :index 12779}
{:type :invoke, :f :cas, :value [3 1], :process 6538, :time 60098721900, :index 12780}
{:type :invoke, :f :cas, :value [4 3], :process 6334, :time 60102404500, :index 12781}
{:type :info, :f :cas, :value [3 1], :process 6538, :time 60107187300, :error "indeterminate: Connection refused (Connection refused)", :index 12782}
{:type :info, :f :cas, :value [4 3], :process 6334, :time 60109653300, :error "indeterminate: Connection refused (Connection refused)", :index 12783}
{:type :invoke, :f :read, :value nil, :process 6441, :time 60109280000, :index 12784}
{:type :invoke, :f :cas, :value [1 1], :process 6543, :time 60110688400, :index 12785}
{:type :info, :f :cas, :value [1 1], :process 6543, :time 60117765500, :error "indeterminate: Connection refused (Connection refused)", :index 12786}
{:type :info, :f :read, :value nil, :process 6441, :time 60117864200, :error "indeterminate: Connection refused (Connection refused)", :index 12787}
{:type :invoke, :f :write, :value 3, :process 6267, :time 60119910000, :index 12788}
{:type :invoke, :f :write, :value 0, :process 6339, :time 60123781800, :index 12789}
{:type :info, :f :write, :value 3, :process 6267, :time 60125464700, :error "indeterminate: Connection refused (Connection refused)", :index 12790}
{:type :invoke, :f :read, :value nil, :process 6548, :time 60126297900, :index 12791}
{:type :invoke, :f :write, :value 2, :process 6355, :time 60128218100, :index 12792}
{:type :info, :f :write, :value 0, :process 6339, :time 60130076600, :error "indeterminate: Connection refused (Connection refused)", :index 12793}
{:type :info, :f :write, :value 2, :process 6355, :time 60133145800, :error "indeterminate: Connection refused (Connection refused)", :index 12794}
{:type :info, :f :read, :value nil, :process 6548, :time 60138297600, :error "indeterminate: Connection refused (Connection refused)", :index 12795}
{:type :invoke, :f :read, :value nil, :process 6553, :time 60149148700, :index 12796}
{:type :info, :f :read, :value nil, :process 6553, :time 60156640400, :error "indeterminate: Connection refused (Connection refused)", :index 12797}
{:type :invoke, :f :write, :value 1, :process 6558, :time 60157643900, :index 12798}
{:type :info, :f :write, :value 1, :process 6558, :time 60161845000, :error "indeterminate: Connection refused (Connection refused)", :index 12799}
{:type :invoke, :f :read, :value nil, :process 6344, :time 60162163300, :index 12800}
{:type :info, :f :read, :value nil, :process 6344, :time 60166387200, :error "indeterminate: Connection refused (Connection refused)", :index 12801}
{:type :invoke, :f :write, :value 1, :process 6272, :time 60175451600, :index 12802}
{:type :invoke, :f :write, :value 0, :process 6446, :time 60177394300, :index 12803}
{:type :info, :f :write, :value 1, :process 6272, :time 60180664200, :error "indeterminate: Connection refused (Connection refused)", :index 12804}
{:type :info, :f :write, :value 0, :process 6446, :time 60184066500, :error "indeterminate: Connection refused (Connection refused)", :index 12805}
{:type :invoke, :f :cas, :value [3 3], :process 6451, :time 60185096500, :index 12806}
{:type :info, :f :cas, :value [3 3], :process 6451, :time 60189491200, :error "indeterminate: Connection refused (Connection refused)", :index 12807}
{:type :invoke, :f :read, :value nil, :process 6360, :time 60190053500, :index 12808}
{:type :info, :f :read, :value nil, :process 6360, :time 60194194300, :error "indeterminate: Connection refused (Connection refused)", :index 12809}
{:type :invoke, :f :read, :value nil, :process 6277, :time 60196552200, :index 12810}
{:type :info, :f :read, :value nil, :process 6277, :time 60202160400, :error "indeterminate: Connection refused (Connection refused)", :index 12811}
{:type :invoke, :f :read, :value nil, :process 6282, :time 60223595400, :index 12812}
{:type :invoke, :f :write, :value 0, :process 6563, :time 60226642800, :index 12813}
{:type :invoke, :f :read, :value nil, :process 6349, :time 60228337600, :index 12814}
{:type :info, :f :write, :value 0, :process 6563, :time 60230768900, :error "indeterminate: Connection refused (Connection refused)", :index 12815}
{:type :info, :f :read, :value nil, :process 6349, :time 60232846100, :error "indeterminate: Connection refused (Connection refused)", :index 12816}
{:type :info, :f :read, :value nil, :process 6282, :time 60233059600, :error "indeterminate: Connection refused (Connection refused)", :index 12817}
