{:type :info, :f :start, :process :nemesis, :time 10230217100, :index 2240}
{:type :info, :f :start, :process :nemesis, :time 10368205200, :value [:isolated {"n2" #{"n5" "n4" "n3"}, "n1" #{"n5" "n4" "n3"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}, "n3" #{"n2" "n1"}}], :index 2267}
{:type :info, :f :stop, :process :nemesis, :time 20373881300, :index 4534}
{:type :info, :f :stop, :process :nemesis, :time 20612984700, :value :network-healed, :index 4592}
{:type :info, :f :start, :process :nemesis, :time 30613361800, :index 6766}
{:type :info, :f :start, :process :nemesis, :time 30737952100, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 6786}
{:type :info, :f :stop, :process :nemesis, :time 40738129500, :index 8970}
{:type :info, :f :stop, :process :nemesis, :time 40979375200, :value :network-healed, :index 9013}
{:type :info, :f :start, :process :nemesis, :time 50979749400, :index 11015}
{:type :info, :f :start, :process :nemesis, :time 51139187600, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 11029}
{:type :invoke, :f :cas, :value [0 4], :process 6306, :time 59227366700, :index 12608}
{:type :info, :f :cas, :value [0 4], :process 6306, :time 59233364700, :error "indeterminate: Connection refused (Connection refused)", :index 12609}
{:type :invoke, :f :read, :value nil, :process 6232, :time 59243348900, :index 12612}
{:type :info, :f :read, :value nil, :process 6232, :time 59249057300, :error "indeterminate: Connection refused (Connection refused)", :index 12613}
{:type :invoke, :f :write, :value 3, :process 6290, :time 59248553500, :index 12614}
{:type :info, :f :write, :value 3, :process 6290, :time 59253859600, :error "indeterminate: Connection refused (Connection refused)", :index 12615}
{:type :invoke, :f :read, :value nil, :process 6237, :time 59264414000, :index 12616}
{:type :invoke, :f :cas, :value [2 4], :process 6354, :time 59269923800, :index 12617}
{:type :invoke, :f :cas, :value [4 3], :process 6295, :time 59274090400, :index 12618}
{:type :info, :f :cas, :value [2 4], :process 6354, :time 59282806600, :error "indeterminate: Connection refused (Connection refused)", :index 12619}
{:type :info, :f :read, :value nil, :process 6237, :time 59283525000, :error "indeterminate: Connection refused (Connection refused)", :index 12620}
{:type :invoke, :f :cas, :value [3 2], :process 6328, :time 59283328000, :index 12621}
{:type :invoke, :f :read, :value nil, :process 6311, :time 59284415400, :index 12622}
{:type :info, :f :cas, :value [4 3], :process 6295, :time 59291364500, :error "indeterminate: Connection refused (Connection refused)", :index 12623}
{:type :info, :f :cas, :value [3 2], :process 6328, :time 59293120700, :error "indeterminate: Connection refused (Connection refused)", :index 12624}
{:type :info, :f :read, :value nil, :process 6311, :time 59295228900, :error "indeterminate: Connection refused (Connection refused)", :index 12625}
{:type :invoke, :f :cas, :value [1 3], :process 6300, :time 59331250900, :index 12626}
{:type :invoke, :f :cas, :value [1 1], :process 6242, :time 59333619100, :index 12627}
{:type :info, :f :cas, :value [1 3], :process 6300, :time 59336519000, :error "indeterminate: Connection refused (Connection refused)", :index 12628}
{:type :info, :f :cas, :value [1 1], :process 6242, :time 59341324300, :error "indeterminate: Connection refused (Connection refused)", :index 12629}
{:type :invoke, :f :read, :value nil, :process 6359, :time 59344133000, :index 12630}
{:type :info, :f :read, :value nil, :process 6359, :time 59349430500, :error "indeterminate: Connection refused (Connection refused)", :index 12631}
{:type :invoke, :f :read, :value nil, :process 6316, :time 59350420800, :index 12632}
{:type :invoke, :f :cas, :value [2 3], :process 6333, :time 59350471700, :index 12633}
{:type :info, :f :cas, :value [2 3], :process 6333, :time 59356328700, :error "indeterminate: Connection refused (Connection refused)", :index 12634}
{:type :invoke, :f :cas, :value [4 2], :process 6305, :time 59356048100, :index 12635}
{:type :invoke, :f :read, :value nil, :process 6247, :time 59362840200, :index 12636}
{:type :info, :f :read, :value nil, :process 6316, :time 59366877200, :error "indeterminate: Connection refused (Connection refused)", :index 12637}
{:type :info, :f :cas, :value [4 2], :process 6305, :time 59370190100, :error "indeterminate: Connection refused (Connection refused)", :index 12638}
{:type :info, :f :read, :value nil, :process 6247, :time 59376019500, :error "indeterminate: Connection refused (Connection refused)", :index 12639}
{:type :invoke, :f :cas, :value [0 1], :process 6310, :time 59381957500, :index 12640}
{:type :invoke, :f :read, :value nil, :process 6364, :time 59389483400, :index 12641}
{:type :info, :f :cas, :value [0 1], :process 6310, :time 59400912600, :error "indeterminate: Connection refused (Connection refused)", :index 12642}
{:type :info, :f :read, :value nil, :process 6364, :time 59401178900, :error "indeterminate: Connection refused (Connection refused)", :index 12643}
{:type :invoke, :f :cas, :value [1 3], :process 6369, :time 59410041900, :index 12644}
{:type :info, :f :cas, :value [1 3], :process 6369, :time 59417571100, :error "indeterminate: Connection refused (Connection refused)", :index 12645}
{:type :invoke, :f :read, :value nil, :process 6338, :time 59418314800, :index 12646}
{:type :invoke, :f :cas, :value [1 4], :process 6252, :time 59418330700, :index 12647}
{:type :info, :f :cas, :value [1 4], :process 6252, :time 59431085400, :error "indeterminate: Connection refused (Connection refused)", :index 12648}
{:type :info, :f :read, :value nil, :process 6338, :time 59431198000, :error "indeterminate: Connection refused (Connection refused)", :index 12649}
{:type :invoke, :f :write, :value 4, :process 6321, :time 59430906500, :index 12650}
{:type :invoke, :f :write, :value 1, :process 6374, :time 59431521500, :index 12651}
{:type :info, :f :write, :value 1, :process 6374, :time 59441643800, :error "indeterminate: Connection refused (Connection refused)", :index 12652}
{:type :info, :f :write, :value 4, :process 6321, :time 59451710300, :error "indeterminate: Connection refused (Connection refused)", :index 12653}
{:type :invoke, :f :read, :value nil, :process 6343, :time 59451060000, :index 12654}
{:type :invoke, :f :cas, :value [0 1], :process 6257, :time 59456879100, :index 12655}
{:type :info, :f :read, :value nil, :process 6343, :time 59460816900, :error "indeterminate: Connection refused (Connection refused)", :index 12656}
{:type :invoke, :f :read, :value nil, :process 6315, :time 59466572500, :index 12657}
{:type :invoke, :f :write, :value 1, :process 6326, :time 59473244200, :index 12658}
{:type :info, :f :cas, :value [0 1], :process 6257, :time 59482041300, :error "indeterminate: Connection refused (Connection refused)", :index 12659}
{:type :info, :f :read, :value nil, :process 6315, :time 59484635900, :error "indeterminate: Connection refused (Connection refused)", :index 12660}
{:type :info, :f :write, :value 1, :process 6326, :time 59487551000, :error "indeterminate: Connection refused (Connection refused)", :index 12661}
{:type :invoke, :f :write, :value 3, :process 6320, :time 59490546000, :index 12662}
{:type :invoke, :f :write, :value 0, :process 6262, :time 59494865900, :index 12663}
{:type :invoke, :f :write, :value 1, :process 6379, :time 59495992500, :index 12664}
{:type :info, :f :write, :value 0, :process 6262, :time 59507532900, :error "indeterminate: Connection refused (Connection refused)", :index 12665}
{:type :info, :f :write, :value 1, :process 6379, :time 59507708300, :error "indeterminate: Connection refused (Connection refused)", :index 12666}
{:type :invoke, :f :write, :value 2, :process 6348, :time 59508737200, :index 12667}
{:type :info, :f :write, :value 3, :process 6320, :time 59516006800, :error "indeterminate: Connection refused (Connection refused)", :index 12668}
{:type :info, :f :write, :value 2, :process 6348, :time 59519913000, :error "indeterminate: Connection refused (Connection refused)", :index 12669}
{:type :invoke, :f :write, :value 2, :process 6267, :time 59535655200, :index 12670}
{:type :info, :f :write, :value 2, :process 6267, :time 59542254000, :error "indeterminate: Connection refused (Connection refused)", :index 12671}
{:type :invoke, :f :cas, :value [3 0], :process 6331, :time 59543519600, :index 12672}
{:type :info, :f :cas, :value [3 0], :process 6331, :time 59549704100, :error "indeterminate: Connection refused (Connection refused)", :index 12673}
{:type :invoke, :f :cas, :value [2 0], :process 6325, :time 59552025100, :index 12674}
{:type :invoke, :f :cas, :value [3 0], :process 6272, :time 59557004300, :index 12675}
{:type :info, :f :cas, :value [2 0], :process 6325, :time 59560533200, :error "indeterminate: Connection refused (Connection refused)", :index 12676}
{:type :invoke, :f :cas, :value [1 3], :process 6384, :time 59564647400, :index 12677}
{:type :info, :f :cas, :value [3 0], :process 6272, :time 59567524900, :error "indeterminate: Connection refused (Connection refused)", :index 12678}
{:type :info, :f :cas, :value [1 3], :process 6384, :time 59569572300, :error "indeterminate: Connection refused (Connection refused)", :index 12679}
{:type :invoke, :f :write, :value 3, :process 6277, :time 59573463200, :index 12680}
{:type :info, :f :write, :value 3, :process 6277, :time 59580391200, :error "indeterminate: Connection refused (Connection refused)", :index 12681}
{:type :invoke, :f :write, :value 4, :process 6353, :time 59582679800, :index 12682}
{:type :info, :f :write, :value 4, :process 6353, :time 59586975200, :error "indeterminate: Connection refused (Connection refused)", :index 12683}
{:type :invoke, :f :write, :value 2, :process 6282, :time 59597470600, :index 12684}
{:type :info, :f :write, :value 2, :process 6282, :time 59602197500, :error "indeterminate: Connection refused (Connection refused)", :index 12685}
{:type :invoke, :f :cas, :value [3 2], :process 6336, :time 59602605300, :index 12686}
{:type :invoke, :f :read, :value nil, :process 6389, :time 59608052000, :index 12687}
{:type :invoke, :f :cas, :value [4 3], :process 6330, :time 59611549900, :index 12688}
{:type :info, :f :cas, :value [4 3], :process 6330, :time 59624289400, :error "indeterminate: Connection refused (Connection refused)", :index 12689}
{:type :info, :f :cas, :value [3 2], :process 6336, :time 59624157300, :error "indeterminate: Connection refused (Connection refused)", :index 12690}
{:type :info, :f :read, :value nil, :process 6389, :time 59624984500, :error "indeterminate: Connection refused (Connection refused)", :index 12691}
{:type :invoke, :f :read, :value nil, :process 6335, :time 59633498100, :index 12692}
{:type :invoke, :f :read, :value nil, :process 6358, :time 59640586400, :index 12693}
{:type :info, :f :read, :value nil, :process 6335, :time 59642783200, :error "indeterminate: Connection refused (Connection refused)", :index 12694}
{:type :info, :f :read, :value nil, :process 6358, :time 59647234500, :error "indeterminate: Connection refused (Connection refused)", :index 12695}
{:type :invoke, :f :cas, :value [4 2], :process 6340, :time 59649862200, :index 12696}
{:type :info, :f :cas, :value [4 2], :process 6340, :time 59655942300, :error "indeterminate: Connection refused (Connection refused)", :index 12697}
{:type :invoke, :f :write, :value 0, :process 6287, :time 59657512900, :index 12698}
{:type :info, :f :write, :value 0, :process 6287, :time 59667247900, :error "indeterminate: Connection refused (Connection refused)", :index 12699}
{:type :invoke, :f :read, :value nil, :process 6394, :time 59684426900, :index 12700}
{:type :invoke, :f :read, :value nil, :process 6341, :time 59685833700, :index 12701}
{:type :info, :f :read, :value nil, :process 6394, :time 59692286100, :error "indeterminate: Connection refused (Connection refused)", :index 12702}
{:type :invoke, :f :cas, :value [1 2], :process 6292, :time 59692028600, :index 12703}
{:type :info, :f :read, :value nil, :process 6341, :time 59693351300, :error "indeterminate: Connection refused (Connection refused)", :index 12704}
{:type :invoke, :f :cas, :value [2 4], :process 6363, :time 59707312300, :index 12705}
{:type :info, :f :cas, :value [1 2], :process 6292, :time 59728568300, :error "indeterminate: Connection refused (Connection refused)", :index 12706}
{:type :invoke, :f :write, :value 2, :process 6346, :time 59728425800, :index 12707}
{:type :info, :f :cas, :value [2 4], :process 6363, :time 59734838800, :error "indeterminate: Connection refused (Connection refused)", :index 12708}
{:type :invoke, :f :cas, :value [0 0], :process 6345, :time 59732762100, :index 12709}
{:type :info, :f :write, :value 2, :process 6346, :time 59744368900, :error "indeterminate: Connection refused (Connection refused)", :index 12710}
{:type :info, :f :cas, :value [0 0], :process 6345, :time 59752449200, :error "indeterminate: Connection refused (Connection refused)", :index 12711}
{:type :invoke, :f :cas, :value [1 2], :process 6399, :time 59753401300, :index 12712}
{:type :info, :f :cas, :value [1 2], :process 6399, :time 59759911800, :error "indeterminate: Connection refused (Connection refused)", :index 12713}
{:type :invoke, :f :write, :value 3, :process 6351, :time 59777220100, :index 12714}
{:type :info, :f :write, :value 3, :process 6351, :time 59782897800, :error "indeterminate: Connection refused (Connection refused)", :index 12715}
{:type :invoke, :f :read, :value nil, :process 6368, :time 59795532100, :index 12716}
{:type :info, :f :read, :value nil, :process 6368, :time 59802135200, :error "indeterminate: Connection refused (Connection refused)", :index 12717}
{:type :invoke, :f :write, :value 3, :process 6350, :time 59805479200, :index 12718}
{:type :invoke, :f :write, :value 0, :process 6297, :time 59810811400, :index 12719}
{:type :info, :f :write, :value 3, :process 6350, :time 59822599400, :error "indeterminate: Connection refused (Connection refused)", :index 12720}
{:type :info, :f :write, :value 0, :process 6297, :time 59825061500, :error "indeterminate: Connection refused (Connection refused)", :index 12721}
{:type :invoke, :f :read, :value nil, :process 6356, :time 59823820100, :index 12722}
{:type :invoke, :f :write, :value 2, :process 6404, :time 59826604000, :index 12723}
{:type :info, :f :read, :value nil, :process 6356, :time 59836013600, :error "indeterminate: Connection refused (Connection refused)", :index 12724}
{:type :info, :f :write, :value 2, :process 6404, :time 59836710700, :error "indeterminate: Connection refused (Connection refused)", :index 12725}
{:type :invoke, :f :write, :value 0, :process 6373, :time 59845609200, :index 12726}
{:type :info, :f :write, :value 0, :process 6373, :time 59851144800, :error "indeterminate: Connection refused (Connection refused)", :index 12727}
{:type :invoke, :f :cas, :value [1 1], :process 6302, :time 59855402400, :index 12728}
{:type :invoke, :f :write, :value 2, :process 6355, :time 59861113800, :index 12729}
{:type :info, :f :write, :value 2, :process 6355, :time 59867306500, :error "indeterminate: Connection refused (Connection refused)", :index 12730}
{:type :info, :f :cas, :value [1 1], :process 6302, :time 59869773400, :error "indeterminate: Connection refused (Connection refused)", :index 12731}
{:type :invoke, :f :read, :value nil, :process 6307, :time 59873843400, :index 12732}
{:type :info, :f :read, :value nil, :process 6307, :time 59886891800, :error "indeterminate: Connection refused (Connection refused)", :index 12733}
{:type :invoke, :f :read, :value nil, :process 6409, :time 59883924200, :index 12734}
{:type :invoke, :f :write, :value 1, :process 6361, :time 59887740600, :index 12735}
{:type :info, :f :read, :value nil, :process 6409, :time 59893524200, :error "indeterminate: Connection refused (Connection refused)", :index 12736}
{:type :info, :f :write, :value 1, :process 6361, :time 59893803500, :error "indeterminate: Connection refused (Connection refused)", :index 12737}
{:type :invoke, :f :write, :value 4, :process 6378, :time 59901785600, :index 12738}
{:type :info, :f :write, :value 4, :process 6378, :time 59908305900, :error "indeterminate: Connection refused (Connection refused)", :index 12739}
{:type :invoke, :f :cas, :value [3 1], :process 6312, :time 59914440800, :index 12740}
{:type :invoke, :f :read, :value nil, :process 6414, :time 59916780700, :index 12741}
{:type :invoke, :f :cas, :value [2 2], :process 6366, :time 59917307600, :index 12742}
{:type :invoke, :f :cas, :value [2 0], :process 6360, :time 59926129800, :index 12743}
{:type :info, :f :cas, :value [2 2], :process 6366, :time 59926309000, :error "indeterminate: Connection refused (Connection refused)", :index 12744}
{:type :info, :f :read, :value nil, :process 6414, :time 59927893300, :error "indeterminate: Connection refused (Connection refused)", :index 12745}
{:type :info, :f :cas, :value [2 0], :process 6360, :time 59931658100, :error "indeterminate: Connection refused (Connection refused)", :index 12746}
{:type :info, :f :cas, :value [3 1], :process 6312, :time 59931796400, :error "indeterminate: Connection refused (Connection refused)", :index 12747}
{:type :invoke, :f :cas, :value [0 2], :process 6383, :time 59931741200, :index 12748}
{:type :invoke, :f :write, :value 3, :process 6419, :time 59935472700, :index 12749}
{:type :info, :f :cas, :value [0 2], :process 6383, :time 59938806500, :error "indeterminate: Connection refused (Connection refused)", :index 12750}
{:type :info, :f :write, :value 3, :process 6419, :time 59942848700, :error "indeterminate: Connection refused (Connection refused)", :index 12751}
{:type :invoke, :f :read, :value nil, :process 6388, :time 59947033900, :index 12752}
{:type :info, :f :read, :value nil, :process 6388, :time 59957206500, :error "indeterminate: Connection refused (Connection refused)", :index 12753}
{:type :invoke, :f :cas, :value [1 3], :process 6424, :time 59968326000, :index 12754}
{:type :invoke, :f :write, :value 2, :process 6365, :time 59971504200, :index 12755}
{:type :invoke, :f :write, :value 3, :process 6317, :time 59973827300, :index 12756}
{:type :info, :f :cas, :value [1 3], :process 6424, :time 59985944800, :error "indeterminate: Connection refused (Connection refused)", :index 12757}
{:type :info, :f :write, :value 2, :process 6365, :time 59986930700, :error "indeterminate: Connection refused (Connection refused)", :index 12758}
{:type :info, :f :write, :value 3, :process 6317, :time 59987555200, :error "indeterminate: Connection refused (Connection refused)", :index 12759}
{:type :invoke, :f :cas, :value [3 3], :process 6393, :time 59987876000, :index 12760}
{:type :invoke, :f :read, :value nil, :process 6371, :time 59989063800, :index 12761}
{:type :invoke, :f :write, :value 1, :process 6429, :time 59995182200, :index 12762}
{:type :info, :f :read, :value nil, :process 6371, :time 59999732000, :error "indeterminate: Connection refused (Connection refused)", :index 12763}
{:type :info, :f :cas, :value [3 3], :process 6393, :time 60000250900, :error "indeterminate: Connection refused (Connection refused)", :index 12764}
{:type :info, :f :write, :value 1, :process 6429, :time 60007200900, :error "indeterminate: Connection refused (Connection refused)", :index 12765}
{:type :invoke, :f :read, :value nil, :process 6398, :time 60018565000, :index 12766}
{:type :info, :f :read, :value nil, :process 6398, :time 60028085300, :error "indeterminate: Connection refused (Connection refused)", :index 12767}
{:type :invoke, :f :cas, :value [4 2], :process 6322, :time 60034511600, :index 12768}
{:type :info, :f :cas, :value [4 2], :process 6322, :time 60039960400, :error "indeterminate: Connection refused (Connection refused)", :index 12769}
{:type :invoke, :f :cas, :value [0 3], :process 6370, :time 60046828800, :index 12770}
{:type :invoke, :f :cas, :value [0 2], :process 6434, :time 60052760400, :index 12771}
{:type :invoke, :f :read, :value nil, :process 6376, :time 60054472600, :index 12772}
{:type :info, :f :cas, :value [0 3], :process 6370, :time 60055668200, :error "indeterminate: Connection refused (Connection refused)", :index 12773}
{:type :info, :f :read, :value nil, :process 6376, :time 60059769900, :error "indeterminate: Connection refused (Connection refused)", :index 12774}
{:type :invoke, :f :write, :value 4, :process 6375, :time 60067914900, :index 12775}
{:type :invoke, :f :write, :value 2, :process 6327, :time 60071719700, :index 12776}
{:type :info, :f :write, :value 4, :process 6375, :time 60076749700, :error "indeterminate: Connection refused (Connection refused)", :index 12777}
{:type :invoke, :f :read, :value nil, :process 6380, :time 60090083000, :index 12778}
{:type :invoke, :f :cas, :value [0 4], :process 6403, :time 60093206200, :index 12779}
{:type :invoke, :f :write, :value 4, :process 6381, :time 60110334800, :index 12780}
{:type :info, :f :cas, :value [0 4], :process 6403, :time 60115667700, :error "indeterminate: Connection refused (Connection refused)", :index 12781}
{:type :info, :f :read, :value nil, :process 6380, :time 60115771900, :error "indeterminate: Connection refused (Connection refused)", :index 12782}
{:type :info, :f :write, :value 2, :process 6327, :time 60129402000, :error "indeterminate: Connection refused (Connection refused)", :index 12783}
{:type :info, :f :cas, :value [0 2], :process 6434, :time 60156902000, :error "indeterminate: Connection refused (Connection refused)", :index 12784}
{:type :info, :f :write, :value 4, :process 6381, :time 60157639500, :error "indeterminate: Connection refused (Connection refused)", :index 12785}
{:type :invoke, :f :read, :value nil, :process 6385, :time 60158629800, :index 12786}
{:type :invoke, :f :cas, :value [2 1], :process 6439, :time 60164464500, :index 12787}
{:type :info, :f :read, :value nil, :process 6385, :time 60165554700, :error "indeterminate: Connection refused (Connection refused)", :index 12788}
{:type :invoke, :f :read, :value nil, :process 6390, :time 60168960300, :index 12789}
{:type :invoke, :f :write, :value 2, :process 6332, :time 60175517800, :index 12790}
{:type :info, :f :read, :value nil, :process 6390, :time 60180316600, :error "indeterminate: Connection refused (Connection refused)", :index 12791}
{:type :invoke, :f :read, :value nil, :process 6386, :time 60194355800, :index 12792}
{:type :invoke, :f :cas, :value [4 4], :process 6408, :time 60201710600, :index 12793}
{:type :info, :f :read, :value nil, :process 6386, :time 60216168900, :error "indeterminate: Connection refused (Connection refused)", :index 12794}
{:type :info, :f :cas, :value [4 4], :process 6408, :time 60234941000, :error "indeterminate: Connection refused (Connection refused)", :index 12795}
{:type :info, :f :cas, :value [2 1], :process 6439, :time 60245407000, :error "indeterminate: Connection refused (Connection refused)", :index 12796}
{:type :info, :f :write, :value 2, :process 6332, :time 60254203500, :error "indeterminate: Connection refused (Connection refused)", :index 12797}
