{:type :info, :f :start, :process :nemesis, :time 10240197100, :index 2342}
{:type :info, :f :start, :process :nemesis, :time 10379644300, :value [:isolated {"n2" #{"n5" "n1" "n4"}, "n3" #{"n5" "n1" "n4"}, "n5" #{"n2" "n3"}, "n1" #{"n2" "n3"}, "n4" #{"n2" "n3"}}], :index 2363}
{:type :info, :f :stop, :process :nemesis, :time 20379931700, :index 4701}
{:type :info, :f :stop, :process :nemesis, :time 20531911600, :value :network-healed, :index 4732}
{:type :info, :f :start, :process :nemesis, :time 30532126200, :index 7056}
{:type :info, :f :start, :process :nemesis, :time 30642752600, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 7077}
{:type :info, :f :stop, :process :nemesis, :time 40643102700, :index 9288}
{:type :info, :f :stop, :process :nemesis, :time 42934947400, :value :network-healed, :index 9791}
{:type :info, :f :start, :process :nemesis, :time 52935731700, :index 12032}
{:type :info, :f :start, :process :nemesis, :time 52991417000, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 12046}
{:type :info, :f :stop, :process :nemesis, :time 62992149900, :index 14205}
{:type :info, :f :stop, :process :nemesis, :time 63257391400, :value :network-healed, :index 14247}
{:type :info, :f :start, :process :nemesis, :time 73257677200, :index 16374}
{:type :info, :f :start, :process :nemesis, :time 73410926800, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 16399}
{:type :info, :f :stop, :process :nemesis, :time 83411529500, :index 18552}
{:type :info, :f :stop, :process :nemesis, :time 83649254800, :value :network-healed, :index 18603}
{:type :info, :f :start, :process :nemesis, :time 93657605100, :index 20885}
{:type :info, :f :start, :process :nemesis, :time 95326474200, :value [:isolated {"n2" #{"n5" "n1" "n3"}, "n4" #{"n5" "n1" "n3"}, "n5" #{"n2" "n4"}, "n1" #{"n2" "n4"}, "n3" #{"n2" "n4"}}], :index 21217}
{:type :invoke, :f :write, :value 3, :process 11041, :time 99487447000, :index 22213}
{:type :info, :f :write, :value 3, :process 11041, :time 99491732000, :error "indeterminate: Connection refused (Connection refused)", :index 22215}
{:type :invoke, :f :read, :value nil, :process 11046, :time 99493498600, :index 22216}
{:type :info, :f :read, :value nil, :process 11046, :time 99497732200, :error "indeterminate: Connection refused (Connection refused)", :index 22217}
{:type :invoke, :f :cas, :value [4 1], :process 11095, :time 99536961100, :index 22222}
{:type :invoke, :f :read, :value nil, :process 11254, :time 99540858400, :index 22223}
{:type :info, :f :cas, :value [4 1], :process 11095, :time 99542506000, :error "indeterminate: Connection refused (Connection refused)", :index 22224}
{:type :invoke, :f :write, :value 2, :process 11051, :time 99543775800, :index 22225}
{:type :info, :f :read, :value nil, :process 11254, :time 99554416000, :error "indeterminate: Connection refused (Connection refused)", :index 22226}
{:type :invoke, :f :cas, :value [0 2], :process 11103, :time 99554735200, :index 22227}
{:type :invoke, :f :write, :value 4, :process 11017, :time 99555794800, :index 22228}
{:type :info, :f :write, :value 2, :process 11051, :time 99557622000, :error "indeterminate: Connection refused (Connection refused)", :index 22229}
{:type :invoke, :f :read, :value nil, :process 11100, :time 99559670200, :index 22230}
{:type :info, :f :cas, :value [0 2], :process 11103, :time 99563806000, :error "indeterminate: Connection refused (Connection refused)", :index 22231}
{:type :info, :f :read, :value nil, :process 11100, :time 99564009900, :error "indeterminate: Connection refused (Connection refused)", :index 22232}
{:type :info, :f :write, :value 4, :process 11017, :time 99564180000, :error "indeterminate: Connection refused (Connection refused)", :index 22233}
{:type :invoke, :f :write, :value 1, :process 11056, :time 99566262000, :index 22234}
{:type :info, :f :write, :value 1, :process 11056, :time 99570593400, :error "indeterminate: Connection refused (Connection refused)", :index 22235}
{:type :invoke, :f :cas, :value [3 3], :process 11108, :time 99572272800, :index 22236}
{:type :invoke, :f :cas, :value [2 4], :process 11105, :time 99574278400, :index 22237}
{:type :invoke, :f :cas, :value [2 2], :process 11259, :time 99579912400, :index 22238}
{:type :info, :f :cas, :value [3 3], :process 11108, :time 99582447700, :error "indeterminate: Connection refused (Connection refused)", :index 22239}
{:type :info, :f :cas, :value [2 4], :process 11105, :time 99583703000, :error "indeterminate: Connection refused (Connection refused)", :index 22240}
{:type :info, :f :cas, :value [2 2], :process 11259, :time 99586340100, :error "indeterminate: Connection refused (Connection refused)", :index 22241}
{:type :invoke, :f :write, :value 0, :process 11022, :time 99593600000, :index 22242}
{:type :info, :f :write, :value 0, :process 11022, :time 99597674000, :error "indeterminate: Connection refused (Connection refused)", :index 22243}
{:type :invoke, :f :read, :value nil, :process 11264, :time 99610527100, :index 22244}
{:type :info, :f :read, :value nil, :process 11264, :time 99614664500, :error "indeterminate: Connection refused (Connection refused)", :index 22245}
{:type :invoke, :f :cas, :value [1 1], :process 11061, :time 99621353900, :index 22246}
{:type :invoke, :f :read, :value nil, :process 11110, :time 99623347800, :index 22247}
{:type :info, :f :cas, :value [1 1], :process 11061, :time 99625915900, :error "indeterminate: Connection refused (Connection refused)", :index 22248}
{:type :invoke, :f :cas, :value [0 1], :process 11113, :time 99628449100, :index 22249}
{:type :info, :f :read, :value nil, :process 11110, :time 99636675100, :error "indeterminate: Connection refused (Connection refused)", :index 22250}
{:type :info, :f :cas, :value [0 1], :process 11113, :time 99640330000, :error "indeterminate: Connection refused (Connection refused)", :index 22251}
{:type :invoke, :f :read, :value nil, :process 11027, :time 99663150300, :index 22252}
{:type :info, :f :read, :value nil, :process 11027, :time 99667967800, :error "indeterminate: Connection refused (Connection refused)", :index 22253}
{:type :invoke, :f :read, :value nil, :process 11269, :time 99670844800, :index 22254}
{:type :invoke, :f :cas, :value [3 0], :process 11115, :time 99675522300, :index 22255}
{:type :info, :f :read, :value nil, :process 11269, :time 99676151300, :error "indeterminate: Connection refused (Connection refused)", :index 22256}
{:type :invoke, :f :read, :value nil, :process 11066, :time 99679074100, :index 22257}
{:type :info, :f :cas, :value [3 0], :process 11115, :time 99686423500, :error "indeterminate: Connection refused (Connection refused)", :index 22258}
{:type :info, :f :read, :value nil, :process 11066, :time 99687580400, :error "indeterminate: Connection refused (Connection refused)", :index 22259}
{:type :invoke, :f :write, :value 1, :process 11274, :time 99701071700, :index 22260}
{:type :info, :f :write, :value 1, :process 11274, :time 99705523300, :error "indeterminate: Connection refused (Connection refused)", :index 22261}
{:type :invoke, :f :read, :value nil, :process 11118, :time 99708400700, :index 22262}
{:type :info, :f :read, :value nil, :process 11118, :time 99714260200, :error "indeterminate: Connection refused (Connection refused)", :index 22263}
{:type :invoke, :f :cas, :value [1 2], :process 11032, :time 99725882200, :index 22264}
{:type :invoke, :f :read, :value nil, :process 11071, :time 99728514500, :index 22265}
{:type :info, :f :cas, :value [1 2], :process 11032, :time 99732967300, :error "indeterminate: Connection refused (Connection refused)", :index 22266}
{:type :info, :f :read, :value nil, :process 11071, :time 99736390900, :error "indeterminate: Connection refused (Connection refused)", :index 22267}
{:type :invoke, :f :read, :value nil, :process 11120, :time 99749424800, :index 22268}
{:type :info, :f :read, :value nil, :process 11120, :time 99756747600, :error "indeterminate: Connection refused (Connection refused)", :index 22269}
{:type :invoke, :f :write, :value 4, :process 11037, :time 99757863300, :index 22270}
{:type :invoke, :f :cas, :value [3 1], :process 11279, :time 99759580200, :index 22271}
{:type :invoke, :f :write, :value 1, :process 11123, :time 99760738800, :index 22272}
{:type :info, :f :write, :value 4, :process 11037, :time 99767526400, :error "indeterminate: Connection refused (Connection refused)", :index 22273}
{:type :info, :f :write, :value 1, :process 11123, :time 99768309400, :error "indeterminate: Connection refused (Connection refused)", :index 22274}
{:type :info, :f :cas, :value [3 1], :process 11279, :time 99768582300, :error "indeterminate: Connection refused (Connection refused)", :index 22275}
{:type :invoke, :f :read, :value nil, :process 11125, :time 99785074500, :index 22276}
{:type :info, :f :read, :value nil, :process 11125, :time 99791236600, :error "indeterminate: Connection refused (Connection refused)", :index 22277}
{:type :invoke, :f :read, :value nil, :process 11076, :time 99791875600, :index 22278}
{:type :info, :f :read, :value nil, :process 11076, :time 99797931700, :error "indeterminate: Connection refused (Connection refused)", :index 22279}
{:type :invoke, :f :read, :value nil, :process 11128, :time 99799636900, :index 22280}
{:type :info, :f :read, :value nil, :process 11128, :time 99804059500, :error "indeterminate: Connection refused (Connection refused)", :index 22281}
{:type :invoke, :f :cas, :value [0 2], :process 11130, :time 99810369100, :index 22282}
{:type :info, :f :cas, :value [0 2], :process 11130, :time 99814450700, :error "indeterminate: Connection refused (Connection refused)", :index 22283}
{:type :invoke, :f :cas, :value [1 0], :process 11042, :time 99816127900, :index 22284}
{:type :info, :f :cas, :value [1 0], :process 11042, :time 99820697800, :error "indeterminate: Connection refused (Connection refused)", :index 22285}
{:type :invoke, :f :write, :value 2, :process 11135, :time 99826656300, :index 22286}
{:type :info, :f :write, :value 2, :process 11135, :time 99831453700, :error "indeterminate: Connection refused (Connection refused)", :index 22287}
{:type :invoke, :f :write, :value 4, :process 11284, :time 99835897700, :index 22288}
{:type :info, :f :write, :value 4, :process 11284, :time 99840350400, :error "indeterminate: Connection refused (Connection refused)", :index 22289}
{:type :invoke, :f :cas, :value [2 3], :process 11140, :time 99845566700, :index 22290}
{:type :info, :f :cas, :value [2 3], :process 11140, :time 99849904800, :error "indeterminate: Connection refused (Connection refused)", :index 22291}
{:type :invoke, :f :read, :value nil, :process 11133, :time 99856083500, :index 22292}
{:type :invoke, :f :write, :value 4, :process 11081, :time 99856452600, :index 22293}
{:type :info, :f :write, :value 4, :process 11081, :time 99860699000, :error "indeterminate: Connection refused (Connection refused)", :index 22294}
{:type :invoke, :f :write, :value 3, :process 11047, :time 99861206300, :index 22295}
{:type :info, :f :read, :value nil, :process 11133, :time 99874504800, :error "indeterminate: Connection refused (Connection refused)", :index 22296}
{:type :info, :f :write, :value 3, :process 11047, :time 99876038600, :error "indeterminate: Connection refused (Connection refused)", :index 22297}
{:type :invoke, :f :cas, :value [2 3], :process 11145, :time 99878210800, :index 22298}
{:type :info, :f :cas, :value [2 3], :process 11145, :time 99890305500, :error "indeterminate: Connection refused (Connection refused)", :index 22299}
{:type :invoke, :f :read, :value nil, :process 11289, :time 99883238600, :index 22300}
{:type :invoke, :f :cas, :value [4 4], :process 11052, :time 99893248200, :index 22301}
{:type :info, :f :read, :value nil, :process 11289, :time 99895329500, :error "indeterminate: Connection refused (Connection refused)", :index 22302}
{:type :info, :f :cas, :value [4 4], :process 11052, :time 99897485700, :error "indeterminate: Connection refused (Connection refused)", :index 22303}
{:type :invoke, :f :write, :value 0, :process 11086, :time 99900036300, :index 22304}
{:type :invoke, :f :cas, :value [4 1], :process 11138, :time 99906026100, :index 22305}
{:type :invoke, :f :cas, :value [0 1], :process 11150, :time 99905645300, :index 22306}
{:type :invoke, :f :cas, :value [1 3], :process 11294, :time 99912134300, :index 22307}
{:type :info, :f :cas, :value [4 1], :process 11138, :time 99919517900, :error "indeterminate: Connection refused (Connection refused)", :index 22308}
{:type :info, :f :write, :value 0, :process 11086, :time 99921008300, :error "indeterminate: Connection refused (Connection refused)", :index 22309}
{:type :info, :f :cas, :value [0 1], :process 11150, :time 99932170900, :error "indeterminate: Connection refused (Connection refused)", :index 22310}
{:type :invoke, :f :write, :value 2, :process 11057, :time 99933181800, :index 22311}
{:type :info, :f :cas, :value [1 3], :process 11294, :time 99934529800, :error "indeterminate: Connection refused (Connection refused)", :index 22312}
{:type :invoke, :f :write, :value 2, :process 11091, :time 99937126500, :index 22313}
{:type :info, :f :write, :value 2, :process 11057, :time 99937745200, :error "indeterminate: Connection refused (Connection refused)", :index 22314}
{:type :invoke, :f :write, :value 0, :process 11143, :time 99941723600, :index 22315}
{:type :info, :f :write, :value 2, :process 11091, :time 99946242400, :error "indeterminate: Connection refused (Connection refused)", :index 22316}
{:type :info, :f :write, :value 0, :process 11143, :time 99947285800, :error "indeterminate: Connection refused (Connection refused)", :index 22317}
{:type :invoke, :f :write, :value 1, :process 11299, :time 99969261600, :index 22318}
{:type :info, :f :write, :value 1, :process 11299, :time 99974254900, :error "indeterminate: Connection refused (Connection refused)", :index 22319}
{:type :invoke, :f :read, :value nil, :process 11096, :time 99975087000, :index 22320}
{:type :info, :f :read, :value nil, :process 11096, :time 99985644600, :error "indeterminate: Connection refused (Connection refused)", :index 22321}
{:type :invoke, :f :read, :value nil, :process 11155, :time 99991345500, :index 22322}
{:type :invoke, :f :read, :value nil, :process 11148, :time 99995005300, :index 22323}
{:type :info, :f :read, :value nil, :process 11155, :time 99996234800, :error "indeterminate: Connection refused (Connection refused)", :index 22324}
{:type :info, :f :read, :value nil, :process 11148, :time 99999940400, :error "indeterminate: Connection refused (Connection refused)", :index 22325}
{:type :invoke, :f :write, :value 0, :process 11062, :time 100003532600, :index 22326}
{:type :info, :f :write, :value 0, :process 11062, :time 100007951300, :error "indeterminate: Connection refused (Connection refused)", :index 22327}
{:type :invoke, :f :read, :value nil, :process 11101, :time 100014176100, :index 22328}
{:type :info, :f :read, :value nil, :process 11101, :time 100019679100, :error "indeterminate: Connection refused (Connection refused)", :index 22329}
{:type :invoke, :f :cas, :value [3 4], :process 11153, :time 100020258500, :index 22330}
{:type :info, :f :cas, :value [3 4], :process 11153, :time 100028558200, :error "indeterminate: Connection refused (Connection refused)", :index 22331}
{:type :invoke, :f :cas, :value [4 2], :process 11158, :time 100036966400, :index 22332}
{:type :info, :f :cas, :value [4 2], :process 11158, :time 100041622600, :error "indeterminate: Connection refused (Connection refused)", :index 22333}
{:type :invoke, :f :read, :value nil, :process 11304, :time 100051182000, :index 22334}
{:type :info, :f :read, :value nil, :process 11304, :time 100056119900, :error "indeterminate: Connection refused (Connection refused)", :index 22335}
{:type :invoke, :f :cas, :value [3 1], :process 11160, :time 100056232200, :index 22336}
{:type :info, :f :cas, :value [3 1], :process 11160, :time 100060419900, :error "indeterminate: Connection refused (Connection refused)", :index 22337}
{:type :invoke, :f :write, :value 3, :process 11067, :time 100070061700, :index 22338}
{:type :invoke, :f :cas, :value [0 1], :process 11106, :time 100072719800, :index 22339}
{:type :invoke, :f :cas, :value [0 2], :process 11165, :time 100073802400, :index 22340}
{:type :info, :f :write, :value 3, :process 11067, :time 100077997800, :error "indeterminate: Connection refused (Connection refused)", :index 22341}
{:type :invoke, :f :cas, :value [3 1], :process 11163, :time 100079070400, :index 22342}
{:type :info, :f :cas, :value [0 2], :process 11165, :time 100080806200, :error "indeterminate: Connection refused (Connection refused)", :index 22343}
{:type :info, :f :cas, :value [0 1], :process 11106, :time 100085723100, :error "indeterminate: Connection refused (Connection refused)", :index 22344}
{:type :info, :f :cas, :value [3 1], :process 11163, :time 100090081000, :error "indeterminate: Connection refused (Connection refused)", :index 22345}
{:type :invoke, :f :read, :value nil, :process 11170, :time 100090504400, :index 22346}
{:type :info, :f :read, :value nil, :process 11170, :time 100094592500, :error "indeterminate: Connection refused (Connection refused)", :index 22347}
{:type :invoke, :f :write, :value 3, :process 11309, :time 100101740000, :index 22348}
{:type :info, :f :write, :value 3, :process 11309, :time 100106622100, :error "indeterminate: Connection refused (Connection refused)", :index 22349}
{:type :invoke, :f :read, :value nil, :process 11314, :time 100119576600, :index 22350}
{:type :info, :f :read, :value nil, :process 11314, :time 100124624800, :error "indeterminate: Connection refused (Connection refused)", :index 22351}
{:type :invoke, :f :read, :value nil, :process 11111, :time 100127714400, :index 22352}
{:type :invoke, :f :cas, :value [1 4], :process 11072, :time 100130127900, :index 22353}
{:type :info, :f :read, :value nil, :process 11111, :time 100134663900, :error "indeterminate: Connection refused (Connection refused)", :index 22354}
{:type :info, :f :cas, :value [1 4], :process 11072, :time 100137039500, :error "indeterminate: Connection refused (Connection refused)", :index 22355}
{:type :invoke, :f :read, :value nil, :process 11319, :time 100137168100, :index 22356}
{:type :info, :f :read, :value nil, :process 11319, :time 100141613900, :error "indeterminate: Connection refused (Connection refused)", :index 22357}
{:type :invoke, :f :write, :value 2, :process 11175, :time 100144346900, :index 22358}
{:type :info, :f :write, :value 2, :process 11175, :time 100148354800, :error "indeterminate: Connection refused (Connection refused)", :index 22359}
{:type :invoke, :f :write, :value 4, :process 11168, :time 100158632100, :index 22360}
{:type :info, :f :write, :value 4, :process 11168, :time 100163283000, :error "indeterminate: Connection refused (Connection refused)", :index 22361}
{:type :invoke, :f :cas, :value [4 2], :process 11173, :time 100166556200, :index 22362}
{:type :invoke, :f :read, :value nil, :process 11077, :time 100169622500, :index 22363}
{:type :info, :f :cas, :value [4 2], :process 11173, :time 100174498400, :error "indeterminate: Connection refused (Connection refused)", :index 22364}
{:type :invoke, :f :cas, :value [0 0], :process 11324, :time 100176026600, :index 22365}
{:type :invoke, :f :read, :value nil, :process 11116, :time 100176390000, :index 22366}
{:type :info, :f :read, :value nil, :process 11077, :time 100181203500, :error "indeterminate: Connection refused (Connection refused)", :index 22367}
{:type :info, :f :cas, :value [0 0], :process 11324, :time 100184381900, :error "indeterminate: Connection refused (Connection refused)", :index 22368}
{:type :info, :f :read, :value nil, :process 11116, :time 100184978900, :error "indeterminate: Connection refused (Connection refused)", :index 22369}
{:type :invoke, :f :cas, :value [0 3], :process 11180, :time 100197513300, :index 22370}
{:type :invoke, :f :cas, :value [1 1], :process 11178, :time 100197785500, :index 22371}
{:type :info, :f :cas, :value [0 3], :process 11180, :time 100204169700, :error "indeterminate: Connection refused (Connection refused)", :index 22372}
{:type :info, :f :cas, :value [1 1], :process 11178, :time 100204080000, :error "indeterminate: Connection refused (Connection refused)", :index 22373}
{:type :invoke, :f :read, :value nil, :process 11121, :time 100216660700, :index 22374}
{:type :info, :f :read, :value nil, :process 11121, :time 100221440700, :error "indeterminate: Connection refused (Connection refused)", :index 22375}
