{:type :info, :f :start, :process :nemesis, :time 10241625300, :index 2337}
{:type :info, :f :start, :process :nemesis, :time 10303755000, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 2343}
{:type :info, :f :stop, :process :nemesis, :time 20304004900, :index 4669}
{:type :info, :f :stop, :process :nemesis, :time 20477402700, :value :network-healed, :index 4698}
{:type :info, :f :start, :process :nemesis, :time 30477856100, :index 6794}
{:type :info, :f :start, :process :nemesis, :time 30624731000, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 6821}
{:type :info, :f :stop, :process :nemesis, :time 40625014700, :index 8910}
{:type :info, :f :stop, :process :nemesis, :time 40881392900, :value :network-healed, :index 8951}
{:type :info, :f :start, :process :nemesis, :time 50881609500, :index 11194}
{:type :info, :f :start, :process :nemesis, :time 51009317200, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 11225}
{:type :invoke, :f :cas, :value [2 3], :process 6540, :time 60234049300, :index 13205}
{:type :info, :f :cas, :value [2 3], :process 6540, :time 60243737800, :error "indeterminate: Connection refused (Connection refused)", :index 13207}
