{:type :info, :f :start, :process :nemesis, :time 10196293200, :index 1984}
{:type :info, :f :start, :process :nemesis, :time 10542483900, :value [:isolated {"n2" #{"n5" "n4" "n3"}, "n1" #{"n5" "n4" "n3"}, "n5" #{"n2" "n1"}, "n4" #{"n2" "n1"}, "n3" #{"n2" "n1"}}], :index 2031}
{:type :info, :f :stop, :process :nemesis, :time 20545730500, :index 4046}
{:type :info, :f :stop, :process :nemesis, :time 20803334600, :value :network-healed, :index 4095}
{:type :info, :f :start, :process :nemesis, :time 30803608200, :index 6219}
{:type :info, :f :start, :process :nemesis, :time 30964832800, :value [:isolated {"n2" #{"n1" "n4" "n3"}, "n5" #{"n1" "n4" "n3"}, "n1" #{"n2" "n5"}, "n4" #{"n2" "n5"}, "n3" #{"n2" "n5"}}], :index 6241}
{:type :info, :f :stop, :process :nemesis, :time 40966027200, :index 8454}
{:type :info, :f :stop, :process :nemesis, :time 41184190200, :value :network-healed, :index 8497}
{:type :info, :f :start, :process :nemesis, :time 51184878400, :index 10745}
{:type :info, :f :start, :process :nemesis, :time 51326250200, :value [:isolated {"n5" #{"n2" "n4" "n3"}, "n1" #{"n2" "n4" "n3"}, "n2" #{"n5" "n1"}, "n4" #{"n5" "n1"}, "n3" #{"n5" "n1"}}], :index 10771}
{:type :invoke, :f :write, :value 3, :process 6288, :time 59607391600, :index 12607}
{:type :invoke, :f :read, :value nil, :process 6372, :time 59616096400, :index 12609}
{:type :info, :f :write, :value 3, :process 6288, :time 59644221100, :error "indeterminate: Connection refused (Connection refused)", :index 12611}
{:type :info, :f :read, :value nil, :process 6372, :time 59644360000, :error "indeterminate: Connection refused (Connection refused)", :index 12612}
{:type :invoke, :f :read, :value nil, :process 6285, :time 59645870500, :index 12614}
{:type :invoke, :f :cas, :value [1 1], :process 6304, :time 59656943200, :index 12615}
{:type :info, :f :read, :value nil, :process 6285, :time 59671575200, :error "indeterminate: Connection refused (Connection refused)", :index 12616}
{:type :info, :f :cas, :value [1 1], :process 6304, :time 59675109500, :error "indeterminate: Connection refused (Connection refused)", :index 12617}
{:type :invoke, :f :cas, :value [1 2], :process 6290, :time 59686863500, :index 12618}
{:type :info, :f :cas, :value [1 2], :process 6290, :time 59695942600, :error "indeterminate: Connection refused (Connection refused)", :index 12619}
{:type :invoke, :f :cas, :value [2 2], :process 6261, :time 59706028600, :index 12620}
{:type :invoke, :f :cas, :value [4 3], :process 6377, :time 59707542800, :index 12621}
{:type :info, :f :cas, :value [2 2], :process 6261, :time 59711465600, :error "indeterminate: Connection refused (Connection refused)", :index 12622}
{:type :info, :f :cas, :value [4 3], :process 6377, :time 59712684400, :error "indeterminate: Connection refused (Connection refused)", :index 12623}
{:type :invoke, :f :cas, :value [3 2], :process 6309, :time 59712955800, :index 12624}
{:type :invoke, :f :read, :value nil, :process 6295, :time 59715727800, :index 12625}
{:type :invoke, :f :write, :value 2, :process 6382, :time 59715730000, :index 12626}
{:type :invoke, :f :read, :value nil, :process 6293, :time 59721292800, :index 12627}
{:type :invoke, :f :read, :value nil, :process 6266, :time 59725812700, :index 12628}
{:type :info, :f :read, :value nil, :process 6293, :time 59733491100, :error "indeterminate: Connection refused (Connection refused)", :index 12629}
{:type :info, :f :read, :value nil, :process 6295, :time 59736161500, :error "indeterminate: Connection refused (Connection refused)", :index 12630}
{:type :info, :f :write, :value 2, :process 6382, :time 59741909400, :error "indeterminate: Connection refused (Connection refused)", :index 12631}
{:type :info, :f :read, :value nil, :process 6266, :time 59742758600, :error "indeterminate: Connection refused (Connection refused)", :index 12632}
{:type :info, :f :cas, :value [3 2], :process 6309, :time 59746195400, :error "indeterminate: Connection refused (Connection refused)", :index 12633}
{:type :invoke, :f :cas, :value [2 3], :process 6387, :time 59765393000, :index 12634}
{:type :info, :f :cas, :value [2 3], :process 6387, :time 59777049900, :error "indeterminate: Connection refused (Connection refused)", :index 12635}
{:type :invoke, :f :read, :value nil, :process 6300, :time 59777871600, :index 12636}
{:type :info, :f :read, :value nil, :process 6300, :time 59782314000, :error "indeterminate: Connection refused (Connection refused)", :index 12637}
{:type :invoke, :f :write, :value 3, :process 6298, :time 59799445200, :index 12638}
{:type :invoke, :f :write, :value 4, :process 6314, :time 59802477800, :index 12639}
{:type :invoke, :f :read, :value nil, :process 6271, :time 59806337600, :index 12640}
{:type :info, :f :read, :value nil, :process 6271, :time 59813946900, :error "indeterminate: Connection refused (Connection refused)", :index 12641}
{:type :info, :f :write, :value 4, :process 6314, :time 59815866700, :error "indeterminate: Connection refused (Connection refused)", :index 12642}
{:type :invoke, :f :write, :value 1, :process 6305, :time 59819796700, :index 12643}
{:type :info, :f :write, :value 3, :process 6298, :time 59823930600, :error "indeterminate: Connection refused (Connection refused)", :index 12644}
{:type :invoke, :f :read, :value nil, :process 6303, :time 59827527100, :index 12645}
{:type :invoke, :f :read, :value nil, :process 6392, :time 59838515200, :index 12646}
{:type :info, :f :read, :value nil, :process 6303, :time 59855384800, :error "indeterminate: Connection refused (Connection refused)", :index 12647}
{:type :invoke, :f :write, :value 1, :process 6276, :time 59853328900, :index 12648}
{:type :info, :f :write, :value 1, :process 6305, :time 59856401300, :error "indeterminate: Connection refused (Connection refused)", :index 12649}
{:type :invoke, :f :read, :value nil, :process 6319, :time 59860792100, :index 12650}
{:type :info, :f :write, :value 1, :process 6276, :time 59874485200, :error "indeterminate: Connection refused (Connection refused)", :index 12651}
{:type :info, :f :read, :value nil, :process 6319, :time 59874706100, :error "indeterminate: Connection refused (Connection refused)", :index 12652}
{:type :info, :f :read, :value nil, :process 6392, :time 59881753700, :error "indeterminate: Connection refused (Connection refused)", :index 12653}
{:type :invoke, :f :write, :value 3, :process 6308, :time 59886938500, :index 12654}
{:type :invoke, :f :cas, :value [1 3], :process 6281, :time 59892041000, :index 12655}
{:type :info, :f :write, :value 3, :process 6308, :time 59903676500, :error "indeterminate: Connection refused (Connection refused)", :index 12656}
{:type :info, :f :cas, :value [1 3], :process 6281, :time 59904032900, :error "indeterminate: Connection refused (Connection refused)", :index 12657}
{:type :invoke, :f :cas, :value [4 4], :process 6397, :time 59914339500, :index 12658}
{:type :invoke, :f :write, :value 1, :process 6324, :time 59920856400, :index 12659}
{:type :invoke, :f :write, :value 2, :process 6313, :time 59921482700, :index 12660}
{:type :invoke, :f :write, :value 0, :process 6310, :time 59923481400, :index 12661}
{:type :info, :f :write, :value 1, :process 6324, :time 59928014600, :error "indeterminate: Connection refused (Connection refused)", :index 12662}
{:type :invoke, :f :write, :value 1, :process 6329, :time 59931081400, :index 12663}
{:type :info, :f :cas, :value [4 4], :process 6397, :time 59939868800, :error "indeterminate: Connection refused (Connection refused)", :index 12664}
{:type :info, :f :write, :value 0, :process 6310, :time 59939759600, :error "indeterminate: Connection refused (Connection refused)", :index 12665}
{:type :info, :f :write, :value 1, :process 6329, :time 59946759000, :error "indeterminate: Connection refused (Connection refused)", :index 12666}
{:type :info, :f :write, :value 2, :process 6313, :time 59954473900, :error "indeterminate: Connection refused (Connection refused)", :index 12667}
{:type :invoke, :f :cas, :value [4 3], :process 6286, :time 59962054500, :index 12668}
{:type :info, :f :cas, :value [4 3], :process 6286, :time 59969033900, :error "indeterminate: Connection refused (Connection refused)", :index 12669}
{:type :invoke, :f :read, :value nil, :process 6318, :time 59969350200, :index 12670}
{:type :info, :f :read, :value nil, :process 6318, :time 59977438500, :error "indeterminate: Connection refused (Connection refused)", :index 12671}
{:type :invoke, :f :cas, :value [1 4], :process 6315, :time 59979113000, :index 12672}
{:type :invoke, :f :write, :value 0, :process 6323, :time 59983105500, :index 12673}
{:type :invoke, :f :read, :value nil, :process 6334, :time 59987165800, :index 12674}
{:type :info, :f :cas, :value [1 4], :process 6315, :time 59994226200, :error "indeterminate: Connection refused (Connection refused)", :index 12675}
{:type :info, :f :read, :value nil, :process 6334, :time 59995699900, :error "indeterminate: Connection refused (Connection refused)", :index 12676}
{:type :info, :f :write, :value 0, :process 6323, :time 59997899200, :error "indeterminate: Connection refused (Connection refused)", :index 12677}
{:type :invoke, :f :read, :value nil, :process 6402, :time 59999909800, :index 12678}
{:type :invoke, :f :cas, :value [4 3], :process 6291, :time 60005222500, :index 12679}
{:type :invoke, :f :read, :value nil, :process 6320, :time 60015073900, :index 12680}
{:type :info, :f :read, :value nil, :process 6402, :time 60020728700, :error "indeterminate: Connection refused (Connection refused)", :index 12681}
{:type :info, :f :cas, :value [4 3], :process 6291, :time 60022444300, :error "indeterminate: Connection refused (Connection refused)", :index 12682}
{:type :info, :f :read, :value nil, :process 6320, :time 60027978500, :error "indeterminate: Connection refused (Connection refused)", :index 12683}
{:type :invoke, :f :cas, :value [4 4], :process 6296, :time 60033064400, :index 12684}
{:type :invoke, :f :cas, :value [1 3], :process 6407, :time 60039258200, :index 12685}
{:type :info, :f :cas, :value [4 4], :process 6296, :time 60042101300, :error "indeterminate: Connection refused (Connection refused)", :index 12686}
{:type :info, :f :cas, :value [1 3], :process 6407, :time 60047279800, :error "indeterminate: Connection refused (Connection refused)", :index 12687}
{:type :invoke, :f :write, :value 3, :process 6339, :time 60047317600, :index 12688}
{:type :invoke, :f :cas, :value [3 2], :process 6325, :time 60047916000, :index 12689}
{:type :info, :f :write, :value 3, :process 6339, :time 60055986100, :error "indeterminate: Connection refused (Connection refused)", :index 12690}
{:type :info, :f :cas, :value [3 2], :process 6325, :time 60060756800, :error "indeterminate: Connection refused (Connection refused)", :index 12691}
{:type :invoke, :f :cas, :value [0 1], :process 6328, :time 60076207100, :index 12692}
{:type :invoke, :f :cas, :value [4 3], :process 6412, :time 60079690800, :index 12693}
{:type :info, :f :cas, :value [0 1], :process 6328, :time 60085386500, :error "indeterminate: Connection refused (Connection refused)", :index 12694}
{:type :info, :f :cas, :value [4 3], :process 6412, :time 60091694700, :error "indeterminate: Connection refused (Connection refused)", :index 12695}
{:type :invoke, :f :cas, :value [3 3], :process 6333, :time 60094027000, :index 12696}
{:type :invoke, :f :write, :value 2, :process 6330, :time 60098775000, :index 12697}
{:type :info, :f :cas, :value [3 3], :process 6333, :time 60102569400, :error "indeterminate: Connection refused (Connection refused)", :index 12698}
{:type :invoke, :f :write, :value 2, :process 6301, :time 60105914600, :index 12699}
{:type :invoke, :f :cas, :value [4 4], :process 6344, :time 60112683800, :index 12700}
{:type :info, :f :write, :value 2, :process 6330, :time 60121881900, :error "indeterminate: Connection refused (Connection refused)", :index 12701}
{:type :invoke, :f :write, :value 0, :process 6338, :time 60126381000, :index 12702}
{:type :info, :f :cas, :value [4 4], :process 6344, :time 60125660800, :error "indeterminate: Connection refused (Connection refused)", :index 12703}
{:type :info, :f :write, :value 2, :process 6301, :time 60129647900, :error "indeterminate: Connection refused (Connection refused)", :index 12704}
{:type :invoke, :f :read, :value nil, :process 6306, :time 60130715200, :index 12705}
{:type :invoke, :f :read, :value nil, :process 6349, :time 60134261400, :index 12706}
{:type :info, :f :write, :value 0, :process 6338, :time 60138981800, :error "indeterminate: Connection refused (Connection refused)", :index 12707}
{:type :info, :f :read, :value nil, :process 6306, :time 60146166800, :error "indeterminate: Connection refused (Connection refused)", :index 12708}
{:type :invoke, :f :read, :value nil, :process 6417, :time 60145345200, :index 12709}
{:type :info, :f :read, :value nil, :process 6349, :time 60154854700, :error "indeterminate: Connection refused (Connection refused)", :index 12710}
{:type :invoke, :f :cas, :value [2 4], :process 6335, :time 60155171000, :index 12711}
{:type :info, :f :read, :value nil, :process 6417, :time 60157255300, :error "indeterminate: Connection refused (Connection refused)", :index 12712}
{:type :invoke, :f :cas, :value [3 2], :process 6422, :time 60165965600, :index 12713}
{:type :info, :f :cas, :value [2 4], :process 6335, :time 60171141000, :error "indeterminate: Connection refused (Connection refused)", :index 12714}
{:type :invoke, :f :cas, :value [2 0], :process 6311, :time 60176502900, :index 12715}
{:type :invoke, :f :read, :value nil, :process 6340, :time 60186034800, :index 12716}
{:type :info, :f :cas, :value [3 2], :process 6422, :time 60196691500, :error "indeterminate: Connection refused (Connection refused)", :index 12717}
{:type :info, :f :cas, :value [2 0], :process 6311, :time 60208774400, :error "indeterminate: Connection refused (Connection refused)", :index 12718}
{:type :info, :f :read, :value nil, :process 6340, :time 60209213200, :error "indeterminate: Connection refused (Connection refused)", :index 12719}
