{:type :info, :f :start, :process :nemesis, :time 10237575100, :index 2254}
{:type :info, :f :start, :process :nemesis, :time 10372911100, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 2285}
{:type :info, :f :stop, :process :nemesis, :time 20376463900, :index 4515}
{:type :info, :f :stop, :process :nemesis, :time 20616639500, :value :network-healed, :index 4555}
{:type :info, :f :start, :process :nemesis, :time 30616886500, :index 6824}
{:type :info, :f :start, :process :nemesis, :time 30649067000, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 6827}
{:type :info, :f :stop, :process :nemesis, :time 40649544500, :index 9044}
{:type :info, :f :stop, :process :nemesis, :time 40887814000, :value :network-healed, :index 9098}
{:type :info, :f :start, :process :nemesis, :time 50887993600, :index 11354}
{:type :info, :f :start, :process :nemesis, :time 51050428400, :value [:isolated {"n1" #{"n2" "n5" "n3"}, "n4" #{"n2" "n5" "n3"}, "n2" #{"n1" "n4"}, "n5" #{"n1" "n4"}, "n3" #{"n1" "n4"}}], :index 11377}
{:type :invoke, :f :write, :value 0, :process 6596, :time 59592692600, :index 13208}
{:type :info, :f :write, :value 0, :process 6596, :time 59596871400, :error "indeterminate: Connection refused (Connection refused)", :index 13209}
{:type :invoke, :f :write, :value 3, :process 6593, :time 59612455100, :index 13211}
{:type :invoke, :f :write, :value 0, :process 6697, :time 59616312900, :index 13213}
{:type :info, :f :write, :value 3, :process 6593, :time 59620631000, :error "indeterminate: Connection refused (Connection refused)", :index 13214}
{:type :info, :f :write, :value 0, :process 6697, :time 59622641200, :error "indeterminate: Connection refused (Connection refused)", :index 13215}
{:type :invoke, :f :write, :value 1, :process 6629, :time 59624203000, :index 13216}
{:type :info, :f :write, :value 1, :process 6629, :time 59628741600, :error "indeterminate: Connection refused (Connection refused)", :index 13217}
{:type :invoke, :f :cas, :value [0 4], :process 6634, :time 59630736000, :index 13218}
{:type :invoke, :f :cas, :value [0 4], :process 6601, :time 59633782300, :index 13219}
{:type :info, :f :cas, :value [0 4], :process 6601, :time 59639742000, :error "indeterminate: Connection refused (Connection refused)", :index 13220}
{:type :invoke, :f :read, :value nil, :process 6495, :time 59642998800, :index 13221}
{:type :info, :f :cas, :value [0 4], :process 6634, :time 59643860700, :error "indeterminate: Connection refused (Connection refused)", :index 13222}
{:type :invoke, :f :cas, :value [0 3], :process 6606, :time 59644837400, :index 13223}
{:type :info, :f :read, :value nil, :process 6495, :time 59648495000, :error "indeterminate: Connection refused (Connection refused)", :index 13224}
{:type :info, :f :cas, :value [0 3], :process 6606, :time 59652665700, :error "indeterminate: Connection refused (Connection refused)", :index 13225}
{:type :invoke, :f :write, :value 1, :process 6702, :time 59653504800, :index 13226}
{:type :invoke, :f :read, :value nil, :process 6639, :time 59654599800, :index 13227}
{:type :info, :f :write, :value 1, :process 6702, :time 59659519500, :error "indeterminate: Connection refused (Connection refused)", :index 13228}
{:type :info, :f :read, :value nil, :process 6639, :time 59660987100, :error "indeterminate: Connection refused (Connection refused)", :index 13229}
{:type :invoke, :f :write, :value 3, :process 6611, :time 59661148400, :index 13230}
{:type :info, :f :write, :value 3, :process 6611, :time 59669312400, :error "indeterminate: Connection refused (Connection refused)", :index 13231}
{:type :invoke, :f :read, :value nil, :process 6616, :time 59682997000, :index 13232}
{:type :invoke, :f :write, :value 3, :process 6644, :time 59683719300, :index 13233}
{:type :invoke, :f :cas, :value [4 0], :process 6598, :time 59687035500, :index 13234}
{:type :info, :f :write, :value 3, :process 6644, :time 59692865900, :error "indeterminate: Connection refused (Connection refused)", :index 13235}
{:type :info, :f :cas, :value [4 0], :process 6598, :time 59693896300, :error "indeterminate: Connection refused (Connection refused)", :index 13236}
{:type :invoke, :f :cas, :value [1 3], :process 6500, :time 59695545600, :index 13237}
{:type :invoke, :f :write, :value 2, :process 6649, :time 59698317000, :index 13238}
{:type :info, :f :cas, :value [1 3], :process 6500, :time 59702688100, :error "indeterminate: Connection refused (Connection refused)", :index 13239}
{:type :info, :f :write, :value 2, :process 6649, :time 59704733700, :error "indeterminate: Connection refused (Connection refused)", :index 13240}
{:type :invoke, :f :write, :value 3, :process 6707, :time 59705457200, :index 13241}
{:type :info, :f :read, :value nil, :process 6616, :time 59707130900, :error "indeterminate: Connection refused (Connection refused)", :index 13242}
{:type :info, :f :write, :value 3, :process 6707, :time 59712706400, :error "indeterminate: Connection refused (Connection refused)", :index 13243}
{:type :invoke, :f :read, :value nil, :process 6505, :time 59712642500, :index 13244}
{:type :info, :f :read, :value nil, :process 6505, :time 59723314100, :error "indeterminate: Connection refused (Connection refused)", :index 13245}
{:type :invoke, :f :read, :value nil, :process 6654, :time 59728544200, :index 13246}
{:type :invoke, :f :cas, :value [3 3], :process 6621, :time 59728465000, :index 13247}
{:type :invoke, :f :write, :value 3, :process 6603, :time 59742430700, :index 13248}
{:type :info, :f :read, :value nil, :process 6654, :time 59747209700, :error "indeterminate: Connection refused (Connection refused)", :index 13249}
{:type :info, :f :cas, :value [3 3], :process 6621, :time 59749273300, :error "indeterminate: Connection refused (Connection refused)", :index 13250}
{:type :info, :f :write, :value 3, :process 6603, :time 59754555900, :error "indeterminate: Connection refused (Connection refused)", :index 13251}
{:type :invoke, :f :cas, :value [3 0], :process 6510, :time 59761153900, :index 13252}
{:type :invoke, :f :write, :value 0, :process 6608, :time 59762852000, :index 13253}
{:type :info, :f :cas, :value [3 0], :process 6510, :time 59766142000, :error "indeterminate: Connection refused (Connection refused)", :index 13254}
{:type :info, :f :write, :value 0, :process 6608, :time 59775120800, :error "indeterminate: Connection refused (Connection refused)", :index 13255}
{:type :invoke, :f :write, :value 3, :process 6712, :time 59778927100, :index 13256}
{:type :info, :f :write, :value 3, :process 6712, :time 59785410900, :error "indeterminate: Connection refused (Connection refused)", :index 13257}
{:type :invoke, :f :read, :value nil, :process 6659, :time 59802368200, :index 13258}
{:type :info, :f :read, :value nil, :process 6659, :time 59806914800, :error "indeterminate: Connection refused (Connection refused)", :index 13259}
{:type :invoke, :f :cas, :value [2 0], :process 6515, :time 59809962500, :index 13260}
{:type :invoke, :f :cas, :value [1 4], :process 6613, :time 59813089100, :index 13261}
{:type :invoke, :f :cas, :value [4 4], :process 6626, :time 59813695000, :index 13262}
{:type :invoke, :f :write, :value 2, :process 6717, :time 59818038500, :index 13263}
{:type :info, :f :cas, :value [2 0], :process 6515, :time 59827380700, :error "indeterminate: Connection refused (Connection refused)", :index 13264}
{:type :info, :f :cas, :value [4 4], :process 6626, :time 59827545600, :error "indeterminate: Connection refused (Connection refused)", :index 13265}
{:type :info, :f :cas, :value [1 4], :process 6613, :time 59829672100, :error "indeterminate: Connection refused (Connection refused)", :index 13266}
{:type :info, :f :write, :value 2, :process 6717, :time 59835941500, :error "indeterminate: Connection refused (Connection refused)", :index 13267}
{:type :invoke, :f :read, :value nil, :process 6722, :time 59844208600, :index 13268}
{:type :info, :f :read, :value nil, :process 6722, :time 59853907600, :error "indeterminate: Connection refused (Connection refused)", :index 13269}
{:type :invoke, :f :read, :value nil, :process 6664, :time 59857485700, :index 13270}
{:type :info, :f :read, :value nil, :process 6664, :time 59861574700, :error "indeterminate: Connection refused (Connection refused)", :index 13271}
{:type :invoke, :f :cas, :value [3 1], :process 6631, :time 59866778400, :index 13272}
{:type :info, :f :cas, :value [3 1], :process 6631, :time 59873269700, :error "indeterminate: Connection refused (Connection refused)", :index 13273}
{:type :invoke, :f :write, :value 2, :process 6669, :time 59873960300, :index 13274}
{:type :info, :f :write, :value 2, :process 6669, :time 59878506600, :error "indeterminate: Connection refused (Connection refused)", :index 13275}
{:type :invoke, :f :cas, :value [3 2], :process 6727, :time 59880647500, :index 13276}
{:type :info, :f :cas, :value [3 2], :process 6727, :time 59888772500, :error "indeterminate: Connection refused (Connection refused)", :index 13277}
{:type :invoke, :f :cas, :value [4 4], :process 6520, :time 59896309500, :index 13278}
{:type :invoke, :f :write, :value 3, :process 6618, :time 59902173000, :index 13279}
{:type :invoke, :f :read, :value nil, :process 6636, :time 59907011500, :index 13280}
{:type :info, :f :write, :value 3, :process 6618, :time 59915489100, :error "indeterminate: Connection refused (Connection refused)", :index 13281}
{:type :info, :f :read, :value nil, :process 6636, :time 59920246000, :error "indeterminate: Connection refused (Connection refused)", :index 13282}
{:type :info, :f :cas, :value [4 4], :process 6520, :time 59922021400, :error "indeterminate: Connection refused (Connection refused)", :index 13283}
{:type :invoke, :f :cas, :value [3 0], :process 6732, :time 59922710200, :index 13284}
{:type :info, :f :cas, :value [3 0], :process 6732, :time 59930471700, :error "indeterminate: Connection refused (Connection refused)", :index 13285}
{:type :invoke, :f :read, :value nil, :process 6674, :time 59934833200, :index 13286}
{:type :info, :f :read, :value nil, :process 6674, :time 59939988600, :error "indeterminate: Connection refused (Connection refused)", :index 13287}
{:type :invoke, :f :cas, :value [4 4], :process 6641, :time 59954556700, :index 13288}
{:type :info, :f :cas, :value [4 4], :process 6641, :time 59958958800, :error "indeterminate: Connection refused (Connection refused)", :index 13289}
{:type :invoke, :f :cas, :value [3 1], :process 6646, :time 59964944400, :index 13290}
{:type :info, :f :cas, :value [3 1], :process 6646, :time 59972071100, :error "indeterminate: Connection refused (Connection refused)", :index 13291}
{:type :invoke, :f :write, :value 1, :process 6651, :time 59977487400, :index 13292}
{:type :invoke, :f :read, :value nil, :process 6623, :time 59981026000, :index 13293}
{:type :invoke, :f :write, :value 1, :process 6525, :time 59983696400, :index 13294}
{:type :invoke, :f :write, :value 4, :process 6679, :time 59985771600, :index 13295}
{:type :invoke, :f :write, :value 2, :process 6737, :time 59989662300, :index 13296}
{:type :info, :f :read, :value nil, :process 6623, :time 59990901800, :error "indeterminate: Connection refused (Connection refused)", :index 13297}
{:type :info, :f :write, :value 1, :process 6651, :time 59999752900, :error "indeterminate: Connection refused (Connection refused)", :index 13298}
{:type :info, :f :write, :value 2, :process 6737, :time 60002471700, :error "indeterminate: Connection refused (Connection refused)", :index 13299}
{:type :info, :f :write, :value 4, :process 6679, :time 60005404700, :error "indeterminate: Connection refused (Connection refused)", :index 13300}
{:type :info, :f :write, :value 1, :process 6525, :time 60007313400, :error "indeterminate: Connection refused (Connection refused)", :index 13301}
{:type :invoke, :f :read, :value nil, :process 6656, :time 60034229000, :index 13302}
{:type :invoke, :f :write, :value 4, :process 6530, :time 60035551500, :index 13303}
{:type :info, :f :write, :value 4, :process 6530, :time 60041594800, :error "indeterminate: Connection refused (Connection refused)", :index 13304}
{:type :invoke, :f :cas, :value [2 0], :process 6628, :time 60042470300, :index 13305}
{:type :info, :f :cas, :value [2 0], :process 6628, :time 60048371200, :error "indeterminate: Connection refused (Connection refused)", :index 13306}
{:type :invoke, :f :read, :value nil, :process 6633, :time 60056659000, :index 13307}
{:type :info, :f :read, :value nil, :process 6656, :time 60061803900, :error "indeterminate: Connection refused (Connection refused)", :index 13308}
{:type :invoke, :f :write, :value 3, :process 6684, :time 60065715200, :index 13309}
{:type :info, :f :read, :value nil, :process 6633, :time 60068956400, :error "indeterminate: Connection refused (Connection refused)", :index 13310}
{:type :invoke, :f :read, :value nil, :process 6742, :time 60071124800, :index 13311}
{:type :info, :f :write, :value 3, :process 6684, :time 60080714800, :error "indeterminate: Connection refused (Connection refused)", :index 13312}
{:type :invoke, :f :cas, :value [4 1], :process 6661, :time 60081979100, :index 13313}
{:type :info, :f :read, :value nil, :process 6742, :time 60086681100, :error "indeterminate: Connection refused (Connection refused)", :index 13314}
{:type :info, :f :cas, :value [4 1], :process 6661, :time 60094802700, :error "indeterminate: Connection refused (Connection refused)", :index 13315}
{:type :invoke, :f :write, :value 4, :process 6638, :time 60101758000, :index 13316}
{:type :info, :f :write, :value 4, :process 6638, :time 60107193000, :error "indeterminate: Connection refused (Connection refused)", :index 13317}
{:type :invoke, :f :cas, :value [2 3], :process 6666, :time 60111891300, :index 13318}
{:type :info, :f :cas, :value [2 3], :process 6666, :time 60117927400, :error "indeterminate: Connection refused (Connection refused)", :index 13319}
{:type :invoke, :f :write, :value 2, :process 6535, :time 60118563100, :index 13320}
{:type :invoke, :f :cas, :value [1 2], :process 6643, :time 60125564600, :index 13321}
{:type :info, :f :write, :value 2, :process 6535, :time 60129918400, :error "indeterminate: Connection refused (Connection refused)", :index 13322}
{:type :info, :f :cas, :value [1 2], :process 6643, :time 60134400700, :error "indeterminate: Connection refused (Connection refused)", :index 13323}
{:type :invoke, :f :cas, :value [0 2], :process 6671, :time 60139688400, :index 13324}
{:type :info, :f :cas, :value [0 2], :process 6671, :time 60144426500, :error "indeterminate: Connection refused (Connection refused)", :index 13325}
{:type :invoke, :f :read, :value nil, :process 6689, :time 60146695900, :index 13326}
{:type :invoke, :f :write, :value 1, :process 6747, :time 60152022000, :index 13327}
{:type :info, :f :read, :value nil, :process 6689, :time 60153045200, :error "indeterminate: Connection refused (Connection refused)", :index 13328}
{:type :invoke, :f :cas, :value [0 3], :process 6676, :time 60154988300, :index 13329}
{:type :invoke, :f :read, :value nil, :process 6540, :time 60155149700, :index 13330}
{:type :info, :f :write, :value 1, :process 6747, :time 60157827700, :error "indeterminate: Connection refused (Connection refused)", :index 13331}
{:type :info, :f :read, :value nil, :process 6540, :time 60161366100, :error "indeterminate: Connection refused (Connection refused)", :index 13332}
{:type :info, :f :cas, :value [0 3], :process 6676, :time 60163816800, :error "indeterminate: Connection refused (Connection refused)", :index 13333}
{:type :invoke, :f :write, :value 4, :process 6681, :time 60169326900, :index 13334}
{:type :info, :f :write, :value 4, :process 6681, :time 60173949500, :error "indeterminate: Connection refused (Connection refused)", :index 13335}
{:type :invoke, :f :write, :value 1, :process 6694, :time 60179005700, :index 13336}
{:type :invoke, :f :write, :value 1, :process 6648, :time 60179126700, :index 13337}
{:type :info, :f :write, :value 1, :process 6694, :time 60185064000, :error "indeterminate: Connection refused (Connection refused)", :index 13338}
{:type :info, :f :write, :value 1, :process 6648, :time 60186116600, :error "indeterminate: Connection refused (Connection refused)", :index 13339}
{:type :invoke, :f :cas, :value [3 0], :process 6545, :time 60211228800, :index 13340}
{:type :info, :f :cas, :value [3 0], :process 6545, :time 60214857200, :error "indeterminate: Connection refused (Connection refused)", :index 13341}
{:type :invoke, :f :write, :value 1, :process 6752, :time 60218584800, :index 13342}
{:type :info, :f :write, :value 1, :process 6752, :time 60224635100, :error "indeterminate: Connection refused (Connection refused)", :index 13343}
{:type :invoke, :f :write, :value 3, :process 6653, :time 60225640900, :index 13344}
{:type :invoke, :f :read, :value nil, :process 6686, :time 60229354700, :index 13345}
{:type :info, :f :write, :value 3, :process 6653, :time 60234536800, :error "indeterminate: Connection refused (Connection refused)", :index 13346}
{:type :info, :f :read, :value nil, :process 6686, :time 60238150300, :error "indeterminate: Connection refused (Connection refused)", :index 13347}
