{:type :info, :f :start, :process :nemesis, :time 10240370600, :index 2078}
{:type :info, :f :start, :process :nemesis, :time 10368969000, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 2098}
{:type :info, :f :stop, :process :nemesis, :time 20369190000, :index 4215}
{:type :info, :f :stop, :process :nemesis, :time 20603866500, :value :network-healed, :index 4270}
{:type :info, :f :start, :process :nemesis, :time 30604168100, :index 6361}
{:type :info, :f :start, :process :nemesis, :time 30749305100, :value [:isolated {"n1" #{"n2" "n5" "n4"}, "n3" #{"n2" "n5" "n4"}, "n2" #{"n1" "n3"}, "n5" #{"n1" "n3"}, "n4" #{"n1" "n3"}}], :index 6378}
{:type :info, :f :stop, :process :nemesis, :time 40749963900, :index 8434}
{:type :info, :f :stop, :process :nemesis, :time 40948629800, :value :network-healed, :index 8467}
{:type :info, :f :start, :process :nemesis, :time 50950059800, :index 10646}
{:type :info, :f :start, :process :nemesis, :time 51110986200, :value [:isolated {"n4" #{"n2" "n5" "n1"}, "n3" #{"n2" "n5" "n1"}, "n2" #{"n4" "n3"}, "n5" #{"n4" "n3"}, "n1" #{"n4" "n3"}}], :index 10673}
{:type :invoke, :f :cas, :value [3 2], :process 6385, :time 60209379900, :index 12606}
{:type :info, :f :cas, :value [3 2], :process 6385, :time 60225185100, :error "indeterminate: Connection refused (Connection refused)", :index 12610}
